[submodule "assets/coffeescripts/plugins/symbolset"]
	path = assets/coffeescripts/plugins/symbolset
	url = git@github.com:hiof/symbolset-js.git
[submodule "assets/fonts/symbolset"]
	path = assets/fonts/symbolset
	url = git@github.com:hiof/symbolset-fonts.git
[submodule "assets/sass/plugins/symbolset"]
	path = assets/sass/plugins/symbolset
	url = git@github.com:hiof/symbolset-css.git
[submodule "assets/coffeescripts/plugins/neted"]
	path = assets/coffeescripts/plugins/neted
	url = git@github.com:hiof/neted-js.git
[submodule "assets/sass/plugins/neted"]
	path = assets/sass/plugins/neted
	url = git@github.com:hiof/neted-css.git
