<section id="content">
  <section class="lo-full">
    <header>
      <h2>Kontakt</h2>
    </header>


    <table>
      <thead>
        <tr>
          <th>Driftsenhet</th>
          <th data-hide="phone,tablet">Postadresse</th>
          <th data-hide="tablet">Besøksadresse</th>
          <th data-hide="all">E-post</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Akademi for scenekunst</td>
          <td>Høgskolen i Østfold
            <br>Akademi for scenekunst
            <br>Postboks 700
            <br>1757 Halden</td>
          <td>Kobberslagerstredet 3, Kråkerøy</td>
          <td><a href="mailto:postmottak@hiof.no" target="_parent">postmottak@hiof.no</a>
          </td>
        </tr>
        <tr>
          <td>Avd. for
            <br>helse- og sosialfag</td>
          <td>Høgskolen i Østfold
            <br>Avd. for helse- og sosialfag
            <br>Postboks 700
            <br>1757 Halden</td>
          <td>Kobberslagerstredet 5, Kråkerøy</td>
          <td><a href="mailto:postmottak@hiof.no" target="_parent">postmottak@hiof.no</a>
          </td>
        </tr>
        <tr>
          <td>Avd. for informasjonsteknologi</td>
          <td>Høgskolen i Østfold
            <br>Avd. for informasjonsteknologi
            <br>Postboks 700
            <br>1757 Halden</td>
          <td>B R A veien 4
            <br>Remmen, Halden</td>
          <td><a href="mailto:postmottak@hiof.no" target="_parent">postmottak@hiof.no</a>
          </td>
        </tr>
        <tr>
          <td>Avd. for ingeniørfag</td>
          <td>Høgskolen i Østfold
            <br>Avd. for ingeniørfag
            <br>Postboks 700
            <br>1757 Halden</td>
          <td>Kobberslagerstredet 5, Kråkerøy</td>
          <td><a href="mailto:postmottak@hiof.no" target="_parent">postmottak@hiof.no</a>
          </td>
        </tr>
        <tr>
          <td>Avd. for lærerutdanning</td>
          <td>Høgskolen i Østfold
            <br>Avd. for lærerutdanning
            <br>Postboks 700
            <br>1757 Halden</td>
          <td>B R A veien 4
            <br>Remmen, Halden</td>
          <td><a href="mailto:postmottak@hiof.no" target="_parent">postmottak@hiof.no</a>
          </td>
        </tr>
        <tr>
          <td>Avd. for
            <br>økonomi, språk og samfunnsfag</td>
          <td>Høgskolen i Østfold
            <br>Avd. for økonomi, språk og samfunnsfag
            <br>Postboks 700
            <br>1757 Halden</td>
          <td>B R A veien 4
            <br>Remmen, Halden</td>
          <td><a href="mailto:postmottak@hiof.no" target="_parent">postmottak@hiof.no</a>
          </td>
        </tr>
        <tr>
          <td>Biblioteket</td>
          <td>Høgskolen i Østfold
            <br>Biblioteket
            <br>Postboks 700
            <br>1757 Halden</td>
          <td>Remmen, Halden
            <br>og ved den enkelte enhet</td>
          <td><a href="http://www2.bib.hiof.no/index.php?ID=1001&amp;lang=nor" target="_parent">studiestedsbibliotek</a>
          </td>
        </tr>
        <tr>
          <td>Bygningsmessig drift</td>
          <td>Høgskolen i Østfold
            <br>Bygningsmessig drift
            <br>Postboks 700
            <br>1757 Halden</td>
          <td>B R A veien 4
            <br>Remmen, Halden</td>
          <td><a href="mailto:postmottak@hiof.no" target="_parent">postmottak@hiof.no</a>
          </td>
        </tr>
        <tr>
          <td>Fellestjenesten</td>
          <td>Høgskolen i Østfold
            <br>Fellestjenesten
            <br>Postboks 700
            <br>1757 Halden</td>
          <td>B R A &nbsp;veien 4
            <br>Remmen, Halden</td>
          <td><a href="mailto:postmottak@hiof.no" target="_parent">postmottak@hiof.no</a>
            <a href="mailto:post-fa@hiof.no"></a>
          </td>
        </tr>
        <tr>
          <td>IT-drift</td>
          <td>Høgskolen i Østfold
            <br>IT-drift
            <br>Postboks 700
            <br>1757 Halden</td>
          <td>Remmen, Halden
            <br>og ved den enkelte enhet</td>
          <td><a href="mailto:postmottak@hiof.no" target="_parent">postmottak@hiof.no</a>
          </td>
        </tr>
        <tr>
          <td>Senter for kompetanseutvikling
            <br>- SKUT</td>
          <td>Høgskolen i Østfold
            <br>SKUT
            <br>Postboks 700
            <br>1757 Halden</td>
          <td>B R A veien 4
            <br>Remmen, Halden</td>
          <td><a href="mailto:skut@hiof.no" target="_parent">skut@hiof.no</a>
          </td>
        </tr>
      </tbody>
    </table>


  </section>
<!--
  <section class="lo-half">
    <header>
      <h2>Campus Fredrikstad</h2>
    </header>

    <iframe width="460" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=Aremark,+Ostfold,+Norway&amp;msa=0&amp;msid=210146799033828326935.00048d7d6a6244119ba45&amp;source=embed&amp;t=m&amp;ll=59.212192,10.93174&amp;spn=0.014937,0.039396&amp;z=14&amp;output=embed"></iframe>
  </section>

  <section class="lo-half">
    <header>
      <h2>Campus Halden</h2>
    </header>
    <iframe width="460" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=210146799033828326935.00048d7cffb1b3312a84e&amp;source=embed&amp;t=m&amp;ll=59.127516,11.355057&amp;spn=0.059897,0.157585&amp;z=12&amp;output=embed"></iframe>
  </section>
</section>
-->
