<section id="content" class="lo-auron-2-3">
  <h1>Overordnet ansvarlige</h1>

  <h2>Innhold og informasjon</h2>
  <p>Høgskolen følgende ressurser til innholdsproduksjon og vedlikehold av informasjon på aktuelle nettsider. Det er enhetene selv som har ansvar for oppdaterte nettsider.</p>
  <ul>
    <li>Informasjonskonsulent <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=6&amp;module=admin">Bård Halvorsen</a>, nettsaker og vedlikeholdsansvar på dedikerte sider.</li>
    <li>Kommunikasjonsrådgiver (fung. informasjonssjef) <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=18020&amp;module=admin">Nina Skajaa Fredheim</a>, nettsaker FoU og vedlikeholdsansvar på dedikerte sider.</li>
    <li>Informasjonskonsulent <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/sok/?&amp;displayitem=13631&amp;module=admin">Lisa L. Björk</a>, nettsaker og vedlikeholdsansvar på dedikerte sider.</li>
    <li>Kontaktperson for endringer i <a href="/index.php?ID=13939">studiekatalogen på nett</a> er <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=29473&amp;module=admin">Agnes K. Sirland</a>.</li>
  </ul>
  <h3>Andre enheter i Fellestjenesten</h3>
  <ul>
    <li>Personal og organisasjonsenheten - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=9353&amp;module=admin">Inger Lise Røsnæs</a>
    </li>
    <li>Økonomi og driftsenheten - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=169&amp;module=admin">Anne Mette Grandahl</a>
    </li>
    <li>Studie og forskningsenheten - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=7347&amp;module=admin">Inger Steiner Børresen</a>
    </li>
    <li>Senter for kompetanseutvikling - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=7047&amp;module=admin">Bjørg Knoph</a>
    </li>
    <li>IT-drift - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=208&amp;module=admin">Anne Grethe Bremnes</a>
    </li>
    <li>Biblioteket - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=596&amp;module=admin">Tore Buarøy</a>
    </li>
    <li>Studiestedsadministrasjon Fredrikstad - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=28240&amp;module=admin">Ann-Kristin Johannsen</a>
    </li>
    <li>Studiestedsadministrasjon Halden - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=25868&amp;module=admin">Ann-Charlot Brandstorp</a>
    </li>
  </ul>
  <h3>Avdelinger og akademi</h3>
  <ul>
    <li>Avdeling for helse og sosialfag - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=28240&amp;module=admin">Ann-Kristin Johannsen</a>
    </li>
    <li>Avdeling for ingeniør og realfag - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=28240&amp;module=admin">Ann-Kristin Johannsen</a>
    </li>
    <li>Avdeling for informasjonsteknologi - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=23&amp;module=admin">Annette Øyen</a>
    </li>
    <li>Avdeling for lærerutdanning - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=11253&amp;module=admin">Tove Sørum</a>
    </li>
    <li>Avdeling for økonomi, samfunnsfag og språk - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=7448&amp;module=admin">Natalie Tvete Pettersen</a>
    </li>
    <li>Akademi for scenekunst - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=28240&amp;module=admin">Ann-Kristin Johannsen</a>
    </li>
  </ul>

  <h2>Teknisk vedlikehold, nyutvikling, etc.</h2>
  <ul>
    <li>Webmaster/teknisk utvikler- <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/sok/?&amp;displayitem=8148&amp;module=admin">Kenneth Dahlstrøm</a>
    </li>
    <li>Informasjonssjef - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=5&amp;module=admin">Tore Petter Engen</a>
    </li>
  </ul>
  <p>Alle løpende forespørsler til <a href="/index.php?ID=22459" title="Kontakt webteknisk">webteknisk</a> blir i tillegg til disse to, besvart av <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=208&amp;module=admin">Anne Grethe Bremnes</a> på <a href="http://www.hiof.no/nor/it_drift">IT-drift</a>. Mail gjennom skjemaet til webteknisk blir automatisk lagt inn i vårt ticketsystem, og vil bli besvart fortløpende.</p>



    <h2>Andre enheter tilknyttet Høgskolen i Østfold sine nettsider</h2>
  <ul>
    <li>Studentparlamentet - studentorganisasjonen - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=2202&amp;module=admin">Aisa Fredh</a>
    </li>
    <li>Fremmedspråksenteret - <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=783&amp;module=admin">Tina L. Bucholm</a>
      <a href="http://siost.hiof.no"></a>
    </li>
  </ul>
  <p><a href="http://siost.hiof.no">Studentsamskipnaden i Østfold</a> driftes og vedlikeholdes utenfor HIØ sin kontroll.</p>
</section>
