<div class="cover-inline"></div>
<section id="content">
  <div class="divStudieinfoKatalog studieinfoFieldKS001">
    <h1 class="studieinfoTitle H1style">
      Dataingeniør
    </h1>
  </div>

  <div class="divStudieinfoKatalog studieinfoFieldKS019">

    <img src="assets/images/Tom-og-Ingrid-i-Biblioteket2.jpg">


    <h2 class="studieinfoTitle H2style">
      Generelt om studiet</h2>
    <p class="">Dataløsningene fra i går er sjelden egnet til å løse morgendagens behov. Som dataingeniør er du med på å utvikle systemene som skal prege framtiden. En ingeniør er lært opp til å se faget sitt i sammenheng med samfunnet rundt seg og forstå kompliserte strukturer. Med denne utdanningen kan du bidra på alle felt innenfor data- og IT-sektoren.</p>
    <p>De første to årene vil du lære grunnleggende datafag som programmering, databaser, operativsystemer og datakommunikasjon. Realfag og samfunnsfag er også viktige i en ingeniørutdanning og undervises også de første to årene. I tredje studieår vil du lære om intelligente systemer og bruk av IT i virksomheter og industri. Her lager du programmer som håndterer både tekniske og administrative systemer i en bedrift. Det er praktisk vinkling på de fleste fag, og du vil jobbe med problemstillinger som er hentet fra industri, næringsliv og offentlig forvaltning. Særlig gjelder dette den avsluttende bacheloroppgaven i sjette semester.</p>
    <p>Det er mulig å ta ett eller to semestre ved en av våre samarbeidsinstitusjoner i utlandet. Dette foregår eventuelt i andre eller tredje studieår.</p>
  </div>
  <a name="KS033"></a>

    <div class="media-frame">
      <iframe width="640" height="360" src="//www.youtube.com/embed/JHQMb2EPajo" frameborder="0" allowfullscreen></iframe>
    </div>


  <div class="divStudieinfoKatalog studieinfoFieldKS033">
    <h2 class="studieinfoTitle H2style">
      Opptakskrav</h2>
    <div class="studieinfoAdmission">
      <p>Et av følgende:</p>
      <ul>
        <li>generell studiekompetanse/realkompetanse og matematikk (R1+R2) og fysikk (FYS1), eller</li>
        <li>generell studiekompetanse og bestått realfagkurs, eller</li>
        <li>2-årig teknisk fagskole etter rammeplan fastsatt av departementet 1998/99 og tidligere studieordninger, eller</li>
        <li>nyere, godkjent teknisk fagskoleutdanning med dokumenterte kunnskaper i matematikk og fysikk tilsvarende matematikk (R1+R2) og fysikk (FYS1) eller</li>
        <li>bestått 1-årig forkurs for ingeniør- og maritim høyskoleutdanning</li>
      </ul>

    </div>
  </div>
  <a name="KS014"></a>
  <div class="divStudieinfoKatalog studieinfoFieldKS014">
    <h2 class="studieinfoTitle H2style">
      Videre utdanning</h2>
    <p>Bestått&nbsp;studium kvalifiserer for opptak til vårt eget masterstudium i anvendt informatikk. Du vil også være kvalifisert til å søke andre masterstudier ved universiteter og høgskoler i inn- og utland.</p>
  </div>
  <a name="KS015"></a>
  <div class="divStudieinfoKatalog studieinfoFieldKS015">
    <h2 class="studieinfoTitle H2style">
      Yrkesmuligheter</h2>
    <p>Det er stort behov for personer med gode IT-kunnskaper i alle deler av samfunnet. Kandidater med bachelorgrad i ingeniørfag, data er etterspurte til stillinger som dataingeniør, programmerer, systemutvikler, IT-konsulent, prosjektleder, driftsansvarlig eller til utvikling av smarte IT-løsninger innen industri-, energi-, helse- og miljøsektoren.</p>
  </div>

</section>



<aside id="sidebar">
<section class="lo-full">
  <h4>Søknadsfrist</h4>
  <p>Dette studiet har søknadsfrist 15. april gjennom sammordna opptak.</p>
</section>
<section class="lo-half">
  <a href="#" class="btn btn-primary lo-full">Søk studie</a>

</section>
<section class="lo-half">
  
  <a href="#" class="btn btn-primary btn-line lo-full">studieplaner</a>

</section>
<section class="lo-full study-course-facts">
  <h4>Kortfakta om studie</h4>
 <dl> 
  <dt>Studiepoeng</dt>
    <dd>180</dd>
  <dt>Varighet</dt>
    <dd>Heltid, 3 år</dd>
  <dt>Studiestart</dt>
    <dd>Høst 2014</dd>
  <dt>Undervisningsspråk</dt>
    <dd>Norsk</dd>
  <dt>Studiested</dt>
    <dd>Halden</dd>
 </dl>
</section>
</aside>


<script type="text/javascript">
$(function() {
  $("html").addClass("cover page");
});
</script>

