<section id="content" class="lo-auron-2-3">

  <header>
    <h2>Skjema</h2>
  </header>

  <form action="#" method="post">
    <div>
      <label for="name" class="control-label">Text Input:</label>
      <input type="text" name="name" id="name" value="" tabindex="1" class="form-control" />
    </div>

    <div class="radio">
      <label for="radio-choice-1" class="control-label">Choice 1</label>
      <input type="radio" name="radio-choice" id="radio-choice-1" tabindex="2" value="choice-1" />
    </div>
    <div class="radio">
      <label for="radio-choice-2" class="control-label">Choice 2</label>
      <input type="radio" name="radio-choice" id="radio-choice-2" tabindex="3" value="choice-2" />
    </div>

    <div class="form-group">
      <label for="select-choice" class="control-label">Select Dropdown Choice:</label>
      <select name="select-choice" id="select-choice" class="form-control">
        <option value="Choice 1">Choice 1</option>
        <option value="Choice 2">Choice 2</option>
        <option value="Choice 3">Choice 3</option>
      </select>
    </div>

    <div>
      <label for="textarea" class="control-label">Textarea:</label>
      <textarea cols="40" rows="8" name="textarea" id="textarea" class="form-control"></textarea>
    </div>

    <div class="checkbox">
      <label for="checkbox" class="control-label">
        <input type="checkbox" name="checkbox" />Checkbox
      </label>

    </div>

    <div>
      <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
  </form>

</section>
<script type="text/javascript">
$(function() {
  $("html").addClass("cover page");
});
</script>
