<section id="content" class="lo-auron-2-3">
    <header><h1>Aktuelt</h1></header>
    <article class="article article-entry article-vertical lo-half">
        <a href="article-single.html"><img src="http://www.placehold.it/654x350"></a>
        <header>
            <h3><a href="article-single.html">Unge entreprenører</a></h3>
        </header>
        <p class="">
            Kårer Smartingen 2014: I dag er 200 skolelever fra hele Østfold samlet sammen med lærerstudentene ved Høgskolen i Østfold, Halden for å kåre årets smarteste nyskapning.
        </p>
    </article>
   <div id="article-load"></div>

    <footer class="lo-full">
        <ul class="pagination lo-center hide-if-no-paging">
            <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a>
            </li>
            <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a>
            </li>
            <li class="footable-page-arrow" style="display: none;"><a data-page="limit-prev" href="#limit-prev">...</a>
            </li>
            <li class="footable-page active"><a data-page="0" href="#">1</a>
            </li>
            <li class="footable-page"><a data-page="1" href="#">2</a>
            </li>
            <li class="footable-page"><a data-page="2" href="#">3</a>
            </li>
            <li class="footable-page"><a data-page="3" href="#">4</a>
            </li>
            <li class="footable-page"><a data-page="4" href="#">5</a>
            </li>
            <li class="footable-page-arrow"><a data-page="limit-next" href="#limit-next">...</a>
            </li>
            <li class="footable-page-arrow"><a data-page="next" href="#next">›</a>
            </li>
            <li class="footable-page-arrow"><a data-page="last" href="#last">»</a>
            </li>
        </ul>

    </footer>

</section>



<script type="text/javascript">
$(function() {
    $("html").addClass('cover index');
});
</script>
