<article id="content" class="lo-auron-2-3 article-single"><header class="lo-full"><h2>Akademiet styrker forskningsstaben</h2></header><p class="publishinfo">Publisert: 19.08.2014 14:45 av <a href="mailto:annkj@hiof.no">Ann-Kristin Johansen</a></p>




<p class="intro">Forskningsmiljøet ved Akademi for scenekunst blomstrer som aldri før. Siste tilskudd til det kunstneriske utviklingsarbeidet er scenograf og musiker Gunhild Mathea Olaussen. </p>




<p>Olaussen er den tredje kunststipendiaten som knyttes til Akademi for scenekunst gjennom Program for kunsterisk utviklingsarbeid. Stillingen er fullfinansiert gjennom en av HiØs stipendiathjemler. Fra første oktober i år og de neste tre årene skal Olaussen arbeide med sitt forskningsprosjekt som har tittelen «Instrumentell scenografi».</p>
<p>- Jeg skal forske på scenografi som lar seg påvirke av ulike aktører, det være utøver, publikum eller annen fysikk, forklarer Olaussen.&nbsp;</p>
<p><strong>Nyutvikling av scenekunsten</strong></p>
<p>Akademiets ferske stipendiat er utdannet innen produksjonsdesign og scenografi ved Den Norske Filmskolen og Kunsthøgskolen i Oslo, &nbsp;innen estetikk ved Universitetet i Oslo, og innen teater design ved Rose Bruford College. Olaussen jobber freeelance både som musiker og scenograf og&nbsp; arbeider tverrfaglig i det sceniske rom. Hun kan vise til en rekke scenografiprosjekter, utstillinger, studioarbeid og konserter både nasjonalt og internasjonalt de siste årene.</p>
<p>- Dette er en problemstilling som jeg har vært opptatt av lenge gjennom mitt kunstneriske virke. Et slik stipendiat gir muligheten til en dyptgående forskning i dette feltet, sier hun.</p>
<p>«Jeg tror at det i dette forskningsområdet ligger et stort potensiale for nyutvikling av scenekunst, og av scenografi som utforskende&nbsp;og nyskapende fagfelt. Jeg tror også at prosjektets kunstneriske strategi er av samfunnsmessig viktighet. Jeg ønsker å skape verk som utsetter oss for en slags omstart. Opplevelse som løser opp konvensjoner for slik å synliggjøre det som er usett», heter det i prosjektbeskrivelsen.&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p><strong>- Akademiet er anerkjent internasjonalt</strong></p>
<p>Olaussen har fra før av god kjennskap til Akademi for scenekunst.&nbsp; - Det er en kjent skole i miljøet og som student ved Filmskolen på Lillehammer har jeg blant annet vært her på Glasnost-samlinger. Akademiet er en anerkjent institusjon internasjonalt&nbsp; og har en unik kompetanse i scenografi. Akademiet kan også fra januar 2015 tilby landets eneste masterprogram i scenografi, påpeker Olaussen.</p>
<p>Den teknologiske utviklingen vil gjennomføres i tett samarbeid med Informasjonsteknologi (IT) og Ingeniørfag (IR) ved HiØ og med oppfølging og veiledning av Norsk senter for teknologi i musikk og kunst (NOTAM). Arbeidet vil foregå i IT/IRs laboratorier og verksteder, samt hos NOTAM.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Sammensetningen av scenekunst, ingeniørfag og IT er unik. NOTAM skal være involvert som biveiledere i prosjektet for å bygge bro mellom teknologi og kunst, sier Olaussen.</p>
<p>Hun vil være tilknyttet Akademiet i en hundre prosent stilling. I tillegg til selve forskningen skal Olaussen undervise scenografistudentene. I tillegg til Olaussen er Øystein Elle akkurat nå kunststipendiat ved Akademi for scenekunst. Scenografen ble ønsket varmt velkommen da hun deltok på kick-off for Akademiets studenter denne uken. <br> -&nbsp;Stipendiatene bidrar virkelig til forskningsmiljøet i Norge, sa kunsterisk leder for scenografilinjen og Olaussen veileder, professor Serge von Arx.</p>
<p><strong>Aktuelle lenker:<br></strong><a href="http://www.gunhildmathea.com/" title="Gunhild Mathea Olaussen / ekstern lenke">Gunhild Mathea Olaussen hjemmeside</a><br><a href="http://www2.hiof.no/index.php?ID=16099">Akademi for scenekunst</a><strong><br></strong></p>





</article>


<script type="text/javascript">
  $(function(){
    $("html").addClass("cover page");
  });
</script>
