<article id="content" class="lo-auron-2-3 article-single">
    <header>
        <h1>Tester digitale lærebøker</h1>
        <p class="">
            <time datetime="2014-04-09T14:15+01:00">09.04.2014 14:45</time>- Skrevet av <a href="content-section-person-profile-baard.html">Bård Halvorsen</a>
        </p>
    </header>

    <p class="intro">Ny smarttavle på biblioteket: Lærerstudenter ved Høgskolen i Østfold får prøve ut digitale læremidler fra Gyldendal Forlag. – Dette er nyttig før de skal ut og arbeide som grunnskolelærere, sier prosjektleder Heidi Bodal ved HiØs bibliotek.</p>
    <p>Prosjektet handler om at HiØs studenter tester et utvalg læremidler i hele studieløpet.</p>
    <p>Oppstarten var en profesjonsdag der Gyldendal viste fram sine digitale læremidler.</p>
    <p>– I fortsettelsen får høgskolens bibliotek en digital tavle i Halden, sier Heidi Bodal.</p>
    <h2>Digital tavle i høgskolens bibliotek</h2>
    <p>– Her kan HiØs grunnskolelærestudenter øve på praktisk bruk av digitale tavler.</p>
    <p>
        <img height="350" id="archiveimage_37677" src="http://hiof.no/neted/modules/archive/front/display.php?data=a4acc6ba960b4b6e8d336667ca556228ddd82e6b" width="654">
        <br>
        <br>
        <em>– Biblioteket ønsker å legge til rette for at studenter og lærere får kjennskap til de digitale læremidler som finnes i markedet, sier Heidi Bodal. (Foto: Bård Halvorsen)</em>
    </p>
    <p>
        <strong>Hedi Bodal</strong>har ansvar for læreverksamlingen ved biblioteket til Høgskolen i Østfold.&nbsp;</p>
    <p>Her så hun mangfoldet og mulighetene for å lage et prosjekt i samarbeid med bokforlag.</p>
    <p>Høsten 2013 startet derfor pilotprosjektet ”Digitale læremidler” ved HiØ i Halden.</p>
    <h2>Fagdag om nye digitale læremidler</h2>
    <p>Gyldendal har allerede vært i Halden og hatt en kursdag – dette både for HiØs fagansatte og de grunnskolelærerstudentene som er med på prosjektet.
        <br>
        <br>
        <img height="350" id="archiveimage_37689" src="http://hiof.no/neted/modules/archive/front/display.php?data=83498e35808496d5fb250338b1d0cbd7533f37e0" width="654">
    </p>
    <p>
        <em>Bildet: Jørgen Walderhaug Jensen fra Gyldendal viser forlagets nye læremidler på en digital tavle ved Høgskolen i Østfold. (Foto: Heidi Bodal)</em>
    </p>
    <p>
        <strong>Tema/digitale læremidler inkludert i prosjektet så langt:</strong>
    </p>
    <p>• Smarte tavler som undervisningsverktøy i mattematikk, norsk og engelsk</p>
    <p>• Digitale lærebøker for bruk på PC, Mac og lesebrett, på barne-/ungdomstrinnet</p>
    <p>• Presentasjon av <a href="http://www.salaby.no/forsiden">Salaby – nettverktøy</a> for barnehager, samt trinn 1-4 + 5-7.&nbsp;</p>
    <p>– Neste mål er å utvide prosjektet til å omfatte 2. klassestudentene på høgskolens grunnskolelærerutdanninger.&nbsp;</p>
    <p>
        <strong>Stort tilbud på biblioteket:</strong>Biblioteket ved Høgskolen i Østfold gir studenter og ansatte adgang på nett til en rekke e-bøker, artikler, databaser og oppslagsverk. Dette i tillegg til alle papirbøker, magasiner og andre ressurser som finnes i høgskolens bibliotek.</p>
    <h2>Aktuelle lenker:</h2>
    <p><a href="http://www.hiof.no/nor/hogskolen-i-ostfold/studiekatalog-_-rekrutteringssider/studietilbudet/studier-avdelingsvis/avdeling-for-larerutdanning">Studier ved Avdeling for lærerutdanning</a>
    </p>
    <p><a href="http://www.hiof.no/studier/">Alle utdanninger ved Høgskolen i Østfold</a>
    </p>
    <p><a href="http://www.hiof.no/biblioteket/">Bibliotekets nettsider</a>
    </p>



    <span role="contentinfo">
        <p class="publishinfo">Publisert: 09.04.2014 14:45 av <a href="content-section-person-profile-baard.html">Bård Halvorsen</a>
        </p>
    </span>

</article>


<script type="text/javascript">
  $(function(){
    $("html").addClass("cover index");
  });
</script>
