<article id="content" class="lo-auron-2-3">
  <header>
    <h1>Barndommen er ingen mangelsykdom</h1>
    <p class="publishinfo">Publisert: <time datetime="2014-04-10T09:15+01:00">10.04.2014 09:15</time> av <a href="content-section-person-profile-nina.html">Nina Skajaa Fredheim</a></p>
  </header>

  <p class="intro">Når noen påberoper seg gode intensjoner, og formuleringen «barns beste» samtidig trekkes frem, er det all grunn til å være på vakt. Og når disse gode intensjonene kobles sammen med samfunnets fokus på det som bør bekymre oss, bør den kritiske sansen skjerpes enda noen hakk.</strong>

  <img src="http://hiof.no/neted/modules/archive/front/display.php?data=4ff1674ba35a22877930e84eb08e5b7335a14f8f" alt="">
  <p><em>Kronikk av dosent Ninni Sandvik ved Høgskolen i Østfold.</em></p>
  <p><strong>Barnehagefeltet</strong>er for tiden fylt av aktører med gode intensjoner: nå sist aktualisert ved programmet «Lederen i meg», som skal lære barnehagebarn å bli ledere i egne liv. Barna skal altså «finne lederen i seg», gjennom blant annet å sette seg egne mål og ta ansvar for sine egne valg. De voksne peker ut et barn som dagens ledere, som får ansvar for rydding og for å være gode forbilder. Barna introduseres, for begreper som proaktiv, bekymringssirkel, vinn-vinn, synergi og integritet. Arbeidsmoral trenes gjennom at barna skal jobbe før de leker. Leken er, med andre ord transformert fra en væremåte til en belønning. Barnehagenes eier forteller til Aftenposten om utrolige resultater i amerikanske skoler, der programmet er implementert.</p>
  <p><strong>Vi har sett det før.</strong>Mange barnehager bruker ulike pedagogiske programmer, som i hovedsak er utviklet langt utenfor norske barnehager, og som i stor grad ignorerer norsk barnehagefaglig kompetanse. Programmenes fellesnevner er deres fokus på systematikk og tidlig intervensjon som en forebyggingsstrategi. Én underliggende premiss ser ut til å være uproblematiserte forestillinger om hva som er et normalt barn, nemlig et barn som kan rydde opp etter seg, som kan dele, som kan ordlegge seg korrekt og som kan følge voksnes instruksjoner. Med andre ord, et barn som er enkelt å ha med å gjøre. Alt sammen tilsynelatende uten at verken media, myndigheter eller programskaperne ser ut til å plages av assosiasjoner til Aldous Huxleys «Brave New World».</p>
  <p><strong>Slike programmer er svaret</strong>på en annen bølge i barnehagefeltet: kartleggingsbølgen. Både kartleggingsverktøyene, som brukes for å stille diagnoser i forhold til hva barn presumptivt mangler, eller kan komme til å mangle i fremtiden, og programmer som foreskriver medisinen for å bøte på de samme potensielle manglene forteller om det samme: barna er ikke bra nok. Det holder ikke lenger å være barn, å leke og surre, eksperimentere og sloss. Barna skal være nyttige og barndommen skal lønne seg i form av samfunnsgevinst og høyere score på fremtidige Pisatester.</p>
  <p><strong>Det som legitimerer</strong>både kartleggingsiveren og programmene er frykten for fremtiden: at barna i fremtiden skal komme til «å falle ut av videregående skole», og kanskje enda verre at de skal havne på skråplanet med kriminalitet og vold som automatiske konsekvenser. En hel bekymringsindustri kan dermed, uten nevneverdig problematisering verken fra politikere eller barnehageeiere, toe sine hender og kalkulere kommersiell suksess. «Tidlig innsats» ser ut til å ha blitt et mantra, som gir fri adgang til å transformere barnehagefeltet fra en lekende arena til en formalisert, systematisert og kontrollert læringsarena, der læringsinnhold og – metoder defineres ut fra de ulike kartleggingsverktøyene og programmene. Også dette relativt uproblematisert i den offentlige retorikken.</p>
  <p><strong>Kartleggingsprogrammenes iver</strong>etter å stille diagnoser og programmenes forenklede foreskriving av ymse medisin, gjør det nødvendig å peke på noen vesentlige momenter fra den pedagogiske barnehageforskningen. Denne forskningen tar utgangspunkt i barnehagens levde liv, og tenker med det som skjer midt blant barna. Mange av disse forskerne forteller om barns sjenerøse vilje og evne til å bidra i egne liv. Blant annet kan man utfra forskningen lese om hvordan små barn bidrar til barnehagens sosiale miljø, om hvordan barnas etiske forestillinger skaper grobunn for å hjelpe og å trøste andre, om hvordan barna danner vennskap og om hva som kjennetegner deres egne læringsstrategier.</p>
  <p><strong>I det svenske prosjektet</strong>«Det magiska språket» ser barn ut til å ha en eksperimenterende tilnærming og de ser ut til å ha et begjær etter skjønnhet, overraskelser og effekter. De vil produsere ideer og handlinger, uten tanke på å skulle reprodusere, eller repetere det de voksne allerede mener å vite.</p>
  <p><strong>Pedagogenes oppgave</strong>må, utfra dette være å hekte seg på barns eksperimenteringer, slik at barn og voksne sammen kan åpne for verdener intet kartleggingsverktøy eller pedagogisk program har spurt etter.</p>
  <p>
    <em>Kronikken stod på trykk i Dagsavisen 27. mars og i Sarpsborg Arbeiderblad 9. april.</em>
  </p>
      <br>
  <p>
    <em>_____________________________________________________________________________</em>
  </p>
  <p>
    <strong>Ninni Sandvik</strong>
    <br>Dosen ved Avdeling for lærerutdanning</p>
  <p><a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=112&amp;module=admin">Se faglig profil</a>
  </p>
  <p>
    <img height="350" id="archiveimage_34715" src="http://hiof.no/neted/modules/archive/front/display.php?data=757e02f43b7f105dc455bb153b9df28577c40507" width="654">
  </p>

  <span role="contentinfo">
    <p class="publishinfo">Publisert: 10.04.2014 09:15 av <a href="content-section-person-profile-nina.html">Nina Skajaa Fredheim</a>
    </p>
  </span>

</article>
