<article id="content" class="lo-auron-2-3 article-single">
  <header>
    <h1>Oppfordrer forskere til duell</h1>
    <p class="publishinfo">Publisert: <time datetime="2014-04-10T09:15+01:00">10.04.2014 09:15</time> av <a href="mailto:nina.s.fredheim@hiof.no">Nina Skajaa Fredheim</a></p>
  </header>


<p class="intro"> Forskere som møtes til duell blir igjen et av innslagene under Forskningsdagene i september. I løpet av fem minutter skal publikum inspireres og imponeres av forskernes temaer og formidlingsevne.  </strong>
  
   <img src="http://www.hiof.no/neted/modules/archive/front/display.php?data=166e7d25296f2ea4ce3f1fbf93844cf8f21f1ea7" alt="">
<p><em>(Illustrasjonsfoto: Forskerduellanter fra 2013. Rektor ved Høgskolen i Østfold deler ut vinner-prisen til forsker på IFE. Forskere fra HiØ og NCE var også med i duellen. Foto: HiØ).</em></p>
<p>- Hensikten med Forskerduellen, som går av stabelen fredag 19. september, er å gjøre noe litt annerledes i forhold til hvordan man tenker seg forskningsformidling. Det skal være en morsom opplevelse og kanskje ta hull på noen myter om forskning, forteller Bente Marie Jacobsen fra Inspiria science senter, som er en av gründerne og prosjektlederne bak Forskerduellen.</p>
<ul>
<li><strong>Ønsker forskere som vil duellere - Søknadsfrist 1. juni</strong></li>
</ul>
<p>- Vi ønsker stor variasjon i fagområder blant forskerne som deltar. Hensikten er å vise ungdom at forskning og høyere utdanning faktisk er gøy. Og forhåpentligvis inspirere dem til å ta høyere utdanning, forteller Jacobsen.</p>
<h2>Videregående elever avgjør konkurransen</h2>
<p>- Forskerduellen foregår ved at to og to forskere får fem minutter hver til å formidle sin forskning til publikum. Vinneren av hver duell, går videre til finalen samme dag. I etterkant av hver presentasjon skal publikum i salen, i hovedsak elever i videregående skole, avgi stemme ved hjelp av mentometerknapper, forklarer Nina Skajaa Fredheim som er prosjektansvarlig for Forskerduellen ved Høgskolen i Østfold.</p>
<p>Til sammen skal seks forskere plukkes ut blant søkerne til å delta i duellen på bakgrunn av beskrivelse av forskningen og argumentene for hvorfor nettopp den aktuelle forskeren bør bli med.</p>
<h2>Forskningen ut til folket</h2>
<p>- Hensikten med Forskningsdagene er at forskningen skal bringes ut i samfunnet, og i all hovedsak inspirere unge. Et av målene er på sikt å rekruttere unge til forskning, forteller Fredheim.</p>
<p>Deltakerne får opplæring i presentasjonsteknikk i forkant, der de trenes i formidling på ulike måter. En skuespiller veileder og gir råd om presentasjonsteknikk og formidling fra scene og talerstol.</p>
<h2>- Tvunget til å forklare enkelt</h2>
<p>– Dette er en veldig fin måte å formidle forskning på, sa forsker og duellant Joakim Karlsen ved Høgskolen i Østfold som deltok i Forskerduellen i 2013.</p>
<p>– De som går på videregående får muligheten til å møte forskerne, mens forskerne på sin side tvinges til å være veldig korte, konsise og relevante. Jeg tror dette er veldig bra. Og jeg tror det kan inspirere mange til å velge utdannelse senere, sa han.</p>
<p>Høgskolen i Østfold og INSPIRIA tok sammen initiativ til å starte opp Forskerduellen i 2012.</p>
<h2>Møtes til duell på Litteraturhuset i september</h2>
<p>Forskerduellen vil foregå fredag 19. september på Litteraturhuset.</p>
<p>Forskere som ønsker å melde deg som kandidat til Forskerduellen kan kontakte:</p>
<p><a href="mailto:Bente.m.jacobsen@inspiria.no">Bente.m.jacobsen@inspiria.no</a> (mobil 97123471)- arrangementsansvarlig for Forskningsdagene ved INSPIRIA</p>
<p><a href="mailto:Nina.s.fredheim@hiof.no">Nina.s.fredheim@hiof.no</a> (mobil 93085285) - arrangementsansvarlig for Forskningsdagene ved Høgskolen i Østfold.</p>
<h2>Mer om Forskerduellen:</h2>
<ul>
<li><a href="http://www.hiof.no/nor/hogskolen-i-ostfold/aktuelt/hogskoleavisa?%2Fnor%2Fhogskolen-i-ostfold%2Fforside%2F%3F=&amp;displayitem=3599&amp;module=news">Vant publikums hjerter</a> (2013)</li>
<li>Film fra forskerduell i 2012: <a href="https://www.youtube.com/watch?v=u5ocv0erwhQ&amp;feature=youtu.be">http://youtu.be/u5ocv0erwhQ </a></li>
</ul>
<p></p>


 
<span role="contentinfo"><p class="publishinfo">Publisert: 23.04.2014 07:20 av <a href="mailto:nina.s.fredheim@hiof.no">Nina Skajaa Fredheim</a></p></span>

  
  
  
</article>
