<script type="text/javascript">

customFont = true;

$(function() {
  $.getJSON("config/assets.config.json", function(data) {

    var assets = data.staticAssets.global,
      prefix = "assets",
      cssPath = prefix + assets.css[1],
      jsPath = prefix + assets.js[0];          

      $("#app-css").attr("href", cssPath);
      $("#app-js").attr("src", jsPath);
  });
});
</script>



<section id="content" class="lo-auron-2-3">

  <div class="divStudieinfoKatalog studieinfoFieldKS001">
    <h1 class="studieinfoTitle H1style">
      Bachelorstudium i ingeniørfag - data
    </h1>
  </div>

  <div class="divStudieinfoKatalog studieinfoFieldKS019">
    <h2 class="studieinfoTitle H2style">
      Generelt om studiet</h2>
    <p>Dataløsningene fra i går er sjelden egnet til å løse morgendagens behov. Som dataingeniør er du med på å utvikle systemene som skal prege framtiden. En ingeniør er lært opp til å se faget sitt i sammenheng med samfunnet rundt seg og forstå kompliserte strukturer. Med denne utdanningen kan du bidra på alle felt innenfor data- og IT-sektoren.</p>
    <p>De første to årene vil du lære grunnleggende datafag som programmering, databaser, operativsystemer og datakommunikasjon. Realfag og samfunnsfag er også viktige i en ingeniørutdanning og undervises også de første to årene. I tredje studieår vil du lære om intelligente systemer og bruk av IT i virksomheter og industri. Her lager du programmer som håndterer både tekniske og administrative systemer i en bedrift. Det er praktisk vinkling på de fleste fag, og du vil jobbe med problemstillinger som er hentet fra industri, næringsliv og offentlig forvaltning. Særlig gjelder dette den avsluttende bacheloroppgaven i sjette semester.</p>
    <p>Det er mulig å ta ett eller to semestre ved en av våre samarbeidsinstitusjoner i utlandet. Dette foregår eventuelt i andre eller tredje studieår.</p>
  </div>
  <a name="KS033"></a>
  <div class="divStudieinfoKatalog studieinfoFieldKS033">
    <h2 class="studieinfoTitle H2style">
      Opptakskrav</h2>
    <div class="studieinfoAdmission">
      <p>Et av følgende:</p>
      <ul>
        <li>generell studiekompetanse/realkompetanse og matematikk (R1+R2) og fysikk (FYS1), eller</li>
        <li>generell studiekompetanse og bestått realfagkurs, eller</li>
        <li>2-årig teknisk fagskole etter rammeplan fastsatt av departementet 1998/99 og tidligere studieordninger, eller</li>
        <li>nyere, godkjent teknisk fagskoleutdanning med dokumenterte kunnskaper i matematikk og fysikk tilsvarende matematikk (R1+R2) og fysikk (FYS1) eller</li>
        <li>bestått 1-årig forkurs for ingeniør- og maritim høyskoleutdanning</li>
      </ul>
    </div>
  </div>
  <a name="KS014"></a>
  <div class="divStudieinfoKatalog studieinfoFieldKS014">
    <h2 class="studieinfoTitle H2style">
      Videre utdanning</h2>
    <p>Bestått&nbsp;studium kvalifiserer for opptak til vårt eget masterstudium i anvendt informatikk. Du vil også være kvalifisert til å søke andre masterstudier ved universiteter og høgskoler i inn- og utland.</p>
  </div>
  <a name="KS015"></a>
  <div class="divStudieinfoKatalog studieinfoFieldKS015">
    <h2 class="studieinfoTitle H2style">
      Yrkesmuligheter</h2>
    <p>Det er stort behov for personer med gode IT-kunnskaper i alle deler av samfunnet. Kandidater med bachelorgrad i ingeniørfag, data er etterspurte til stillinger som dataingeniør, programmerer, systemutvikler, IT-konsulent, prosjektleder, driftsansvarlig eller til utvikling av smarte IT-løsninger innen industri-, energi-, helse- og miljøsektoren.</p>
  </div>
  <p>
    <small class="admissionUpdateTime">Sist oppdatert: 16.12.2013 21:26</small>
  </p>
</section>


<section id="kitchen-sink" class="lo-auron-1-3">

  <h1>Loads of different content elements</h1>

  <p>
    <strong>Pellentesque habitant morbi tristique</strong>senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    <em>Aenean ultricies mi vitae est.</em>Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
    <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

  <h2>Header Level 2</h2>

  <p>Ut a est eget
    <abbr title="Hyper Text Markup Language">HTML</abbr>ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam.</p>

  <ol>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
  </ol>

  <h3>Sitat</h3>

  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
  </blockquote>


  <h3>Sitat med kildehenvisning</h3>


  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
    <footer>
      <p>
        <cite><a href="http://www.lipsum.com">Lipsum</a>
        </cite>
      </p>
    </footer>
  </blockquote>

  <h3>Header Level 3</h3>

  <ul>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
  </ul>

  <pre>
    <code>
      #header h1 a { display: block; width: 300px; height: 80px; }
    </code>
  </pre>

  <p><a href="" class="btn betn-primary">Knapp</a>
  </p>




</section>
