<section id="">
<h1>Layout på artikkler</h1>
  <br><br>


<h2>Vertikal visning</h2>
<img src="assets/images/analyse/article-vertical.jpg" data-test="updated">


<h2>Horisontal visning</h2>
<img src="assets/images/analyse/article-horizontal.jpg" data-test="updated">

<br><br><br><br> 
</section>

<div id="nav-guide" class="full">

<div class="float-right">
  <a href="step-10.html" class="btn btn-primary btn-line">Forrige</a>
  <a href="part3-step-1.html" class="btn btn-primary">Neste</a>
</div></div>