<div id="nav-guide" class="full">

<div class="float-right">
  <a href="part5-step-1.html" class="btn btn-primary btn-line">Forrige</a>
  <a href="analyse-start.html" class="btn btn-default ">Slutt</a>
</div>
</div>


<script type="text/javascript">
  $(function(){
    $(".article").each(function(i, obj){
      if ( $(this).hasClass('article-vertical') ) {
        $(this).removeClass('article-vertical').addClass('article-horizontal');
      }
    });


    $("#research header, #news header").addClass("top-devider");
  });

</script>

