<div id="nav-guide" class="full">

<div class="float-right">
  <a href="part4-step-3.html" class="btn btn-primary btn-line">Forrige</a>
  <a href="part5-step-2.html" class="btn btn-primary ">Neste</a>
</div>

</div>


<script type="text/javascript">
  $(function(){
    $("#calendar header h2").prepend('<span class="icon-calendar"></span>');
    $("#research header h2").prepend('<span class="icon-research"></span>');
    $("#news header h2").prepend('<span class="icon-news"></span>');
    $("#people header h2").prepend('<span class="icon-people"></span>');
    $("#research header, #news header").addClass("blue-background");
  });
</script>