<section id="content">
<h1>Ikon 1</h1>
  <br><br><br><br>
<p>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
<path d="M44.737,14.688l0.966-0.965c3.165-3.165,3.165-8.261,0-11.426c-1.609-1.556-3.647-2.36-5.74-2.36
  c-2.038,0-4.13,0.804-5.685,2.36l-0.967,0.966L44.737,14.688z M4.184,32.497l11.319,11.318l28.001-27.894L32.078,4.496L4.184,32.497
  z M3.379,34.16L0,48l13.84-3.38L3.379,34.16z"/>
</svg>

</p>






 <br><br><br><br> <br><br><br><br>
</section>


<div id="nav-guide" class="full">

<div class="float-right">
  <a href="analyse-start.html" class="btn btn-primary btn-line">Forrige</a>
  <a href="step-2.html" class="btn btn-primary">Neste</a>
</div></div>