<section id="content">

<h1>Ikon 2</h1>
  <br><br><br><br>



<p>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
<path d="M35.456,0c-5.018,0-9.341,3.096-11.369,7.687C22.058,3.096,17.734,0,12.717,0C5.777,0,0.173,8.754,0.173,16.227
  c0,15.213,23.914,31.6,23.914,31.6S48,30.959,48,16.227C48,8.754,42.396,0,35.456,0z"/>
</svg>
</p>


 <br><br><br><br> <br><br><br><br>
</section>


<div id="nav-guide" class="full">

<div class="float-right">
  <a href="step-1.html" class="btn btn-primary btn-line">Forrige</a>
  <a href="step-3.html" class="btn btn-primary">Neste</a>
</div></div>