<section id="content">

<h1>Instruksjoner</h1>

<h2>Del 1 - Ikoner</h2>
<p><a href="step-1.html" class="btn btn-primary">Gå til del 1</a>
<p>

På de neste sidene vil dere se diverse ikoner. Si det første dere kommer på når dere ser ikonet.

</p>


<ul>
  <li><a href="step-1.html">Ikon 1</a></li>
  <li><a href="step-2.html">Ikon 2</a></li>
  <li><a href="step-3.html">Ikon 3</a></li>
  <li><a href="step-4.html">Ikon 4</a></li>
  <li><a href="step-5.html">Ikon 5</a></li>
  <li><a href="step-6.html">Ikon 6</a></li>
  <li><a href="step-7.html">Ikon 7</a></li>
  <li><a href="step-8.html">Ikon 8</a></li>
</ul>

<hr>
<p>
  På neste steg er alle ikonene satt sammen på samme side. Kjenner dere de igjen?
</p>

<ul>
  <li><a href="step-9.html">Ikoner</a></li>
</ul>
<hr>

<p>
  Kjenner dere igjen ikonene nå? 
</p>


<ul>
  <li><a href="step-10.html">Ikoner - fra hiof.no</a></li>
</ul>



<br><br><br><br>
<h2>Del 2 - Layout</h2>


<p><a href="#del5">Se forside 1 og 2 under del 5 for å se layout-forskjellen på artikkel-utlisting i sammenheng med andre elementer.</a></p>



<br><br><br><br>
<h2>Del 3 - Topp-layout</h2>
<p><a href="part3-step-1.html" class="btn btn-primary">Gå til del 3</a>

<p>3 stk. forskjellige layouter på header-mockup. Hvilken liker du best og hvorfor?</p>


<br><br><br><br>
<h2>Del 4 - Side</h2>
<p><a href="part4-step-1.html" class="btn btn-primary">Gå til del 4</a>

<p>3 stk. forskjellige brukeropplevelser av scrolling. Hvilken liker du best og hvorfor?</p>

<ul>
  <li><a href="part4-step-1.html">Fixed bilde (versjon 1)</a></li>
  <li><a href="part4-step-2.html">Fixed bilde, fast header (versjon 2)</a></li>
  <li><a href="part4-step-3.html">Fast bilde & header (versjon 3)</a></li>
</ul>


<br><br><br><br>
<h2 id="del5">Del 5 - Forside</h2>
<p><a href="part5-step-1.html" class="btn btn-primary">Gå til del 5</a>

<p>2 stk. forskjellige versjoner av forside-mockup. Hvilken liker du best og hvorfor?</p>


<ul>
  <li><a href="part5-step-1.html">Forside 1</a></li>
  <li><a href="part5-step-2.html">Forside 2</a></li>
</ul>


 <br><br><br><br> 
</section>


<div id="nav-guide" class="full">

<div class="float-right">

  <a href="step-1.html" class="btn btn-primary">Start</a>
</div>
</div>
