    </main>
    <footer id="footer">
    <nav id="breadcrumb" class="lo-full">
      <ol>
        <li><a href="/">Høgskolen i Østfold</a></li>
        <li><a href="/">Kontakt</a></li>
        <li><a href="/">Veibeskrivelse</a></li>
      </ol>
    </nav>
    <section class="lo-quarter">


      <h2>Studietilbud</h2>
      <ul>
        <li><a href="#">Etter- og videreutdanninger</a></li>
        <li><a href="#">IT- utdanninger</a></li>
        <li><a href="#">Ingeniør</a></li>
        <li><a href="#">Helse- og Sosialfag</a></li>
        <li><a href="#">Økonomomi og administrasjon</a></li>
        <li><a href="#">Sykepleier</a></li>
        <li><a href="#">Samfunnsfag- og språkutdanninger</a></li>
        <li><a href="#">Scenekunstutdanninger</a></li>
        <li><a href="#">Lærer- og pedagogiske utdanninger</a></li>
      </ul>
    </section>
    <section class="lo-quarter">
        <section>
          
      <h2>Våre sider</h2>
  
        <p><a href="http://hiof.no">hiof.no</a><br>
        <a href="http://blistudent.no">BliStudent.no</a><br>
        <a href="http://hiof.no/student">Student sider</a><br>
        <a href="http://hiof.no/ansatt">Ansatt sider</a>

        </p>
          
        </section>
        <section>
          
      <h2>Om nettstedet</h2>
  
        <p><a href="content-contact-web-responsible.html">Kontakt nettredaksjonen</a><br>
        <a href="content-privacy-policy.html">Personvernpolitikk</a></p>

        </section>


    </section>
    <section class="lo-quarter">
      <h2>Kontakt</h2>
      <p><a href="content-contact.html">Kontakt oss</a><br>
      <a href="content-contact.html#map">Kart og veibeskrivelser</a></p>
      <div class="bg-info">        
        <dl>
          <dt>Sentralbord</dt>
          <dd>(+47) 69 21 50 00</dd>
        </dl>
      </div>
    </section>

    <section id="map" class="lo-quarter">

      <h2 class="visuallyhidden">Studiesteds-illustrasjon</h2>
    </section>
    <section class="lo-full">
        <p class="ta-center"><small>Kopibeskyttet <a href="http://hiof.no">Høgskolen i Østfold</a></small> -   <small>Siden ble sist oppdatert 29.04.14 av <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte?displayitem=8148&module=admin">Kenneth Dahlstrøm</a></small></p>

    </section>
    </footer>

  </body>
</html>
