<header id="header" role="banner">

    <nav id="nav" class="lo-full">
      <ul id="nav-pages" class="navigation float-left">
        <li><a href="/studier" class="btn btn-primary" title="Se våre studier og kurs">Studier og kurs</a>

          <ul class="dropdown-menu">
            <li class=""><a href="//www.hiof.no/studier/studietilbudet" class="active-path">Studietilbudet</a>
              <ul class="dropdown-menu">
                <li class=""><a href="/index.php?ID=5938" target="_self">Ledige studieplasser</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/studietilbudet/viktige-datoer">Viktige datoer</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/studietilbudet/bachelorstudier">Bachelorstudier</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/studietilbudet/masterstudier">Masterstudier</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/studietilbudet/fleksible-studier">Fleksible studier</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="//www.hiof.no/studier/etter-og-videreutdanninger" class="active-path">Etter og videreutdanninger</a>
              <ul class="dropdown-menu">
                <li class=""><a href="http://www.hiof.no/om-hogskolen/enheter/hio-videre/oppdrag-og-samarbeid/kompetanse-for-kvalitet" target="_self">Kompetanse for kvalitet</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="//www.hiof.no/studier/opptak" class="active-path">Opptak</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/studier/opptak/sok-om-opptak">Søk om opptak</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/opptak/ledige-studieplasser">Ledige studieplasser</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/opptak/viktige-datoer">Viktige datoer</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/opptak/opptaksregler">Opptaksregler</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/opptak/dokumentasjonskrav-">Dokumentasjonskrav </a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/opptak/ofte-stilte-sporsmal">Ofte stilte spørsmål</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/opptak/kontakt-opptakskontoret">Kontakt opptakskontoret</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/opptak/toppidrettsavtalen">Toppidrettsavtalen</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/opptak/opptakstall">Opptakstall</a>
                </li>
                <li class=""><a href="/om-hogskolen/enheter/hio-videre" target="_self">HiØ VIDERE</a>
                </li>
                <li class=""><a href="https://fsweb.no/soknadsweb/login.seam?inst=hiof" target="_blank">Søknadsweb- søk her/ logg inn</a>
                </li>
                <li class=""><a href="http://www.samordnaopptak.no/info/" target="_blank">Samordna opptak logg inn</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="//www.hiof.no/studier/studentliv" class="active-path">Studentliv</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/studier/studentliv/studentsamfunn">Studentsamfunn</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/studentliv/lag-og-foreninger">Lag og foreninger</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/studentliv/studentkroer-og-moteplasser">Studentkroer og møteplasser</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/studentliv/treningstilbud">Treningstilbud</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/studentliv/studentbyen-fredrikstad">Studentbyen Fredrikstad</a>
                </li>
                <li class=""><a href="//www.hiof.no/studier/studentliv/studentbyen-halden">Studentbyen Halden</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="/?ID=30053" target="_self">Studieplaner</a>
            </li>
            <li class=""><a href="/?ID=13206" target="_self">Emnebeskrivelser</a>
            </li>
          </ul>
        </li>
        <li><a href="/forskning" class="btn btn-primary" title="Forskning &amp; utvikling ved Høgskolen i Østfold">Forskning</a>

          <ul class="dropdown-menu">
            <li class=""><a href="//www.hiof.no/forskning/aktuelt" class="active-path">Aktuelt</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/forskning/aktuelt/arkiv-for-forskningnyheter">Arkiv for forskningnyheter</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="//www.hiof.no/forskning/publikasjoner" class="active-path">Publikasjoner</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/forskning/publikasjoner/hio_-rapport">HIØ. Rapport</a>
                </li>
                <li class=""><a href="//www.hiof.no/forskning/publikasjoner/hio_-oppdragsrapport">HIØ. Oppdragsrapport</a>
                </li>
                <li class=""><a href="//www.hiof.no/forskning/publikasjoner/hio_-arbeidsrapport">HIØ. Arbeidsrapport</a>
                </li>
                <li class=""><a href="//www.hiof.no/forskning/publikasjoner/hio_-andre-publikasjoner">HIØ. Andre publikasjoner</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="/index.php?ID=30002" target="_parent">Kompetansesøk</a>
            </li>
            <li class=""><a href="//www.hiof.no/forskning/forskergrupper">Forskergrupper</a>
            </li>
            <li class=""><a href="//www.hiof.no/forskning/kontaktpersoner-forskning">Kontaktpersoner forskning</a>
            </li>
            <li class=""><a href="//www.hiof.no/forskning/forskningsdagene-2014">Forskningsdagene 2014</a>
            </li>
          </ul>
        </li>
        <li><a href="/om-oss" class="btn btn-primary" title="Om Høgskolen i Østfold">Om oss</a>

          <ul class="dropdown-menu">
            <li class=""><a href="//www.hiof.no/om-hogskolen/om-hogskolen" class="active-path">Om høgskolen</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/om-hogskolen/om-hogskolen/historie">Historie</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/om-hogskolen/presentasjon-av-hio">Presentasjon av HiØ</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/om-hogskolen/apningstider">Åpningstider</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/om-hogskolen/grafisk-profil-og-maler">Grafisk profil og maler</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/om-hogskolen/om-nettsidene">Om nettsidene</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/om-hogskolen/informasjonskapsler-og-personvern">Informasjonskapsler og personvern</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="//www.hiof.no/om-hogskolen/sok-pa-sidene" class="active-path">Søk på sidene</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/om-hogskolen/sok-pa-sidene/kompetansesok">Kompetansesøk</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/sok-pa-sidene/alle-ansatte">Alle ansatte</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/sok-pa-sidene/alle-studenter">Alle studenter</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="//www.hiof.no/om-hogskolen/presseinformasjon" class="active-path">Presseinformasjon</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/om-hogskolen/presseinformasjon/pressekontakt">Pressekontakt</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/presseinformasjon/pressebilder">Pressebilder</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/presseinformasjon/presseartikkel">Presseartikkel</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/presseinformasjon/hio-i-pressen">HiØ i pressen</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/presseinformasjon/i-krisesituasjoner">I krisesituasjoner</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="//www.hiof.no/om-hogskolen/kontakt" class="active-path">Kontakt</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/om-hogskolen/kontakt/hvordan-finne-hio_">Hvordan finne HiØ?</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/kontakt/parkering">Parkering</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="/index.php?ID=5" target="_parent">Aktuelle nyheter/oppslag</a>
            </li>
            <li class=""><a href="//www.hiof.no/om-hogskolen/organisering" class="active-path">Organisering</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/om-hogskolen/organisering/hogskolestyret">Høgskolestyret</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/organisering/rektorat">Rektorat</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/organisering/hogskoledirektor">Høgskoledirektør</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/organisering/ledergruppen">Ledergruppen</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/organisering/sentrale-dokumenter">Sentrale dokumenter</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="//www.hiof.no/om-hogskolen/enheter" class="active-path">Enheter</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/om-hogskolen/enheter/avdeling-for-helse--og-sosialfag">Avdeling for helse- og sosialfag</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/enheter/avdeling-for-informasjonsteknologi">Avdeling for informasjonsteknologi</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/enheter/avdeling-for-ingeniorfag">Avdeling for ingeniørfag</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/enheter/avdeling-for-larerutdanning">Avdeling for lærerutdanning</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/enheter/avdeling-for-okonomi_-sprak-og-samfunnsfag">Avdeling for økonomi, språk og samfunnsfag</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/enheter/akademi-for-scenekunst">Akademi for scenekunst</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/enheter/hio-videre">HiØ Videre</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen" class="active-path">Administrasjonen</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen/studie--og-forskningsenheten">Studie- og forskningsenheten</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen/okonomi--og-driftsenheten">Økonomi- og driftsenheten</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen/hr-og-marked">HR og marked</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen/markeds--og-kommunikasjonsenheten">Markeds- og kommunikasjonsenheten</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen/studiestedsadministrasjon-halden">Studiestedsadministrasjon Halden</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen/studiestedsadministrasjon-fredrikstad">Studiestedsadministrasjon Fredrikstad</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen/biblioteket">Biblioteket</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen/it-drift-1">IT-drift</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen/bygningsmessig-drift">Bygningsmessig drift</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen/arkivet-">Arkivet </a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/administrasjonen/ansatte-med-bilder">Ansatte med bilder</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="//www.hiof.no/om-hogskolen/ledige-stillinger">Ledige stillinger</a>
            </li>
            <li class=""><a href="//www.hiof.no/om-hogskolen/om-ostfold" class="active-path">Om Østfold</a>
              <ul class="dropdown-menu">
                <li class=""><a href="//www.hiof.no/om-hogskolen/om-ostfold/om-halden">Om Halden</a>
                </li>
                <li class=""><a href="//www.hiof.no/om-hogskolen/om-ostfold/om-fredrikstad">Om Fredrikstad</a>
                </li>
              </ul>
            </li>
            <li class=""><a href="http://www.fremmedspraksenteret.no" target="_blank">Fremmedspråksenteret</a>
            </li>
          </ul>
        </li>


        <li>

          <form class="form initial" id="global-search" action="/index.php" method="get">
            <div class="input-group">
              <input type="hidden" name="ID" value="12129">
              <input type="hidden" name="lang" value="nor">
              <input id="global-search-input" type="text" placeholder="Søk i våre sider" class="form-control initial" name="q">
              <span class="input-group-btn">
            <button id="search" class="btn btn-primary " type="button">Søk</button>
          </span>
            </div>
            <span id="search-close" class="btn" title="Lukk søket"></span>
          </form>
        </li>

      </ul>
      <h1 id="logo-wrapper" class="float-left">
								<a id="logo-hiof" href="/">
										<span class="visuallyhidden">Høgskolen i Østfold</span>


									 <script type="text/javascript">
										var xhr = new XMLHttpRequest;

										xhr.open('get','/assets/images/logo.svg',true);
										xhr.onreadystatechange = function(){
											if (xhr.readyState != 4) return;
											var svg = xhr.responseXML.documentElement;
											svg = document.importNode(svg,true); // surprisingly optional in these browsers
											document.getElementById('logo-hiof').appendChild(svg);
										};
										xhr.send();
									 </script>

								</a>
						</h1>

      <ul id="nav-internal" class="float-right">
        <li>
          <a href="http://hiof.no/student" class="btn btn-primary btn-line">For studenter</a>
        </li>
        <li><a href="http://hiof.no/ansatt" class="btn btn-primary btn-line">For ansatte</a>
        </li>
        <li>
          <a href="/index.php?ID=30041&amp;lang=eng" id="english" class="btn btn-primary btn-line" title="Navigate to our pages in english"><span class="visuallyhidden">Navigate to our pages in english </span>English</a>
        </li>
      </ul>



    </nav>





</header>

<main role="main" id="main" class="clearfix" data-page-category="page">
