<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="nb"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="nb"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="nb"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="nb"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Høgskolen i Østfold</title>
<meta name="Author" content="">
<meta name="KeyWords" content="">
<meta name="Description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" id="app-css" type="text/css">
<script type="text/javascript" id="app-js"></script>
<script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="vendor/modernizr/modernizr.js"></script>

<script type="text/javascript">



  $(function(){
  // Check if custom font is enabled in the view
  if(customFont === false){

      //console.log("Custom font is false, adding standard stylesheet");
      $.getJSON( "config/assets.config.json", function( data ) {
   
        var assets = data.staticAssets.global,
            prefix = "assets",
            cssPath = prefix + assets.css[0],
            jsPath = prefix + assets.js[0];          
   
        $("#app-css").attr("href", cssPath);
        $("#app-js").attr("src", jsPath);
      });
    }else{
      //console.log("Custom font is true, adding custom stylesheet");
    }


  });

var customFont = false;

</script>


</head>
<body id="body">