
/*
### Component: Footer

*/


#footer{
  li{
      list-style: none;
      margin-left: 0;
  }
  .bg-info{
      margin-left: -1rem;
      padding-left: 1rem;
      margin-right: -2rem;
  }
}
.ss-home{
  background-image: url(/assets/images/icons/home.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 44px;
  text-indent: -999em;
  display: inline-block;
  background-position: 0 10px;
}

@media screen and (max-width: 769px) {
  #breadcrumb {
    background-color: $color-primary-action;
    padding: 0;
    ol {
      margin: 0;
    }
    a {
      color: $white;
      display: block;
      text-align: center;
      padding-top: .5rem;
      line-height: 4.4rem;
    }
    li {
      border-bottom: .1rem solid $white;
      position: relative;
      //.gfx-arrow-down($hiof-blue, $white, 4.9rem);
      &:last-child {
        &:before, &:after {
          display: none;
        }
      }
    }
  }
}
@media screen and (min-width: 770px) {
  #breadcrumb {
    font-size: 1.4rem;
    &:before {
      content: "";
      height: 4.4rem;
      position: absolute;
      left: -25%;
      width: 300%;
      background: $color-primary-action;
      z-index: -1;
    }
    ol {
      margin-bottom: 0;
    }
    li {
      display: inline-block;
      list-style: none;
      line-height: 4.4rem;
      position: relative;
      margin-left: -.4rem;
      a {
        color: $white;
        padding: 0 4.4rem;
        padding-right: 2.2rem;
      }
      &:first-child {
        a {
          padding-left: 2.2rem;
        }
      }
      &:before,
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 22px solid transparent;
        border-left: 22px solid $white;
        border-bottom: 22px solid transparent;
        top: 0;
        position: absolute;
        z-index: 1;
        right: -20px;
      }
      &:before {}
      &:after {
        right: -18px;
        border-left-color: $color-primary-action;
      }
      &:hover {
        background-color: lighten($color-primary-action, 20%);
        color: $black;
        &:after {
          border-left-color: lighten($color-primary-action, 20%);
        }
      }
    }
  }
  #footer{
      &:before{
          height: 75rem;
      }
  }
}


@include mq($until: small) {}

@include mq($from: small, $until: large) {}

@include mq($from: large) {}
