
/*
### Component: Modal

- Bootstrap modal

*/



@import "../../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_modals";

.modal {
    .close {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        //filter: alpha(opacity=20);
        opacity: .2;
    }
}

@include mq($until: small) {}

@include mq($from: small, $until: large) {}

@include mq($from: large) {}
