
/*
### Component: Pagination

- Bootstrap pagination

*/


@import "../../../../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_pagination";

.pagination {
  .footable-page {
    &.active {
      display: inline;
    }
    &.clickable{
      display: inline;
    }
  }
}
.pagination-centered {
  text-align: center;
}

@include mq($until: small) {}

@include mq($from: small, $until: large) {}

@include mq($from: large) {}
