<section class="lo-full">
<header>
  <h2>Standard tabell</h2>
</header>
  <table class="">
    <thead>
      <tr>
        <th>Navn</th>
        <th data-hide="phone">Stilling</th>
        <th data-hide="phone">Tlf. arbeid&nbsp;</th>

        <th data-hide="all">Mobil</th>

        <th data-hide="phone,tablet" colspan="3">&nbsp;</th>
      </tr>
    </thead>
    <tbody>


      <tr>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=7418&amp;module=admin">Aae, Rune</a>
        </td>
        <td>Høgskolelektor</td>
        <td>69215897</td>

        <td>410 11 885</td>


        <td><a href="/neted/front/vcard.php?id=7418">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:rune.aae@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=7418&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=74&amp;module=admin">Aagaard, Heidi</a>
        </td>
        <td>Førstelektor</td>
        <td>69303077</td>

        <td></td>

        <td><a href="/neted/front/vcard.php?id=74">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:heidi.aagaard@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=74&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=26329&amp;module=admin">Aaker, Olav</a>
        </td>
        <td>Førsteamanuensis</td>
        <td>69104180</td>

        <td></td>
        <td><a href="/neted/front/vcard.php?id=26329">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:olav.aaker@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=26329&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=279&amp;module=admin">Aarset, Geir</a>
        </td>
        <td>Førstekonsulent</td>
        <td>69303016</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=279">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:geir.aarset@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=279&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=7158&amp;module=admin">Aarøen, Kari</a>
        </td>
        <td>Høgskolelektor</td>
        <td>69303058</td>

        <td>90933976</td>


        <td><a href="/neted/front/vcard.php?id=7158">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:kari.aaroen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=7158&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=35170&amp;module=admin">Aatangen, Annelin Saxhaug</a>
        </td>
        <td>Spesialbibliotekar</td>
        <td>69215228</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=35170">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:annelin.s.aatangen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=35170&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=32589&amp;module=admin">Abba, Afshaan</a>
        </td>
        <td>Førstesekretær</td>
        <td>69362101</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=32589">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:afshaan.abba@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=32589&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=130&amp;module=admin">Afdal, Geir</a>
        </td>
        <td>Professor</td>
        <td>69215169</td>

        <td>994 04 070</td>


        <td><a href="/neted/front/vcard.php?id=130">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:geir.afdal@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=130&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=9100&amp;module=admin">Afdal, Hilde Wågsås</a>
        </td>
        <td>Førsteamanuensis</td>
        <td>69215885</td>

        <td>975 66 558</td>


        <td><a href="/neted/front/vcard.php?id=9100">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:hilde.w.afdal@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=9100&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=66&amp;module=admin">Akerbæk, Trond Henry</a>
        </td>
        <td>EDB-sjef</td>
        <td>69215330</td>

        <td>90524235</td>


        <td><a href="/neted/front/vcard.php?id=66">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:trond.h.akerbak@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=66&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=5562&amp;module=admin">Ålesve, Cathrine</a>
        </td>
        <td>Høgskolelektor</td>
        <td>69303181</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=5562">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:cathrine.alesve@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=5562&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=309&amp;module=admin">Ambjørnsen, Inger Karine</a>
        </td>
        <td>Høgskolelektor</td>
        <td>69303028</td>

        <td>90993825</td>


        <td><a href="/neted/front/vcard.php?id=309">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:inger.k.ambjornsen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=309&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=20563&amp;module=admin">Andersen, Fred Carlo</a>
        </td>
        <td>Førstelektor</td>
        <td>69215139</td>

        <td>99575235</td>


        <td><a href="/neted/front/vcard.php?id=20563">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:fred.c.andersen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=20563&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=76&amp;module=admin">Andersen, Kirsti Lauvli</a>
        </td>
        <td>Førstelektor</td>
        <td>69303115</td>

        <td>41335667</td>


        <td><a href="/neted/front/vcard.php?id=76">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:kirsti.l.andersen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=76&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=311&amp;module=admin">Andersen, Inger-Lise B</a>
        </td>
        <td>Konsulent</td>
        <td>69215347</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=311">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:inger.l.b.andersen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=311&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=627&amp;module=admin">Andersen, Anne Grethe</a>
        </td>
        <td>Renholdsbetjent</td>
        <td>69215769</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=627">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:anne.g.andersen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=627&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=20579&amp;module=admin">Andersen, Tormod Christian Hovdegaard</a>
        </td>
        <td>Driftstekniker</td>
        <td>69215296</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=20579">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:tormod.c.andersen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=20579&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=276&amp;module=admin">Andersson, Gunnar</a>
        </td>
        <td>Førsteamanuensis</td>
        <td>69104096</td>

        <td>92858976</td>


        <td><a href="/neted/front/vcard.php?id=276">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:gunnar.andersson@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=276&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=647&amp;module=admin">Andreassen, Rune</a>
        </td>
        <td>Førsteamanuensis</td>
        <td>69215771</td>

        <td>473 36 067</td>


        <td><a href="/neted/front/vcard.php?id=647">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:rune.andreassen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=647&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=94&amp;module=admin">Andreassen, John-Erik</a>
        </td>
        <td>Høgskolelektor</td>
        <td>69215236</td>

        <td>+4791856900</td>


        <td><a href="/neted/front/vcard.php?id=94">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:john.e.andreassen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=94&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=498&amp;module=admin">Andreassen, Hilde Marie</a>
        </td>
        <td>Høgskolelektor</td>
        <td>69303068</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=498">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:hilde.m.andreassen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=498&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=260&amp;module=admin">Andreassen, Elin Kristin Ajer</a>
        </td>
        <td>Avdelingsingeniør</td>
        <td>69215357</td>

        <td>48194160</td>


        <td><a href="/neted/front/vcard.php?id=260">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:elin.k.andreassen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=260&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=648&amp;module=admin">Andresen, Ragnhild</a>
        </td>
        <td>Førsteamanuensis</td>
        <td>69215093</td>

        <td>951 81 055</td>


        <td><a href="/neted/front/vcard.php?id=648">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:ragnhild.andresen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=648&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=26&amp;module=admin">Anker Rasch, Karin Helene</a>
        </td>
        <td>Rådgiver</td>
        <td>69215211</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=26">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:karin.a.rasch@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=26&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=199&amp;module=admin">Antonsen, Eva Bjørg</a>
        </td>
        <td>Førstelektor</td>
        <td>69303169</td>

        <td>93815805</td>


        <td><a href="/neted/front/vcard.php?id=199">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:eva.b.antonsen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=199&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=432&amp;module=admin">Arnesen, Trine</a>
        </td>
        <td>Høgskolelektor</td>
        <td>69303104</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=432">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:trine.arnesen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=432&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=32803&amp;module=admin">Arnesen, Marius</a>
        </td>
        <td>Lærling</td>
        <td></td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=32803">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:marius.arnesen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=32803&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=626&amp;module=admin">Arnesen, Tove Lisbeth</a>
        </td>
        <td>Renholdsbetjent</td>
        <td>69215769</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=626">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:tove.l.arnesen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=626&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=247&amp;module=admin">Arntsen, Even</a>
        </td>
        <td>Førstelektor</td>
        <td>69104064</td>

        <td>99717806</td>


        <td><a href="/neted/front/vcard.php?id=247">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:even.arntsen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=247&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=115&amp;module=admin">Arntzen, Ragnar</a>
        </td>
        <td>Førstelektor</td>
        <td>69215075</td>

        <td>990 00 802</td>


        <td><a href="/neted/front/vcard.php?id=115">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:ragnar.arntzen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=115&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=554&amp;module=admin">Arntzen, Eystein</a>
        </td>
        <td>Seniorrådgiver</td>
        <td>69104147</td>

        <td>905 69 652</td>


        <td><a href="/neted/front/vcard.php?id=554">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:eystein.arntzen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=554&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=20387&amp;module=admin">Arntzen, Erik</a>
        </td>
        <td>Professor</td>
        <td></td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=20387">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:erik.arntzen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=20387&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=7424&amp;module=admin">Arvesen, Petter André</a>
        </td>
        <td>Høgskolelektor</td>
        <td>69303174</td>

        <td>47268866</td>


        <td><a href="/neted/front/vcard.php?id=7424">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:petter.a.arvesen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=7424&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=92&amp;module=admin">Arvidsen, Nils Ingar</a>
        </td>
        <td>Amanuensis</td>
        <td>69215238</td>

        <td></td>


        <td><a href="/neted/front/vcard.php?id=92">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:nils.i.arvidsen@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=92&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=9350&amp;module=admin">Arx, Serge von</a>
        </td>
        <td>Professor</td>
        <td>69362126</td>

        <td>+47.41449318</td>


        <td><a href="/neted/front/vcard.php?id=9350">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:serge.v.arx@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=9350&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=537&amp;module=admin">Asmyhr, Morten</a>
        </td>
        <td>Førstelektor</td>
        <td>69303042</td>

        <td>92246057</td>


        <td><a href="/neted/front/vcard.php?id=537">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:morten.asmyhr@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=537&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=261&amp;module=admin">Astrup, Elisabeth</a>
        </td>
        <td>Høgskolelektor</td>
        <td>69303011</td>

        <td>+4741698248</td>


        <td><a href="/neted/front/vcard.php?id=261">Vcard</a>
        </td>
        <td><a href="http://hiof.nomailto:elisabeth.astrup@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=261&amp;module=admin">Profil</a>
        </td>
      </tr>
      <tr>
        <td><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=213&amp;module=admin">Avias, Andre</a>
        </td>
        <td>Førstelektor</td>
        <td>69215239</td>

        <td>99597664</td>


        <td><a href="/neted/front/vcard.php?id=213">Vcard</a>
        </td>
        <td><a href="mailto:andre.avias@hiof.no">Email</a>
        </td>
        <td><a href="http://hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;displayitem=213&amp;module=admin">Profil</a>
        </td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <td colspan="5"></td>
        <td colspan="2"><a href="#">Se avdelingssider</a></td>
      </tr>
    </tfoot>
  </table>

</section>
