// Variables

// Import color variables
@import "../../../../vendor/hiof-color/app/assets/sass/_variables";


// Import typography variables
@import "../../../../vendor/hiof-typography/app/assets/sass/_variables";



// Border-radius

$border-radius-small: .2rem;
$border-radius-standard: .4rem;
$border-radius-large: .8rem;


// Sizes

$whitespace-2rem: 2rem;
$whitespace-4rem: 4rem;


// Divider

$divider-border-standard: 1px solid #eee;


// MQ breakpoints

$mq-breakpoints: (
    small:  640px,
    large: 900px
);
$mq-static-breakpoint: large;
$mq-show-breakpoints: (small, large);
