<div id="index" class="cover-inline gradient"></div>

<section id="study" class="lo-full">

  <section>

    <article class="lo-one-third">
      <header><h3>Masterstudium i scenografi</h3></header>
      <p>Studiet fokuserer på fordypning innenfor en bredere forståelse av scenografi og bidrar til å definere rom i en performativ sammenheng. </p>
      <a href="#" class="btn btn-primary btn-line">Les om masterstudium i scenografi</a>
    </article>
    <article class="lo-one-third">
      <header><h3>Søknadsfrist 1. oktober</h3></header>
      <ul>
        <li><a href="#">Akuttsykepleie</a></li>
        <li><a href="#">Anestesisykepleie</a></li>
        <li><a href="#">Intensivsykepleie</a></li>
        <li><a href="#">Operasjonssykepleie</a></li>
        <li><a href="#">Realfagskurs</a></li>
      </ul>
    </article>


    <article class="lo-one-third">
      <header><h3>Studiestart</h3></header>

      <p>Gratis <a href="">buss fra Fredrikstad og tilbake</a>, alle studenter <a href="">registrerer seg ved sine avdelinger</a>, <a href="">formell åpningssermoni</a>, <a href="">åpning av fadderukene med stor konsert</a>.</p>
      <p><a href="" class="btn btn-primary btn-line">Se våre studiestart sider for mer informasjon</a> </p>
    </article>


  </section>

  <footer>
    <ul class="nav">
      <li class="dropdown"><a href="#" class="btn btn-link arrow arrow-right">Finn studier etter fagområde</a>
        <ul class="dropdown-menu">
          <li><a href="#">Forkurs og realfagskurs</a>
          </li>
          <li><a href="#">Helse- og sosialfaglige utdanninger</a>
          </li>
          <li><a href="#">Ingeniørutdanninger</a>
          </li>
          <li><a href="#">IT-utdanninger</a>
          </li>
          <li><a href="#">Lærer- og pedagogiske utdanninger</a>
          </li>
          <li><a href="#">Samfunnsfag- og språkfagutdanninger</a>
          </li>
          <li><a href="#">Økonomi, administrasjon og ledelsesutdanninger</a>
          </li>
          <li><a href="#">Scenekunstutdanninger</a>
          </li>
        </ul>
      </li>
      <li><a href="#" class="btn btn-link arrow arrow-right">.. etter studienivå</a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Bachelorprogram</a>
          </li>
          <li>
            <a href="#">Masterprogram</a>
          </li>
          <li>
            <a href="#">Årsstudier</a>
          </li>
          <li>
            <a href="#">Lavere grad studier</a>
          </li>
          <li>
            <a href="#">Studier på masternivå</a>
          </li>
          <li>
            <a href="#">4-årig lærerutdanning</a>
          </li>
        </ul>
      </li>
      <li><a href="#" class="btn btn-link arrow arrow-right">.. etter tilrettelegging</a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Etter- og videreutdanning</a>
          </li>
          <li>
            <a href="#">Nett og / eller samlingsbasserte studier</a>
          </li>
          <li>
            <a href="#">Deltid</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="btn btn-link arrow arrow-right">Alle studier</a>

      </li>
      <li><a href="#" class="btn btn-link arrow arrow-right">Senter for kompetanseutvikling (SKUT)</a></li>
    </ul>

  </footer>

</section>

<section id="people" class="lo-auron-1-3 fade-in">
  <header>
    <h2>Personer</h2>
  </header>
  <form class="">
    <div  class="input-group">
      <input type="text" placeholder="Søk etter personer eller kompetanse" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Søk</button>
      </span>
    </div>
  </form>
  <button class="btn btn-primary btn-line arrow arrow-right float-right">Alle personer</button>
</section>

<section id="calendar" class="lo-auron-2-3 calendar fade-in">
  <header>
    <h2>Arrangementer</h2>
  </header>
  <article class="calendar-entry lo-half">
    <time datetime="2014-09-20" class="icon">
      <span>9</span>
      <strong>Aug</strong>
    </time>
    <section>
      <h3><a href="#">Akademiet: Åpen gjesteforelesning</a></h3>
    </section>
  </article>
  <article class="calendar-entry lo-half">
    <time datetime="2014-09-20" class="icon">
      <span>2</span>
      <strong>Sep</strong>
    </time>
    <section>
      <h3><a href="#">ØSS-seminar om fremmedspråk</a></h3>
    </section>
  </article>
  <article class="calendar-entry  lo-half">
    <time datetime="2014-09-20" class="icon">
      <span>6</span>
      <strong>Sep</strong>
    </time>
    <section>
      <h3><a href="#">Innovasion Camp 2014</a></h3>
    </section>
  </article>
  <article class="calendar-entry lo-half">
    <time datetime="2014-09-20" class="icon">
      <span>12</span>
      <strong>Sep</strong>
    </time>
    <section>
      <h3><a href="#">Pedagogisk lunsj</a></h3>
    </section>
  </article>
</section>



<section id="research" class="lo-full fade-in">
  <header class="">
    <h2>Forskning</h2>
    <button class="btn btn-primary btn-line arrow arrow-right float-right">Gå til forskning</button>
  </header>
  <article class="article article-entry article-vertical  lo-quarter">
    <img src="assets/images/analyse/article-1-science.jpg">
    <header>
      <h3>What is Science Fiction?</h3>

    </header>
    <p>- For many it brings to mind little green men, buggy-eyed monsters and strange planets, says Robert Mikkelsen at Østfold university college.</p>
  </article>
  <article class="article article-entry article-vertical  lo-quarter">
    <img src="assets/images/analyse/article-2-teacher.jpg">
    <header>
      <h3>- Jeg vil være drømmelæreren!</h3>

    </header>
    <p>Jeg vil velge mine elever selv. Da vil jeg ha de lydige elevene, de som sier ja og som alltid sitter stille. De som rekker opp hånda når de ikke forstår og følger nøye med når jeg forklarer for dem.</p>
  </article>
  <article class="article article-entry article-vertical  lo-quarter">
    <img src="assets/images/analyse/article-3-fotball.jpg">
    <header>
      <h3>Fotball, rus og .. jobb!</h3>

    </header>
    <p>Kan det virkelig være slik at fotball fungerer som avrusning? Fredrikstad Fotballklubb startet høsten 2011 opp «Gatelaget», et treningstilbud for rusmiddelavhengige.</p>
  </article>
  <article class="article article-entry article-vertical  lo-quarter">
    <img src="assets/images/analyse/article-4-change.jpg">
    <header>
      <h3>Hva er endring?</h3>

    </header>
    <p>Etter et knapt halvår med ny regjering kjenner jeg meg allerede trøtt.</p>
  </article>
</section>


<section id="news" class="lo-full fade-in">
  <header>
    <h2>Aktuelt</h2>
    <button class="btn btn-primary btn-line arrow arrow-right float-right">Gå til aktuelt</button>
  </header>

  <article class="article article-entry article-vertical lo-quarter">
  <img src="assets/images/analyse/article-news-1.jpg">
    <header>
      <h3>Unge entreprenører</h3>
    </header>
    <p class="">
      Kårer Smartingen 2014: I dag er 200 skolelever fra hele Østfold samlet sammen med lærerstudentene ved Høgskolen i Østfold, Halden for å kåre årets smarteste nyskapning.
    </p>
  </article>
  <article class="article article-entry article-vertical  lo-quarter">
  <img src="assets/images/analyse/article-news-2.jpg">
    <header>
      <h3>Skanner ører til 200 studenter</h3>
    </header>
    <p class="">
      Denne uka får 200 studenter ved Høgskolen i Østfold skannet sine ører. Camilla Simonsen er én av fire ingeniørstudenter som nå lager den første databasen for å utvikle hodetelefoner som sitter bedre i ørene.
    </p>
  </article>
  <article class="article article-entry article-vertical  lo-quarter">
  <img src="assets/images/analyse/article-news-3.jpg">
    <header>
      <h3>Ny bok om fremmedspråk</h3>
    </header>
    <p class="">
      – Vår nye bok egner seg for alle som er eller skal bli språklærere, sier Camilla Bjørke, Magne Dypedahl og Gro-Anita Myklevold. De underviser i språk ved HiØ og er redaktører for boka «Fremmedspråksdidaktikk».
    </p>
  </article>
  <article class="article article-entry article-vertical lo-quarter">
  <img src="assets/images/analyse/article-news-4.jpg">
    <header>
      <h3>Profesjonsseminar om barn</h3>
    </header>
    <p class="">
      Onsdag 19.mars var det tverrfaglig profesjonsdag ved Høgskolen i Østfold. Temaet handlet om barn i vanskelige livssituasjoner.
    </p>
  </article>
</section>
<script type="text/javascript">
  $(function(){
    $("#header").addClass("display");
    $("html").addClass("cover index");
  });
</script>