<section id="content" class="lo-auron-2-3">

  <header>
    <h2>Prosjekt status</h2>
  </header>

  <h3>Fremdriftsplan</h3>
  <ol>


    <li>Artikkel / Enkelside
      <ul>
        <li>Artikler
          <ul>
            <li><a href="article-research.html">Forskningsartikkel</a>
            </li>
            <li><a href="article-single.html">En artikkel</a>
            </li>
            <li><a href="article-chronicle.html">Kronikk</a>
            </li>
            <li><!--<a href="article-list.html">-->Liste med artikkler<!--</a>-->
            </li>
          </ul>
        </li>
        <li>Kontakt
          <ul>
            <li><a href="content-contact.html">Kontakt</a>
            </li>
            <li><a href="content-contact-web-responsible.html">Webansvarlige</a>
            </li>
          </ul>
        </li>
        <li>Kompetansesøk / Profil
          <ul>
            <li><a href="content-section-person-search.html">Kompetansesøk</a>
        </li>
            <li><a href="content-section-person-profile.html">Profil (Jo Ese)</a>
        </li>
            
          </ul>
        </li>
        <li>Studier
          <ul>
            <li><a href="studier-index.html">/Studier</a>
            </li>
            <li><a href="studier-dataingenior.html">Dataingeniør (bachelorstudium)</a>
            </li>
          </ul>

        </li>
      </ul>
    </li>


    <li>Innholdselementer
      <ul>
        <li><a href="content-table.html">Tabell</a>
        </li>
        <li>Arrangementer
          <ul>
            <li><a href="content-section-calendar.html">Arrangementoversikt</a>
              <li><a href="content-section-calendar-event.html">Enkelt arrangement</a>
          </ul>
          </li>

          <li>Skjema / interaksjonselementer
            <ul>
              <li><a href="form-index.html">Skjema</a>
              </li>
              <li><a href="form-buttons.html">Diverse knapp eksempler</a>
              </li>
            </ul>
          </li>


          <li>Typografi/Text
            <ul>
              <li><a href="typography-kitchen-sink.html">Diverse text eksempler ("kitchen sink")</a>
              </li>
              <li><a href="typography-index.html">Studietekst eksempel</a>
              </li>
            </ul>
          </li>
          <li>Typografisk eksperiment
            <ul>
              <li><a href="typography-1.html">1</a>
              </li>
              <li><a href="typography-2.html">2</a>
              </li>
              <li><a href="typography-4.html">3</a>
              </li>
              <li><a href="typography-3.html">4</a>
              </li>
            </ul>
          </li>
      </ul>
      </li>
  </ol>
</section>

<aside id="sidebar" class="lo-auron-1-3">
  <header>
    <h2>Om hiof.no next</h2>
  </header>
  <p>Her kommer det generell informasjon om prosjektet.</p>
</aside>
