<section>

  <header>
    <h2>Om hiof.no next</h2>
  </header>

  <p>Her kommer det generell informasjon om prosjektet.</p>

</section>


<section>

  <header>
    <h2>Prosjekt status</h2>
  </header>

  <h3>Fremdriftsplan</h3>
  <ol>
    <li>Artikkel / enkelside
      <ol>
        <li><a href="/typography/">Typografi/Text</a>
        </li>
        <li>Bilde/Video/Media flyt</li>
      </ol>
    </li>
  </ol>
</section>



<footer>
  <p>
    <small>Sist oppdatert 19.03.14 - Kenneth Dahlstrøm</small>
  </p>
</footer>
