<section>

  <header>
    <h2>Om hiof.no next</h2>
  </header>

  <p>Her kommer det generell informasjon om prosjektet.</p>

</section>


<section>

  <header>
    <h2>Prosjekt status</h2>
  </header>

  <h3>Fremdriftsplan</h3>
  <ol>
    <li>Artikkel / enkelside
      <ol>
        <li>Typografisk eksprement
          <ul>
            <li><a href="typography-1.html">1</a>
            </li>
            <li><a href="typography-2.html">2</a>
            </li>
            <li><a href="typography-3.html">3</a>
            </li>
          </ul>
        </li>
        <li>Typografi/Text
          <ul>
            <li><a href="typography-kitchen-sink.html">Diverse text eksempler ("kitchen sink")</a>
            </li>
            <li><a href="typography-index.html">Studietekst eksempel</a>
            </li>
          </ul>
        </li>
        <li>Bilde/Video/Media flyt</li>
      </ol>
    </li>
    <li>Skjema / former / interaksjonselementer
      <ul>

        <li><a href="form-index.html">Interaksjonselementer</a>
        </li>
        <li><a href="form-buttons.html">Diverse knapp eksempler</a>
        </li>

      </ul>
    </li>
  </ol>
</section>


<footer>
  <p>
    <small>Sist oppdatert 24.03.14 - Kenneth Dahlstrøm</small>
  </p>
</footer>
