<section id="study" class="lo-full">
  <article class="lo-full ">
    <h1>Bli student</h1>
    <a href="/studier-index.html" class="btn btn-primary btn-line btn-lg">Se våre studier</a>
  </article>

  <footer>
    <ul class="nav">
      <li>
        <a href="#" class="btn btn-link arrow arrow-right">Alle studier</a>
      </li>
      <li class="dropdown"><a href="#" class="btn btn-link arrow arrow-right">Studier etter fagområde</a>
        <ul class="dropdown-menu">
          <li><a href="#">Forkurs og realfagskurs</a>
          </li>
          <li><a href="#">Helse- og sosialfaglige utdanninger</a>
          </li>
          <li><a href="#">Ingeniørutdanninger</a>
          </li>
          <li><a href="#">IT-utdanninger</a>
          </li>
          <li><a href="#">Lærer- og pedagogiske utdanninger</a>
          </li>
          <li><a href="#">Samfunnsfag- og språkfagutdanninger</a>
          </li>
          <li><a href="#">Økonomi, administrasjon og ledelsesutdanninger</a>
          </li>
          <li><a href="#">Scenekunstutdanninger</a>
          </li>
        </ul>
      </li>
      <li><a href="#" class="btn btn-link arrow arrow-right">Studier etter studienivå</a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Bachelorprogram</a>
          </li>
          <li>
            <a href="#">Masterprogram</a>
          </li>
          <li>
            <a href="#">Årsstudier</a>
          </li>
          <li>
            <a href="#">Lavere grad studier</a>
          </li>
          <li>
            <a href="#">Studier på masternivå</a>
          </li>
          <li>
            <a href="#">4-årig lærerutdanning</a>
          </li>
        </ul>
      </li>
      </li>
      <li><a href="#" class="btn btn-link arrow arrow-right">Tilrettelagte studier</a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Etter- og videreutdanning</a>
          </li>
          <li>
            <a href="#">Nett og / eller samlingsbasserte studier</a>
          </li>
          <li>
            <a href="#">Deltid</a>
          </li>
        </ul>
      </li>
      <!--
      <li>
        <form role="form" class="form-inline">

            <label for="studiekatalogsok" class="sr-only">Studiekatalogsøk</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Studiekatalogsøk">
              <span class="input-group-btn">
                <input type="submit" value="Søk" class="btn btn-primary">
              </span>
            </div>


        </form>
      </li>-->
    </ul>

  </footer>

</section>

<section id="people" class="lo-auron-1-3 ">
  <header>
    <h2>Personer</h2>
    <button class="btn btn-link arrow arrow-right float-right">Alle personer</button>
  </header>
  <form class="lo-full">
    <div class="input-group">
      <input type="text" placeholder="Søk etter personer eller kompetanse" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Søk</button>
      </span>
    </div>
  </form>
</section>

<section id="calendar" class="lo-auron-2-3 calendar ">
  <header>
    <h2>Arrangementer</h2>
    <a href="#" class="btn btn-link arrow arrow-right float-right">Alle arrangementer</a>
  </header>
  <article class="calendar-entry lo-half">
    <time datetime="2014-09-20" class="icon">
      <span>9</span>
      <strong>Aug</strong>
    </time>
    <h3><a href="#">Akademiet: Åpen gjesteforelesning</a>
    </h3>
  </article>
  <article class="calendar-entry lo-half">
    <time datetime="2014-09-20" class="icon">
      <span>2</span>
      <strong>Sep</strong>
    </time>
    <h3><a href="#">ØSS-seminar om fremmedspråk</a>
    </h3>
  </article>
  <!--
  <article class="calendar-entry lo-quarter">
    <time datetime="2014-09-20" class="icon">
      <span>6</span>
      <strong>Sep</strong>
    </time>
    <h3><a href="#">Innovasion Camp 2014</a>
    </h3>
  </article>
  <article class="calendar-entry lo-quarter">
    <time datetime="2014-09-20" class="icon">
      <span>12</span>
      <strong>Sep</strong>
    </time>
    <h3><a href="#">Pedagogisk lunsj</a>
    </h3>
  </article>-->
</section>

<section id="research" class="lo-full ">
  <header>
    <h2>Forskning og utvikling</h2>
    <a href="/forskning" class="btn btn-link arrow arrow-right float-right">Gå til forskning</a>
  </header>
  <div class="outlet"></div>
  <div class="article-load" data-category="3,11" data-pageSize="4" data-destination="#research .outlet" data-template="posts-index" data-article-lo-class="lo-quarter"></div>

  <!--
  <div class="lo-quarter">
    <article class="article article-entry">
      <a href="http://neted3.hiof.no/nor/standard-forsteside/?&amp;displayitem=6&amp;module=news" class="title" title="Les mer: Ny forskning om etisk lederskap i skolen ">
        <img src="http://neted3.hiof.no/neted/services/file/?hash=9575981f977e7b63c6e87f8694eb78ed" class="picture" alt="undervisning654.jpg">
        <h3>Ny forskning om etisk lederskap i skolen</h3>
        <p class="lead-paragraph">Skjulte mekanismer for taushet hindrer åpenhet og refleksjon i kommunikasjon om vanskelige temaer i skolen. Dette skriver forsker Kjersti Lien Holte om i ny bok om etisk utdanningslederskap.</p>
        <!--<span class="published">[05.06.2014]</span>
      </a>
    </article>
  </div>
  <div class="lo-quarter">
    <article class="article article-entry">
      <a href="http://neted3.hiof.no/nor/standard-forsteside/?&amp;displayitem=5&amp;module=news" class="title" title="Les mer: Prosjektledelse og bedriftsrådgivning">
        <img src="http://neted3.hiof.no/neted/services/file/?hash=5dd8f0684109a8e5de0323f93a5216f2" class="picture" alt="KynningsrudStudenter.jpg">
        <h3>Prosjektledelse og bedriftsrådgivning</h3>
        <p class="lead-paragraph">Tre studenter fra Høgskolen i Østfold har i vinter hjulpet krankonsernet Kynningsrud i Uddevalla med å se på hva firmaet kan gjøre for å bli miljøsertifisert.</p>
        <!--<span class="published">[05.06.2014]</span>
      </a>
    </article>
  </div>
  <div class="lo-quarter">
    <article class="article article-entry">
      <a href="http://neted3.hiof.no/nor/standard-forsteside/?&amp;displayitem=3850&amp;module=news" class="title" title="Les mer: Bachelorpresentasjoner ved IT-avdelingen">
        <img src="http://neted3.hiof.no/neted/services/file/?hash=eb02f7ca763c6da6396162c267099408" class="picture" alt="ITprosjektB2014.jpg">
        <h3>Bachelorpresentasjoner ved IT-avdelingen</h3>
        <p class="lead-paragraph">4. – 6. juni arrangerer Avdeling for informasjonsteknologi åpne presentasjoner av årets bacheloroppgaver. Presentasjonene er åpne for alle og holdes på Remmen, studiested Halden.</p>
        <!--<span class="published">[02.06.2014]</span>
      </a>
    </article>
  </div>
  <div class="lo-quarter">
    <article class="article article-entry">
      <a href="http://neted3.hiof.no/nor/standard-forsteside/?&amp;displayitem=3849&amp;module=news" class="title" title="Les mer: Prosjektledelse og bedriftsrådgivning">
        <img src="http://neted3.hiof.no/neted/services/file/?hash=3063fc59d1691045feb43c65ee0a893e" class="picture" alt="Tre Østfold-studenter med miljøprosjekt for Kynningsrud i Sverige">
        <h3>Prosjektledelse og bedriftsrådgivning</h3>
        <p class="lead-paragraph">Tre studenter fra Høgskolen i Østfold har i vinter hjulpet krankonsernet Kynningsrud i Uddevalla med å se på hva firmaet kan gjøre for å bli miljøsertifisert.</p>
        <!--<span class="published">[02.06.2014]</span>
      </a>
    </article>
  </div>
    -->

</section>


<section id="news" class="lo-full ">
  <header>
    <h2>Nyheter</h2>
    <a href="http://staging.hiof.no/nor/aktuelt/nyheter" class="btn btn-link arrow arrow-right float-right">Gå til nyheter</a>
  </header>

  <div class="outlet"></div>
  <div class="article-load" data-category="2,12" data-pageSize="4" data-destination="#news .outlet" data-template="posts-index"data-article-lo-class="lo-quarter"></div>
  <!--
  <div class="lo-quarter">
    <article class="article article-entry">
      <a href="http://neted3.hiof.no/nor/standard-forsteside/?&amp;displayitem=3850&amp;module=news" class="title" title="Les mer: Bachelorpresentasjoner ved IT-avdelingen">
        <img src="http://neted3.hiof.no/neted/services/file/?hash=eb02f7ca763c6da6396162c267099408" class="picture" alt="ITprosjektB2014.jpg">
        <h3>Bachelorpresentasjoner ved IT-avdelingen</h3>
        <p class="lead-paragraph">4. – 6. juni arrangerer Avdeling for informasjonsteknologi åpne presentasjoner av årets bacheloroppgaver. Presentasjonene er åpne for alle og holdes på Remmen, studiested Halden.</p>
        <!--<span class="published">[02.06.2014]</span>
      </a>
    </article>
  </div>
  <div class="lo-quarter">
    <article class="article article-entry">
      <a href="http://neted3.hiof.no/nor/standard-forsteside/?&amp;displayitem=3849&amp;module=news" class="title" title="Les mer: Prosjektledelse og bedriftsrådgivning">
        <img src="http://neted3.hiof.no/neted/services/file/?hash=3063fc59d1691045feb43c65ee0a893e" class="picture" alt="Tre Østfold-studenter med miljøprosjekt for Kynningsrud i Sverige">
        <h3>Prosjektledelse og bedriftsrådgivning</h3>
        <p class="lead-paragraph">Tre studenter fra Høgskolen i Østfold har i vinter hjulpet krankonsernet Kynningsrud i Uddevalla med å se på hva firmaet kan gjøre for å bli miljøsertifisert.</p>
        <!--<span class="published">[02.06.2014]</span>
      </a>
    </article>
  </div>
  <div class="lo-quarter">
    <article class="article article-entry">
      <a href="http://neted3.hiof.no/nor/standard-forsteside/?&amp;displayitem=3848&amp;module=news" class="title" title="Les mer: 40 år med arbeidslivsforskning">
        <img src="http://neted3.hiof.no/neted/services/file/?hash=7443dbe1b02a98cd6ed80564107c4e33" class="picture" alt="EgilSkorstad_web.jpg">
        <h3>40 år med arbeidslivsforskning</h3>
        <p class="lead-paragraph">Etter over 40 år som professor og forsker innen organisasjon- og arbeidsliv, har Egil Skorstad fått tittelen professor emeritus. 18. juni holder Skorstad den aller første emeritusforelesningen ved Høgskolen i Østfold.</p>
        <!--<span class="published">[30.05.2014]</span>
      </a>
    </article>
  </div>
  <div class="lo-quarter">
    <article class="article article-entry">
      <a href="http://neted3.hiof.no/nor/standard-forsteside/?&amp;displayitem=3842&amp;module=news" class="title" title="Les mer: Slipper sinnet løs på scenen">
        <img src="http://neted3.hiof.no/neted/services/file/?hash=339d8deb2e68eed826714a48df0b8e33" class="picture" alt="SNART PREMIERE: Førstkommende fredag er det premiere på Roadrage ved Akademi for sccenekunst. ">
        <h3>Slipper sinnet løs på scenen</h3>
        <p class="lead-paragraph">Den kommende forestillingen Roadrage ved Akademi for scenekunst blir ingen stillegående affære.
          <br />Fokuset er nemlig på sinne, aggresjon og bevegelse.</p>
        <!--<span class="published">[25.05.2014]</span>
      </a>
    </article>
  </div>-->
</section>

<script type="text/javascript">
$(function() {
  $("html").addClass("cover video index");
  $("#header").addClass("dark");
});
</script>
<span id="index"></span>
