<section id="content" role="main" width="800">

  </h1>
  <div class="studiekatalog_itemDisplay_katalog">
    <a name="KS001"></a>
    <div class="divStudieinfoKatalog studieinfoFieldKS001">
      <H1 class="studieinfoTitle H1style">
        Bachelorstudium i ingeniørfag - data
      </H1>
    </div>
    <a name="KS039"></a>
    <div class="divStudieinfoKatalog studieinfoFieldKS039">
      <DIV class="studieinfoTitle DIVstyle">
        <p>
          <br>
          <img alt="studiekatalogbilde1" height="127" id="studiekatalogbilde1" src="http://hiof.no/ekstern/studiekatalog/IngeniorfagData1.jpg" style="float: left;" width="300">
          <img alt="studiekatalogbilde2" height="127" id="studiekatalogbilde2" src="http://hiof.no/ekstern/studiekatalog/IngeniorfagData2.jpg" style="float: left;" width="300">
        </p>
        <p></p>
        <div style="clear: left; margin-bottom: 10px;"></div>
      </DIV>
    </div>
    <a name="KS019"></a>
    <div class="divStudieinfoKatalog studieinfoFieldKS019">
      <H2 class="studieinfoTitle H2style">
        Generelt om studiet</H2>
      <p>Dataløsningene fra i går er sjelden egnet til å løse morgendagens behov. Som dataingeniør er du med på å utvikle systemene som skal prege framtiden. En ingeniør er lært opp til å se faget sitt i sammenheng med samfunnet rundt seg og forstå kompliserte strukturer. Med denne utdanningen kan du bidra på alle felt innenfor data- og IT-sektoren.</p>
      <p>De første to årene vil du lære grunnleggende datafag som programmering, databaser, operativsystemer og datakommunikasjon. Realfag og samfunnsfag er også viktige i en ingeniørutdanning og undervises også de første to årene. I tredje studieår vil du lære om intelligente systemer og bruk av IT i virksomheter og industri. Her lager du programmer som håndterer både tekniske og administrative systemer i en bedrift. Det er praktisk vinkling på de fleste fag, og du vil jobbe med problemstillinger som er hentet fra industri, næringsliv og offentlig forvaltning. Særlig gjelder dette den avsluttende bacheloroppgaven i sjette semester.</p>
      <p>Det er mulig å ta ett eller to semestre ved en av våre samarbeidsinstitusjoner i utlandet. Dette foregår eventuelt i andre eller tredje studieår.</p>
    </div>
    <a name="KS033"></a>
    <div class="divStudieinfoKatalog studieinfoFieldKS033">
      <H2 class="studieinfoTitle H2style">
        Opptakskrav</H2>
      <div class="studieinfoAdmission">
        <p>Et av f&oslash;lgende:</p>
        <ul>
          <li>generell studiekompetanse/realkompetanse og matematikk (R1+R2) og fysikk (FYS1), eller</li>
          <li>generell studiekompetanse og best&aring;tt realfagkurs, eller</li>
          <li>2-&aring;rig teknisk fagskole etter rammeplan fastsatt av departementet 1998/99 og tidligere studieordninger, eller</li>
          <li>nyere, godkjent teknisk fagskoleutdanning med dokumenterte kunnskaper i matematikk og fysikk tilsvarende matematikk (R1+R2) og fysikk (FYS1) eller</li>
          <li>best&aring;tt 1-&aring;rig forkurs for ingeni&oslash;r- og maritim h&oslash;yskoleutdanning</li>
        </ul>
        <div class="admissionUpdateTime">Sist oppdatert: 16.12.2013 21:26</div>
      </div>
    </div>
    <a name="KS014"></a>
    <div class="divStudieinfoKatalog studieinfoFieldKS014">
      <H2 class="studieinfoTitle H2style">
        Videre utdanning</H2>
      <p>Bestått studium kvalifiserer for opptak til vårt eget masterstudium i anvendt informatikk. Du vil også være kvalifisert til å søke andre masterstudier ved universiteter og høgskoler i inn- og utland.</p>
    </div>
    <a name="KS015"></a>
    <div class="divStudieinfoKatalog studieinfoFieldKS015">
      <H2 class="studieinfoTitle H2style">
        Yrkesmuligheter</H2>
      <p>Det er stort behov for personer med gode IT-kunnskaper i alle deler av samfunnet. Kandidater med bachelorgrad i ingeniørfag, data er etterspurte til stillinger som dataingeniør, programmerer, systemutvikler, IT-konsulent, prosjektleder, driftsansvarlig eller til utvikling av smarte IT-løsninger innen industri-, energi-, helse- og miljøsektoren.</p>
    </div>
    <div class="studiekatalog_itemDisplay_katalog-back_button">
      &laquo; <a href="javascript:history.go(-1)">Tilbake</a>
    </div>
  </div>

</section>
<aside id="page_tree_nav" role="navigation">
  <nav class="box navigation" role="navigation">
    <h1 class="ribbon blue">Nyttige sider</h1>

    <ul class="underMeny">
      <li class="underMeny"><a href="/index.php?ID=13974" id="active-link" class="active-path">Studietilbudet</a>
        <ul class="underMeny">
          <li class="underMeny"><a href="/index.php?ID=21535">Alle studier</a>
          </li>
          <li class="underMeny"><a href="http://www.hiof.no/opptak" target="_self">Opptaksinformasjon</a>
          </li>
          <li class="underMeny"><a href="/index.php?ID=13989">Studier avdelingsvis</a>
          </li>
          <li class="underMeny"><a href="/index.php?ID=13990">Etter- og videreutdanninger</a>
          </li>
        </ul>
      </li>
      <li class="underMeny"><a href="/index.php?ID=14012">Viktige datoer</a>
      </li>
    </ul>
  </nav>
</aside>

<aside id="sidebar_a" role="complementary">
  <section class="sidebar-standard">
    <h1>Konkurranse</h1>
    <p>
      <a href="http://blistudent.no" target="_new">
        <img height="300" id="archiveimage_36746" src="http://hiof.no/neted/modules/archive/front/display.php?data=70c9ccb7c2c901509de7181e2d31eccec65dfa4a" style="border: 0;" width="230">
      </a>
    </p>
  </section>
</aside>


<aside id="sidebar_b" class="student-catalog" role="complementary">
  <section class="sidebar-standard">
    <h1>Kortfakta om studiet</h1>



    <script>
    $(document).ready(function() {
      $("button[id=knapp1]").click(function() {
        $("#toggleme").fadeToggle("slow");
      });
    });
    </script>

    <script>
    $(document).ready(function() {
      $("button[id=knapp2]").click(function() {
        $("#toggleme2").fadeToggle("slow");
      });
    });
    </script>



    <div class="studie_boks">
      <div>
        <div>
          <div>
            <div>
              <div>
                <table cellpadding="0" cellspacing="0">

                  <tr>
                    <td>
                      <strong>Studiepoeng:</strong>180
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Varighet:</strong>Heltid, 3 år
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Studiestart:</strong>Høst 2014
                    </td>
                  </tr>
                  <!--<tr>
        <td>
         <strong>Antall semester:</strong> 
        </td>
       </tr>-->
                  <tr>
                    <td>
                      <strong>Undervisningsspråk:</strong>Norsk
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>Studiested:</strong>Halden
                    </td>
                  </tr>
                  <!--<tr>
        <td>
         
        </td>
       </tr>-->
                  <tr>
                    <td>
                      <button id="knapp1">Mer info. om studiet finnes her..</button>
                      <div id="toggleme" style="display:none">
                        <p>Studieplaner for studieåret 2014/2015 vil publiseres fortløpende i perioden mai-juli 2014. Inntil videre foreligger publiserte studieplaner for inneværende studieår.</p>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sidebar-standard">
    <h1>Studieplan</h1>
    <h3><a href=" /nor/hogskolen-i-ostfold/studiekatalog-_-rekrutteringssider/studietilbudet/viser-aktuelle-beskrivelser/?&amp;displayitem=1680&amp;module=studieinfo&amp;type=studieue">Vis studieplan</a>
    </h3>
    <p>
      <em>Studieplanene for h&oslash;st 2014 er under utarbeidelse, og vil bli publisert innen 1. juli.</em>
    </p>
  </section>
  <section class="sidebar-standard">
    <h1>Søk her!</h1>
    <div><a class="btn btn-sm blue" href="http://www.samordnaopptak.no/info/soke/logg-inn/velg-innlogging.html">S&oslash;k her! <span class="ss-icon">right</span></a>
      <br>
      <br>
      <br>
    </div>
    <p>
      <strong>
        <br>OBS! -
        <br>
      </strong>S&oslash;knadsweb &aring;pnet 1. februar for studier med s&oslash;knadsfrist v&aring;ren 2014.
      <br>S&oslash;knadsweb &aring;pner 1. september for studier med s&oslash;knadsfrist h&oslash;sten 2014.</p>
  </section>
  <section class="sidebar-standard">
    <h1>Spør meg om hjelp!</h1>
    <div>
      <div class="studieinfoCounsellorImage" style="">
        <img width="150" alt="Studiets studieveileder" src="http://hiof.no/uimg/1125039488.pjpeg">
      </div>
      <div class="studieinfoCounsellorInfo">
        <div class="studieinfoCounsellor studieinfoCounsellorName">
          <strong>Annette Øyen</strong>
        </div>
        <div class="studieinfoCounsellor studieinfoCounsellorPhone">
          <span class="stinfoCounsellorHeader">Tlf:</span>
          <span class="stinfoPhoneSpan">69215336</span>
        </div>
        <div class="studieinfoCounsellor studieinfoCounsellorEmail">
          <span class="stinfoCounsellorHeader">E-post:</span>
          <div><a href="mailto:annette.oyen@hiof.no">annette.oyen@hiof.no</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</aside>
