<aside id="sidebar" class="lo-auron-1-3">
    <nav class="nav-page">
        <ul class="nav nav-pills nav-stacked">
            <li class=""><a href="article-research.html">Forskning</a> 
            </li>
            <li class=""><a href="article-list.html">Aktuelle saker</a> 
            </li>
            <li class="active dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="article-archive.html">Arkiv for aktuelle saker<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    
                    <li class=""><a href="#content">Topp</a> 
                    </li>
                    <li class=""><a href="#article-archive-2013">Gå til 2013</a> 
                    </li>
                    <li class=""><a href="#article-archive-2012">Gå til 2012</a> 
                    </li>
                    <li class=""><a href="#article-archive-2011">Gå til 2011</a> 
                    </li>
                    <li class=""><a href="#article-archive-2010">Gå til 2010</a> 
                    </li>
                    <li class=""><a href="#article-archive-2009">Gå til 2009</a> 
                    </li>
                    <li class=""><a href="#article-archive-2008">Gå til 2008</a> 
                    </li>
                    <li class=""><a href="#article-archive-2007">Gå til 2007</a> 
                    </li>
                    <li class=""><a href="#article-archive-2006">Gå til 2006</a> 
                    </li>
                    <li class=""><a href="#article-archive-2005">Gå til 2005</a> 
                    </li>
                    <li class=""><a href="#article-archive-2004">Gå til 2004</a> 
                    </li>
                    <li class=""><a href="#article-archive-2003">Gå til 2003</a>
                    </li>
                </ul>
            </li>
        </ul>
        <a href="mailto:redaksjonen@hiof.no" class="btn btn-primary btn-line lo-full">Tips oss om saker</a>
    </nav>
</aside>
