<footer class="lo-full">
    <header class="lo-full">
        <h2>Les også</h2>
    </header>
    <article class="article article-entry article-vertical lo-quarter">
        <img src="assets/images/analyse/article-1-science.jpg">
        <header>
            <h3>What is Science Fiction?</h3>

        </header>
        <p>- For many it brings to mind little green men, buggy-eyed monsters and strange planets, says Robert Mikkelsen at Østfold university college.</p>
    </article>
    <article class="article article-entry article-vertical lo-quarter">
        <img src="assets/images/analyse/article-2-teacher.jpg">
        <header>
            <h3>- Jeg vil være drømmelæreren!</h3>
        </header>
        <p>Jeg vil velge mine elever selv. Da vil jeg ha de lydige elevene, de som sier ja og som alltid sitter stille. De som rekker opp hånda når de ikke forstår og følger nøye med når jeg forklarer for dem.</p>
    </article>
    <article class="article article-entry article-vertical lo-quarter">
        <img src="assets/images/analyse/article-3-fotball.jpg">
        <header>
            <h3>Fotball, rus og .. jobb!</h3>

        </header>
        <p>Kan det virkelig være slik at fotball fungerer som avrusning? Fredrikstad Fotballklubb startet høsten 2011 opp «Gatelaget», et treningstilbud for rusmiddelavhengige.</p>
    </article>
    <article class="article article-entry article-vertical lo-quarter">
        <img src="assets/images/analyse/article-4-change.jpg">
        <header>
            <h3>Hva er endring?</h3>
        </header>
        <p>Etter et knapt halvår med ny regjering kjenner jeg meg allerede trøtt.</p>
    </article>
</footer>