<section id="content" class="lo-auron-2-3">
    <header><h1>Aktuelt</h1></header>
    <article class="article article-entry article-vertical lo-half">
        <a href="article-single.html"><img src="assets/images/analyse/article-news-1.jpg"></a>
        <header>
            <h3><a href="article-single.html">Unge entreprenører</a></h3>
        </header>
        <p class="">
            Kårer Smartingen 2014: I dag er 200 skolelever fra hele Østfold samlet sammen med lærerstudentene ved Høgskolen i Østfold, Halden for å kåre årets smarteste nyskapning.
        </p>
    </article>
    <article class="article article-entry article-vertical lo-half">
        <a href="article-single.html"><img src="assets/images/analyse/article-news-2.jpg"></a>
        <header>
            <h3><a href="article-single.html">Skanner ører til 200 studenter</a></h3>
        </header>
        <p class="">
            Denne uka får 200 studenter ved Høgskolen i Østfold skannet sine ører. Camilla Simonsen er én av fire ingeniørstudenter som nå lager den første databasen for å utvikle hodetelefoner som sitter bedre i ørene.
        </p>
    </article>
    <article class="article article-entry article-vertical lo-half">
        <a href="article-single.html"><img src="assets/images/analyse/article-news-3.jpg"></a>
        <header>
            <h3><a href="article-single.html">Ny bok om fremmedspråk</a></h3>
        </header>
        <p class="">
            – Vår nye bok egner seg for alle som er eller skal bli språklærere, sier Camilla Bjørke, Magne Dypedahl og Gro-Anita Myklevold. De underviser i språk ved HiØ og er redaktører for boka «Fremmedspråksdidaktikk».
        </p>
    </article>
    <article class="article article-entry article-vertical lo-half">
        <a href="article-single.html"><img src="assets/images/analyse/article-news-4.jpg"></a>
        <header>
            <h3><a href="article-single.html">Profesjonsseminar om barn</a></h3>
        </header>
        <p class="">
            Onsdag 19.mars var det tverrfaglig profesjonsdag ved Høgskolen i Østfold. Temaet handlet om barn i vanskelige livssituasjoner.
        </p>
    </article>
    <article class="article article-entry article-vertical lo-half">
        <a href="article-single.html"><img src="assets/images/analyse/article-1-science.jpg"></a>
        <header>
            <h3><a href="article-single.html">What is Science Fiction?</a></h3>

        </header>
        <p>- For many it brings to mind little green men, buggy-eyed monsters and strange planets, says Robert Mikkelsen at Østfold university college.</p>
    </article>
    <article class="article article-entry article-vertical lo-half">
        <a href="article-single.html"><img src="assets/images/analyse/article-2-teacher.jpg"></a>
        <header>
            <h3><a href="article-single.html">- Jeg vil være drømmelæreren!</a></h3>
        </header>
        <p>Jeg vil velge mine elever selv. Da vil jeg ha de lydige elevene, de som sier ja og som alltid sitter stille. De som rekker opp hånda når de ikke forstår og følger nøye med når jeg forklarer for dem.</p>
    </article>
    <article class="article article-entry article-vertical lo-half">
        <a href="article-single.html"><img src="assets/images/analyse/article-3-fotball.jpg"></a>
        <header>
            <h3><a href="article-single.html">Fotball, rus og .. jobb!</a></h3>

        </header>
        <p>Kan det virkelig være slik at fotball fungerer som avrusning? Fredrikstad Fotballklubb startet høsten 2011 opp «Gatelaget», et treningstilbud for rusmiddelavhengige.</p>
    </article>
    <article class="article article-entry article-vertical lo-half">
        <a href="article-single.html"><img src="assets/images/analyse/article-4-change.jpg"></a>
        <header>
            <h3><a href="article-single.html">Hva er endring?</a></h3>
        </header>
        <p>Etter et knapt halvår med ny regjering kjenner jeg meg allerede trøtt.</p>
    </article>

    <footer class="lo-full">
        <ul class="pagination lo-center hide-if-no-paging">
            <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a>
            </li>
            <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a>
            </li>
            <li class="footable-page-arrow" style="display: none;"><a data-page="limit-prev" href="#limit-prev">...</a>
            </li>
            <li class="footable-page active"><a data-page="0" href="#">1</a>
            </li>
            <li class="footable-page"><a data-page="1" href="#">2</a>
            </li>
            <li class="footable-page"><a data-page="2" href="#">3</a>
            </li>
            <li class="footable-page"><a data-page="3" href="#">4</a>
            </li>
            <li class="footable-page"><a data-page="4" href="#">5</a>
            </li>
            <li class="footable-page-arrow"><a data-page="limit-next" href="#limit-next">...</a>
            </li>
            <li class="footable-page-arrow"><a data-page="next" href="#next">›</a>
            </li>
            <li class="footable-page-arrow"><a data-page="last" href="#last">»</a>
            </li>
        </ul>

    </footer>

</section>



<script type="text/javascript">
$(function() {
    $("html").addClass('cover index');
});
</script>
