<div class="cover-inline "></div>
<section id="content">
  <header>
    <h2>Arrangementer</h2>
  </header>

  <br>
  <br>
  <br>
  <br>
  <br>
  <article class="calendar-entry">
    <time datetime="2014-09-20" class="icon">
      <span>9</span>
      <strong>Aug</strong>
    </time>
    <section>
      <h3><a href="#">Akademiet: Åpen gjesteforelesning</a>
      </h3>
    </section>
  </article>
  <article class="calendar-entry">
    <time datetime="2014-09-20" class="icon">
      <span>2</span>
      <strong>Sep</strong>
    </time>
    <section>
      <h3><a href="#">ØSS-seminar om fremmedspråk</a>
      </h3>
    </section>
  </article>
  <article class="calendar-entry">
    <time datetime="2014-09-20" class="icon">
      <span>6</span>
      <strong>Sep</strong>
    </time>
    <section>
      <h3><a href="#">Innovasion Camp 2014</a>
      </h3>
    </section>
  </article>
  <article class="calendar-entry">
    <time datetime="2014-09-20" class="icon">
      <span>12</span>
      <strong>Sep</strong>
    </time>
    <section>
      <h3><a href="#">Pedagogisk lunsj</a>
      </h3>
    </section>
  </article>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</section>
