<div class="cover-inline "></div>
<section id="content" class="lo-auron-2-3">
  <header>
    <h2>Arrangementer</h2>
  </header>
  <p>Felles oversikt of arrangementer ved Høgskolen i Østfold.</p>
  <hr>

  <article class="lo-full calendar-entry">
    <header class="lo-full">
      <time datetime="2014-09-20" class="icon">
        <span>9</span>
        <strong>Aug</strong>
      </time>
      <h3><a href="#">Akademiet: Åpen gjesteforelesning</a> 
      </h3>
    </header>
    <section>
      <p>Forelesning ved Maria M Schwaegermann. Oppmøte i resepsjonen på Kråkerøy senest 1745.</p>
      <p>Velkommen! For å se hele vårprogrammet klikk her.</p>
    </section>
  </article>
  <article class="lo-full calendar-entry">
    <header class="lo-full">
      <time datetime="2014-09-20" class="icon">
        <span>2</span>
        <strong>Sep</strong>
      </time>
      <h3><a href="#">ØSS-seminar om fremmedspråk</a> 
      </h3>
    </header>
    <section>
      <p>Velkommen til ØSS-seminaret onsdag 2. april på VIP-rommet kl. 11.30 – 13.00. ØSS-seminaret er åpent for alle interesserte studenter og ansatte ved HiØ.</p>
      <p>Høgskolelektor Camilla Bjørke presenterer kap. 1 «Hva er fremmedspråksdidaktikk?» fra den rykende ferske boka Fremmedspråksdidaktikk (Oslo: Cappelen Damm akademisk, 2014). Boka er redigert av Camilla Bjørke, Magne Dypedahl og Gro-Anita Myklevold, alle tre ansatt ved Avdeling for økonomi, språk og samfunn.</p>
    </section>
  </article>
  <article class="lo-full calendar-entry">
    <header class="lo-full">
      <time datetime="2014-09-20" class="icon">
        <span>6</span>
        <strong>Sep</strong>
      </time>
      <h3><a href="#">Innovasion Camp 2014</a> 
      </h3>
    </header>
  </article>
  <article class="lo-full calendar-entry">
    <header class="lo-full">
      <time datetime="2014-09-20" class="icon">
        <span>12</span>
        <strong>Sep</strong>
      </time>
      <h3><a href="#">Pedagogisk lunsj</a> 
      </h3>
    </header>
    <section>
      <p>Veiledning på studentoppgaver i grupper.</p>
    </section>
  </article>
</section>
<aside id="sidebar" class="lo-auron-1-3">
  <header>
    <h2>Andre arrangementer</h2>
  </header>
  <p>Ønsker du at ditt arrangement skal vises i arrangementoversikten?</p>
  <a class="btn btn-primary btn-line" href="content-contact-web-responsible.html">Kontakt din web-ansvarlig</a>

  <section class="lo-auron-1-3" style="display:none;">
    <hr>
    <table>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td>
            <span>
              <table>
                <tbody>
                  <tr>
                    <td>
                      KALENDER</td>
                    <td align="right">
                    </td>
                  </tr>
                </tbody>
              </table>
            </span>
          </td>
          <td></td>
        </tr>
        <!--End display boxtitle and controlbuttons -->

        <!--Start display boxcontents -->
        <tr valign="top" align="left">
          <td></td>
          <td></td>
          <td>
            <span>
              <br>

              <table>
                <tbody>
                  <tr>
                    <td align="center" colspan="7">
                      <a href="/nor/hogskolen-i-ostfold/forside/kalender/?&amp;mmonth=3&amp;myear=2014">

                      </a>
                      <font><a href="/nor/hogskolen-i-ostfold/forside/kalender/?&amp;mmonth=4&amp;myear=2014">April 2014</a>
                      </font>
                      <a href="/nor/hogskolen-i-ostfold/forside/kalender/?&amp;mmonth=5&amp;myear=2014">

                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td align="center">M</td>
                    <td align="center">T</td>
                    <td align="center">O</td>
                    <td align="center">T</td>
                    <td align="center">F</td>
                    <td align="center">L</td>
                    <td align="center">S</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td valign="middle" align="center"><a href="/nor/hogskolen-i-ostfold/forside/kalender/?&amp;displayitem=5182&amp;module=communicator">1</a>
                    </td>
                    <td valign="middle" align="center"><a href="/nor/hogskolen-i-ostfold/forside/kalender/?&amp;displayitem=5199&amp;module=communicator">2</a>
                    </td>
                    <td valign="middle" align="center">3</td>
                    <td valign="middle" align="center"><a href="/nor/hogskolen-i-ostfold/forside/kalender/?&amp;displayitem=5202&amp;module=communicator">4</a>
                    </td>
                    <td valign="middle" align="center">5</td>
                    <td valign="middle" align="center">6</td>
                  </tr>
                  <tr>
                    <td valign="middle" align="center">7</td>
                    <td valign="middle" align="center"><a href="/nor/hogskolen-i-ostfold/forside/kalender/?&amp;function=viewday&amp;module=communicator&amp;da=8&amp;mo=4&amp;ye=2014&amp;ask=nonp">8</a>
                    </td>
                    <td valign="middle" align="center"><a href="/nor/hogskolen-i-ostfold/forside/kalender/?&amp;displayitem=5156&amp;module=communicator">9</a>
                    </td>
                    <td valign="middle" align="center">10</td>
                    <td valign="middle" align="center"><a href="/nor/hogskolen-i-ostfold/forside/kalender/?&amp;displayitem=5205&amp;module=communicator">11</a>
                    </td>
                    <td valign="middle" align="center">12</td>
                    <td valign="middle" align="center">13</td>
                  </tr>
                  <tr>
                    <td valign="middle" align="center">14</td>
                    <td valign="middle" align="center">15</td>
                    <td valign="middle" align="center">16</td>
                    <td valign="middle" align="center">17</td>
                    <td valign="middle" align="center">18</td>
                    <td valign="middle" align="center">19</td>
                    <td valign="middle" align="center">20</td>
                  </tr>
                  <tr>
                    <td valign="middle" align="center">21</td>
                    <td valign="middle" align="center">22</td>
                    <td valign="middle" align="center">23</td>
                    <td valign="middle" align="center">24</td>
                    <td valign="middle" align="center"><a href="/nor/hogskolen-i-ostfold/forside/kalender/?&amp;displayitem=5160&amp;module=communicator">25</a>
                    </td>
                    <td valign="middle" align="center">26</td>
                    <td valign="middle" align="center">27</td>
                  </tr>
                  <tr>
                    <td valign="middle" align="center">28</td>
                    <td valign="middle" align="center"><a href="/nor/hogskolen-i-ostfold/forside/kalender/?&amp;displayitem=5169&amp;module=communicator">29</a>
                    </td>
                    <td valign="middle" align="center">30</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </span>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
</aside>