<section id="content">
  <header>
    <h2>Fagdag; Strategier for og kvalitet i fleksible studier</h2>
  </header>

  <dl>
    <dt>Fra</dt>
    <dd>
      <time>29. April 2014 09:00</time>
    </dd>
    <dt>Til</dt>
    <dd>
      <time>29. April 2014 15:30</time>
    </dd>
    <dt>Sted</dt>
    <dd>Kommer senere</dd>
  </dl>


  <p>Utvalg for utdanningskvalitet, Utvalg for e-læring og PULS arrangerer fagdag om strategier for og kvalitet i fleksible studier</p>



  <p>
    <strong>PROGRAM</strong>
    <br>
    <em>Med forbehold om endringer</em>
  </p>
  <p>08:30 - 09:00: Kaffe og frukt</p>
  <p>09:00 - 09:10: Velkommen ved rektor Hans Blom</p>
  <p>09:10 - 10:00: <a href="http://webtv.uit.no/Mediasite/Play/6fdf703ba37e433294f504103a6ee9eb1d?catalog=ce785a7a-45b9-4492-a867-124f50d0139c">Presentasjon av NGL - sentrum - Högskolan i Dalarna</a>
  </p>
  <p>10:15 - 11:00: <a href="http://uhped.wordpress.com/2012/01/13/universitetet-i-agder-oppretter-det-digitale-universitet-ddu/">Det digitale universitet</a>&nbsp;. Erfaringer så langt v/ Gunnar Horn. Universitetet i Agder</p>
  <p>11:15 - 12:00: Kriterier og kjennetegn på fleksible studier med kvalitet v/ Mali A. Arnstad. <a href="http://norgesuniversitetet.no">Norgesuniversitetet</a>
  </p>
  <p>12:00 - 12:45: Lunsj</p>
  <p>12:45 - 12:55: Begrepsavklaring og status for fleksible studier ved Høgskolen i Østfold v/ Hanne Røising</p>
  <p>12:55 - 13:10: Suksesskriterier for å komme høyt på NOKUT`s studiebarometer v/ Ragnhild Ulseth Velund, koordintar for sykepleie deltid</p>
  <p>12:10 - 13:40 HiØ`s planer og utfordringer når det gjelder fleksible studier v/ rektor/prorektor og dekaner</p>
  <p>13:40 - 15:15: Fra planer til praksis. Gruppearbeid</p>
  <p>15:15- 15:30: Oppsummering ved Roar Pettersen</p>
  <p>Invitasjon til fagdagen er sendt til aktuelle personer ved høgskolen som har et engasjement i fleksible studier. Alle er for øvrig hjertlig velkommen til å melde seg på.</p>
  <p>Påmelding innen 24.april <a href="http://www.hiof.no/index.php?module=analyze&amp;function=show_query&amp;occurence_id=1755&amp;ID=12737">her</a>(Ny frist!)</p>
  <p></p>


</section>


<aside id="sidebar">
  <header>
    <h2>Andre arrangementer</h2>
  </header>
  <article class="lo-full calendar-entry">
    <header class="lo-full">
      <time datetime="2014-09-20" class="icon">
        <span>9</span>
        <strong>Aug</strong>
      </time>
      <h3><a href="#">Akademiet: Åpen gjesteforelesning</a>
      </h3>
    </header>

  </article>
  <article class="calendar-entry lo-full">
    <header class="lo-full">
      <time datetime="2014-09-20" class="icon">
        <span>2</span>
        <strong>Sep</strong>
      </time>
      <h3><a href="#">ØSS-seminar om fremmedspråk</a>
      </h3>
    </header>
  </article>
  <article class="calendar-entry lo-full">
    <header class="lo-full">
      <time datetime="2014-09-20" class="icon">
        <span>6</span>
        <strong>Sep</strong>
      </time>
      <h3><a href="#">Innovasion Camp 2014</a>
      </h3>
    </header>
  </article>
  <article class="calendar-entry lo-full">
    <header class="lo-full">
      <time datetime="2014-09-20" class="icon">
        <span>12</span>
        <strong>Sep</strong>
      </time>
      <h3><a href="#">Pedagogisk lunsj</a>
      </h3>
    </header>
  </article>
</aside>
