<section id="content" class="lo-auron-2-3">
  <header>
    <h2>Diverse knapper</h2>
  </header>

  <br>
  <br>
  <br>
  <!-- Standard button -->
  <button type="button" class="btn btn-default">Default</button>

  <button type="button" class="btn btn-default btn-line">Underknapp til default</button>

  <br>
  <br>
  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
  <button type="button" class="btn btn-primary">Standardknapp</button>

  <button type="button" class="btn btn-primary btn-line">Underknapp til standardknapp</button>

  <br>
  <br>
  <!-- Indicates a successful or positive action -->
  <button type="button" class="btn btn-success">Success</button>

  <button type="button" class="btn btn-success btn-line">Underknapp til succcess</button>

  <br>
  <br>
  <!-- Contextual button for informational alert messages -->
  <button type="button" class="btn btn-info">Informasjonsknapp</button>

  <button type="button" class="btn btn-info btn-line">Underknapp til Informasjonsknapp</button>

  <br>
  <br>
  <!-- Indicates caution should be taken with this action -->
  <button type="button" class="btn btn-warning">Advarselsknapp</button>

  <button type="button" class="btn btn-warning btn-line">Underknapp til Advarselsknapp</button>

  <br>
  <br>
  <!-- Indicates a dangerous or potentially negative action -->
  <button type="button" class="btn btn-danger">Slett knapp</button>

  <button type="button" class="btn btn-danger btn-line">Underknapp til slett knapp</button>

  <br>
  <br>
  <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
  <button type="button" class="btn btn-link">Vanlig link i knapp form</button>


  <br>
  <br>
  <br>


  <a class="btn green" href="http://www.hiof.no/opptak">Les mer! <span class="ss-icon">right</span></a>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</section>

<script type="text/javascript">
$(function() {
  $("html").addClass("cover page");
});
</script>
