<section id="content" class="lo-auron-2-3">
    <header>
        <h2>Nina Skajaa Fredheim</h2>
    </header>

    <b>Arbeidsområde:</b>
    <ul>
        <li>Bistand til forskningsformidling</li>
        <li>Pressekontakt/pressemeldinger/medieovervåkning</li>
        <li>Strategisk kommunikasjon</li>
        <li>Næringslivskontakt</li>
    </ul>
    <table border="0" cellpadding="0" cellspacing="0" width="100%"></table>

    <h3>Utdanning:</h3>
    <h4>Grad:</h4>Hovedfag / Master
    <ul>
        <li>
            <strong>Hovedfag/Master:</strong>
            <br>
            <ul>
                <br>
                <li>Master of arts in communication management; University of Technology Sydney, Australia</li>
                <br>
                <li>Cand.Mag; sosiologi mellomfag, statstvitenskap og kommunikasjon grunnfag</li>
                <br>
            </ul>
        </li>
    </ul>
    <h3>Forskning:</h3>
    <h4>Fag-/kompetanseområder:</h4>
    <ul>
        <li>
            <strong>Mediefag, bibliotekfag og journalistfag:</strong>
            <br>
        </li>
    </ul>
    <h3>Verv:</h3>
    <h4>Råd og utvalg:</h4>
    <p>Sekretær for Formidling- og samfunnskontaktutvalget</p>


</section>
<aside id="hcard-7356-Fredheim" class="profile vcard lo-auron-1-3 ">


    <a class="photo-wrap" href="http://hiof.no/neted/front/vcard.php?id=18020">
        <img class="photo" src="http://hiof.no/neted/upload/img/20100630/ninaskajaafredheim.jpg" alt="">
    </a>
    <h1 class="n">Nina Skajaa Fredheim</h1>
    <h2 class="department">Markeds- og kommunikasjonsenheten</h2>
    <span class="title">Fung. informasjonssjef</span>
    <span class="tel">
        <span class="type">
            <span class="ss-icon">cell</span>Mobil:</span>
        <span class="value">93085285</span>
    </span>
    <span class="tel">
        <span class="type">
            <span class="ss-icon">phone</span>Tlf. arbeid:</span>
        <span class="value">69215223</span>
    </span>
    <a class="email" title="Jobb mail" alt="Jobb mail" href="mailto:nina.s.fredheim@hiof.no">
        <span class="ss-icon">send</span>nina.s.fredheim@hiof.no</a><a class="url downloadprofile ss-icon" href="http://hiof.no/neted/front/vcard.php?id=18020">contacts</a>




</aside>
