<section id="content" class="lo-auron-2-3">
    <header>
        <h2>Bård Halvorsen</h2>
    </header>


    <h3>Arbeidsområde:</h3>
    <ul>
        <li>Redaktør for <a href="/nettavisa">Høgskoleavisa</a> (nettavis)</li>
        <li>Innhold på høgskolens internettsider</li>
        <li>Innhold til sosiale medier - som f.eks fotosiden <a href="http://www.flickr.com/photos/utdanning">Flickr</a>
        </li>
        <li>Bilder og billedarkiv for Høgskolen i Østfold</li>
    </ul>
    <h3>Mine sider</h3>
    <ul>
        <li><a href="/nor/hogskolen-i-ostfold/diverse/alle-ansatte/?&amp;function=displaymyprivatesites&amp;module=admin&amp;siteid=241">Photoshop for nybegynnere</a></li>
    </ul>
   

    <h3>Annet:</h3>
    <h4>Utdanning:</h4>
    <ul>
        <li>Sykepleierutdanning, 3 år i Tromsø</li>
        <li>Journalist-/radioutdanning, 2 år ved MRDH i Volda</li>
        <li>Teknisk intranett, 1/2 år (deltid) ved Høgskolen i Østfold</li>
    </ul>

    <h4>Yrkeserfaring:</h4>
    <ul>
        <li>Journalist 12 år i Halden Arbeiderblad</li>
        <li>Journalist 1 år i Østfold-Posten, Askim</li>
        <li>Medielærer 1 år ved Torshus folkehøgskole, Orkdal</li>
        <li>Sykepleier 1 år ved Åsgård sykehus i Tromsø</li>
    </ul>


</section>
<aside id="hcard-7356-Ese" class="profile vcard lo-auron-1-3 ">


        <a class="photo-wrap" href="http://hiof.no/neted/front/vcard.php?id=6">
            <img class="photo" src="http://hiof.no/neted/upload/img/20100628/bardhalvorsen.jpg" alt="">
        </a>
        <h1 class="n">Bård Halvorsen</h1>
        <h2 class="department">Markeds- og kommunikasjonsenheten</h2>
        <span class="title">Seniorkonsulent</span>
        <span class="tel">
            <span class="type">
                <span class="ss-icon">cell</span>Mobil:</span>
            <span class="value">95409804</span>
        </span>
        <span class="tel">
            <span class="type">
                <span class="ss-icon">phone</span>Tlf. arbeid:</span>
            <span class="value">69215023</span>
        </span>
        <span class="tel">
            <span class="type">
                <span class="ss-icon">fax</span>Fax:</span>
            <span class="value">69215002</span>
        </span>
        <span class="adr">
            <span class="type">
                <span class="ss-icon">location</span>Kontornr.:</span>
            <span class="value">A3-041</span>
        </span>
        <a class="email" title="Jobb mail" alt="Jobb mail" href="mailto:bard.halvorsen@hiof.no">
            <span class="ss-icon">send</span>bard.halvorsen@hiof.no</a><a class="url downloadprofile ss-icon" href="http://hiof.no/neted/front/vcard.php?id=6">contacts</a>
 


</aside>
