<section id="content" class="lo-auron-2-3">
    <header>
        <h2>Jo Ese</h2>
    </header>
    <div id="hcard-7356-Ese" class="profile lo-auron-1-3 vcard">

        <a class="photo-wrap" href="/neted/front/vcard.php?id=7356">
            <img class="photo" src="http://www2.hiof.no/neted/upload/img/20121218/Jopassbilde.JPG" alt="">
        </a>
        <h3 class="n">Jo Ese</h3>
        <h4 class="department">Avdeling for økonomi, språk og samfunnsfag</h4>
        <span class="title">Stipendiat</span>
        <span class="tel">
            <span class="type">
                Mobil:</span>
            <span class="value">97039899</span>
        </span>
        <span class="tel">
            <span class="type">
                Tlf. arbeid:</span>
            <span class="value">69215018</span>
        </span>
        <span class="adr">
            <span class="type">
                Kontornr.:</span>
            <span class="value">A3-078</span>
        </span>
        <a class="email" title="Jobb mail" alt="Jobb mail" href="mailto:jo.ese@hiof.no">
            jo.ese@hiof.no</a>
        <a class="email" title="Privat mail" alt="Privat mail" href="mailto:jo.ese@hiof.no">
            jo.ese@hiof.no</a>
        <a class="url downloadprofile ss-icon" href="/neted/front/vcard.php?id=7356">contacts</a>

    </div>
    <div class="profile expertise">
        <b>Arbeidsområde:</b>
        <p>Jo Ese er stipendiat ved avdeling for økonomi, språk og samfunnsfag, og er PhD-student i arbeidsvitskap ved Karlstads Universitet. Han forskar på organisering og arbeidsvilkår i universitet- og høgskolesektoren.</p>
        <p>Ese er knytt til <a href="/nor/hogskolen-i-ostfold/studiekatalog-_-rekrutteringssider/studietilbudet/viser-aktuelle-beskrivelser?displayitem=170&amp;module=studieinfo&amp;type=studie&amp;subtype=2">Matergrad i organisasjon og ledelse</a>. Han underviser i styringssystem på emnet <a href="http://hiof.no/nor/hogskolen-i-ostfold/for-studenter/studieplaner/studieplaner/?&amp;displayitem=4752&amp;module=studieinfo&amp;type=emne">Ledelse og styring (SFS40309)</a> og i samfunnsvitskapleg metode på emnet <a href="/nor/hogskolen-i-ostfold/for-studenter/studieplaner/studieplaner/?&amp;displayitem=3682&amp;module=studieinfo&amp;type=emne">Organisasjons- og ledelsesutvikling (SFS40406)</a>.</p>
     

        <h3>Utdanning:</h3>
        <h4>Grad:</h4>Hovedfag / Master
        <ul>
            <li>
                <strong>Hovedfag/Master:</strong>
                <br>
                <p>Ese gjennomfører PhD-utdanning i arbeidsvitenskap ved Karlstads universitet. Han har hovudfag (cand.polit) i sosiologi fra Universitetet i Oslo (2004), og språk/samfunnsfagleg utdanning (cand.mag) frå University of York/Universitetet i Bergen.</p>
            </li>
        </ul>
        <h3>Forskning:</h3>
        <h4>Fag-/kompetanseområder:</h4>
        <ul>
            <li>
                <strong>Økonomi og administrasjon: (Gir ekspertkommentarer)</strong>
                <br>
                <p>Ese har kompetanse på styring og styringssystem i offentlege organisasjonar, med særleg kunnskap om høgre utdanning.</p>
            </li>
            <li>
                <strong>Teknologi, ingeniørfag og arkitektur: (Gir ekspertkommentarer)</strong>
                <br>
                <p>Ese har arbeidd tett med arkitektar om dei sosiokulturelle forutsetjingane for arkitektur- og urbanismeprosjekt. Han har kompetanse om samspelet mellom arkitektur, urbanisme og samfunnet.</p>
            </li>
            <li>
                <strong>Samfunnsfag, statsvitenskap og psykologi: (Gir ekspertkommentarer)</strong>
                <br>
                <p>Ese forskar på standardiseringsprosessar og arbeidsvilkår i universitet- og høgskulesektoren. I tillegg er han opptatt av demografi og befolkning, særleg knytt til Østfold. Han har også kompetanse innanfor by- og tettstadutvikling og urbanisme.</p>
                <br>
                <p>&nbsp;</p>
            </li>
        </ul>
        <h4>Forskningsprogram/-prosjekter:</h4>
        <p><a href="https://www.hiof.no/nor/avdeling-for-okonomi_-sprak-og-samfunnsfag/forskning-og-utvikling/forskergruppe-organisasjon-og-arbeidsliv">Forskergruppe organisasjon og arbeidsliv</a>
        </p>
        <h4>Publikasjoner:</h4>
        <p>Ese, J (2013).
            <em>Hva er mangfold? Mangfold og ulikhet i et læringsmiljøperspektiv.</em>Universellrapport 2:2013. Trondheim: NTNU.</p>
        <br>
        <p>Ese, J (2013).&nbsp;
            <span>
                <em>Alienation and Academic Freedom. A Scandinavian Perspective on Autonomy and Working Conditions in Contemporary Higher Education.</em>Paper presentert på 10th European Conference of the International Labour and Employment Relations Association (ILERA); Amstedam 2013-06-20 - 2013-06-22.</span>
        </p>
        <br>
        <p>
            <span>Ese, J (2013).&nbsp;
                <span>
                    <em>Deskilled Academics? Lessons to be Learned From Labour Process Theory</em>. Paper presentert på Den sjätte nationella konferens för Forum for arbetslivsforskning (FALF); Stockholm 2013-06-17 - 2013-06-19.</span>
            </span>
        </p>
        <br>
        <p><a href="http://www.norskform.no/Documents/Byutvikling/Bylab/BARNEFAMILIER_I_SENTRUM_110dpi.pdf">Berge, J; Ese, A; Ese, J; Kaasa, S (2012). <em>Barnefamilier i sentrum. Familiers preferanser og kommunens virkemidler.&nbsp;</em>Oslo: Norsk form.</a>
        </p>
        <br>
        <p><a href="https://www.google.no/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;ved=0CCcQFjAA&amp;url=https%3A%2F%2Fwww.ntnu.no%2Fwiki%2Fdownload%2Fattachments%2F6587184%2FMetodar%2Bfor%2BScenariobygging.pdf%3Fversion%3D1%26modificationDate%3D1271668554000&amp;ei=ySVUUNenAbTb4QTWyYCYDg&amp;usg=AFQjCNEcMIpxU7aVz-t_DXyN7lYg_ZaGWg&amp;sig2=pGPZ9ryBhWupeN4EPwZ78w">Ese, A og Ese, J (2008). <em>Metodar for scenariobygging.&nbsp;</em>Trondheim: NTNU</a>
        </p>
        <br>
        <p><a href="http://books.google.no/books?id=WAXO9E-0KEQC&amp;printsec=frontcover#v=onepage&amp;q&amp;f=false">Ese, J. (2007). Deserving the Peak: When Norwegian Friluftsliv Meets the World. In Henderson, B and Vikander, N (Ed.), <em>Nature First. Outdoor life the friluftsliv way.</em> (pp. 47-55). Toronto: Natural Heritage Books</a>
        </p>
        <ul>
            <li>
                <strong>Cristin:</strong>
                <br> <a href="http://www.cristin.no/as/WebObjects/cristin.woa/wa/personVis?type=PERSON&amp;pnr=331159&amp;la=no&amp;instnr=224">http://www.cristin.no/as/WebObjects/cristin.woa/wa/personVis?type=PERSON&amp;pnr=331159&amp;la=no&amp;instnr=224</a>
            </li>
        </ul>
        <h3>Verv:</h3>
        <h4>Styreverv:</h4>
        <p>Styreleiar, avdelingsstyret, Avdeling for økonomi, språk og samfunnsfag (2013 - dd)</p>
        <br>
        <p>Varamedlem styret Studentsamskipnaden i Østfold (2011 - dd)</p>
        <br>
        <p>Styremedlem Rodeo arkitekter AS (2006 - 2011)</p>
        <h4>Råd og utvalg:</h4>
        <p>Medlem institusjonelt FoU-utvalg (2013-)</p>
        <br>
        <p>Medlem arbeidsgruppe for HiØ-standard (2012 - 2013)</p>
        <br>
        <p>Leder internrevisjonsteamet (2010 - 2011)</p>
        <br>
        <p>Medlem studiekvalitetsutvalget (2010 - 2011)</p>
        <br>
        <p>Sekretær læringsmiljøutvalget (2010 - 2011)</p>
        <br>
        <p>Medlem nasjonal arbeidsgruppe for studentflyt (2009 - 2010)</p>
        <h4>Andre verv:</h4>
        <p>Ese er talsperson for stipendiatane ved Høgskolen i Østfold. Er du stipendiat og vil ta opp eit tema? Ta kontakt då vel!</p>
        <h3>Annet:</h3>
        <p>Ese har tidlegare arbeidd som kvalitetsrådgjevar ved Høgskolen i Østfold, samt drive &nbsp;strategi- og analysearbeid knytt til studieutvikling og studieportefølje ved høgskulen. Han har og sidan 2006 vore partnar og medarbeidar i <a href="http://www.rodeo-arkitekter.no">Rodeo arkitekter</a>.</p>
        <br>
        <p>For utvida CV, sjå&nbsp;<a href="http://www.linkedin.com/pub/jo-ese/1a/1b1/a50">LinkedIn</a>.&nbsp;</p>



    </div>
</section>
<script type="text/javascript">
$(function() {
  //$("html").addClass("cover index");
  $("#header").addClass("dark");
});
</script>
