<section id="content" class="lo-auron-2-3">
    <header class="lo-full"><h2>Studie-/fagplan uten emnebeskrivelse</h2></header>              <a href="/nor/studieinformasjon/studieplaner/?&amp;function=dumpBeskrivelse&amp;module=studieinfo&amp;type=studieme&amp;key=1680">&gt;&gt; Studie-/fagplan med emnebeskrivelse</a>
                
                              
    
        <H3 id="KS001" class="studieinfoTitle H3style">
                          Bachelorstudium i ingeniørfag - data
                          </H3>
            
                
                              
    
        <H3 id="KS033" class="studieinfoTitle H3style">
                  Studiepoeng:</H3>
                          180
                    
                
                              
    
        <H3 id="KS021" class="studieinfoTitle H3style">
                  Studieplanen gjelder for kull/studiestart:</H3>
                          Studieplanen gjelder for perioden 2013 - 2016.
                    
                
                              
    
        <H3 id="KS003" class="studieinfoTitle H3style">
                  Undervisningsspråk:</H3>
                          Norsk
                    
                
                              
    
        <H3 id="KS017" class="studieinfoTitle H3style">
                  Studiets varighet:</H3>
                          <p>Bachelorstudiet i ingeniørfag, data er en treårig grunnutdanning på 180 studiepoeng.</p>
                    
                
                              
    
        <H3 id="KS023" class="studieinfoTitle H3style">
                  Grad/tittel ved bestått studium:</H3>
                          <p>Fullført og bestått studium gir rett til graden Bachelor i ingeniørfag, data - dataingeniør.</p>
                    
                
                              
    
        <H3 id="KS020" class="studieinfoTitle H3style">
                  Studiested:</H3>
                          Halden
                    
                
                              
    
        <H3 id="KS024" class="studieinfoTitle H3style">
                  Studieplanen er godkjent av:</H3>
                          Dekan Jan Høiberg, 7. juli 2011
                    
                
                              
    
        <H3 id="KS037" class="studieinfoTitle H3style">
                  Studieplanen er revidert av:</H3>
                          Studieleder Robert Roppestad, april 2013.
                    
                
                              
    
        <H3 id="KS025" class="studieinfoTitle H3style">
                  Informasjon om studiet:</H3>
                          <p>Bachelor i ingeniørfag, data - er et profesjonsstudium rettet mot de som vil arbeide med informasjonsteknologi og teknisk relaterte oppgaver eller som vil legge grunnlaget for videre studier innenfor fagområdet. Studiet følger forskrift til rammeplan for ingeniørutdanning fastsatt av Kunnskapsdepartementet 3.februar 2011.<br><br>Bachelorgraden kan også benyttes for videre studier innenfor andre fagområder som for eksempel system engineering, ledelse og økonomi for å gi en tverrfaglig utdanning.</p>
                    
                
                              
    
        <H3 id="KS035" class="studieinfoTitle H3style">
                  Opptakskrav:</H3>
                          <p>I henhold til Rammeplan for ingeniørutdanning er det flere opptaksgrunnlag til ingeniørutdanning. For opptak til bachelorstudium i ingeniørfag - data, gjelder:</p>
<ul>
<li>generell studiekompetanse/realkompetanse og Matematikk (R1+R2) og Fysikk 1</li>
<li>generell studiekompetanse og bestått ½-årig realfagkurs</li>
<li style="text-align: left;">2-årig teknisk fagskole etter rammeplan fastsatt av departementet 1998/99 og tidligere studieordninger</li>
<li>nyere, godkjent teknisk fagskoleutdanning med dokumenterte kunnskaper i matematikk og fysikk tilsvarende Matematikk (R1+R2) og Fysikk 1</li>
<li>bestått 1-årig forkurs for ingeniør- og maritim høyskoleutdanning</li>
</ul>
<p><em>Tre-semestersordning (TRESS):</em><br>TRESS er tilbud om opptak til ingeniørutdanning for søkere med generell studiekompetanse/realkompetanse, men som mangler de spesielle opptakskravene til matematikk og/eller fysikk. Gjennom sommerundervisning før første studieår, samt noe tilleggsundervisning, kommer TRESS-studentene i takt med de andre studentene fra og med andre studieår. På denne måten sparer studentene et helt studieår i forhold til å ta realfagene på forkurset først.</p>
<p><em>Y-veien</em><br>Søkere med relevant fagbrev eller svennebrev og minst 12 måneders relevant praksis tilfredsstiller kravene til opptak via Y-veien. Søkere som tas opp via Y-veien følger egen studieplan.</p>
                    
                
                              
    
        <H3 id="KS042" class="studieinfoTitle H3style">
                  Videre utdanning og yrkesmuligheter:</H3>
                          <p><strong>Videre utdanning<br></strong>Fullført studium kvalifiserer for opptak til vårt eget masterstudium i anvendt informatikk. Du vil også være kvalifisert til å søke andre masterstudier ved universiteter og høgskoler i inn- og utland.</p>
<p><strong>Yrkesmuligheter</strong><br>Det er behov for personer som har gode IT-kunnskaper. Dataingeniørutdanningen gir deg en solid IT-kompetanse. Du kan få en spennende jobb som dataingeniør, programmerer, systemutvikler, IT-konsulent, prosjektleder, driftsansvarlig eller jobb med fokus på utvikling av smarte IT-løsninger i industri-, energi-, miljø- eller helsesektoren.</p>
                    
                
                              
    
        <H3 id="KS040" class="studieinfoTitle H3style">
                  Læringsutbytte:</H3>
                          <p><strong>Kunnskap</strong><br>Kandidaten</p>
<ul>
<li>har bred kunnskap som gir et helhetlig systemperspektiv p&aring; ingeni&oslash;rfaget generelt, med fordypning i dataingeni&oslash;rfaget.</li>
<li>har kunnskap om probleml&oslash;sning, programvareutvikling og grensesnitt, og kjenner til prinsipper for oppbygging av datasystemer og datanettverk.</li>
<li>har gode kunnskaper om programmering, objektorientert tankegang, algoritmer og digitale kommunikasjonsteknikker</li>
<li>har kunnskap om utvikling og anvendelse av industrielle IT-systemer og intelligente systemer</li>
<li>har grunnleggende kunnskap i matematikk, naturvitenskap, relevante samfunns- og &oslash;konomifag og om hvordan disse kan benyttes i informasjonsteknologiske problem&shy;l&oslash;sninger</li>
<li>har kunnskap om teknologiens historie, teknologiutvikling, ingeni&oslash;rens rolle i samfunnet, relevante lovbestemmelser knyttet til bruk av datateknologi og programvare</li>
<li>har kunnskap om ulike konsekvenser ved bruk av informasjonsteknologi</li>
<li>kjenner til forsknings- og utviklingsarbeid innenfor fagfeltet, samt relevante metoder og arbeidsm&aring;ter</li>
<li>kan oppdatere sin kunnskap innenfor fagfeltet, b&aring;de gjennom informasjons&shy;innhenting og kontakt med fagmilj&oslash;er, brukergrupper og praksis.</li>
</ul>
<p><strong>Ferdigheter</strong><br>Kandidaten</p>
<ul>
<li>kan anvende kunnskap og relevante resultater fra forsknings- og utviklingsarbeid for &aring; l&oslash;se teoretiske, tekniske og praktiske problemstillinger innenfor dataingeni&oslash;rfaget og begrunne sine valg</li>
<li>behersker metoder og verkt&oslash;y som grunnlag for m&aring;lrettet og innovativt arbeid s&aring; som ferdigheter i &aring;<br>- anvende operativsystemer, systemprogramvare og nettverk<br>- utarbeide krav og modellere, utvikle, integrere og evaluere datasystemer<br>- bruke programmeringsverkt&oslash;y og systemutviklingsmilj&oslash;<br>- utvikle industrielle IT-systemer og/eller intelligente systemer</li>
<li>kan identifisere, planlegge og gjennomf&oslash;re informasjonsteknologiske prosjekter, arbeidsoppgaver, fors&oslash;k og eksperimenter b&aring;de selvstendig og i team</li>
<li>kan finne, vurdere, bruke og henvise til informasjon og fagstoff og framstille dette slik at det belyser en problemstilling</li>
<li>kan bidra til nytenkning, innovasjon og entrepren&oslash;rskap gjennom deltakelse i utvikling og realisering av b&aelig;rekraftige og samfunnsnyttige produkter, systemer og/eller l&oslash;sninger der informasjonsteknologi inng&aring;r</li>
</ul>
<p><strong>Generell kompetanse</strong><br>Kandidaten</p>
<ul>
<li>har innsikt i milj&oslash;messige, helsemessige, samfunnsmessige og &oslash;konomiske konsekvenser av produkter og l&oslash;sninger innenfor sitt fagomr&aring;de og kan sette disse i et etisk perspektiv og et livsl&oslash;psperspektiv</li>
<li>kan formidle kunnskap om informasjonsteknologi til ulike m&aring;l&shy;grupper b&aring;de skriftlig og muntlig p&aring; norsk og engelsk, og kan bidra til &aring; synliggj&oslash;re denne teknologiens betydning og konsekvenser</li>
<li>kan reflektere over egen faglig ut&oslash;velse, ogs&aring; i team og i en tverrfaglig sammenheng, og kan tilpasse denne til den aktuelle arbeidssituasjon</li>
<li>kan bidra til utvikling av god praksis gjennom &aring; delta i faglige diskusjoner innenfor fagomr&aring;det og dele sine kunnskaper og erfaringer med andre</li>
</ul>
                    
                
                              
    
        <H3 id="KS004" class="studieinfoTitle H3style">
                  Studiets oppbygging og innhold:</H3>
                          <p>Alle emner som inngår i studiet er detaljert beskrevet i emnebeskrivelsene. Studiet er oppdelt i seks semestre som vist i studiemodellen nedenfor. Hvert semester består av et antall emner (2, 3 eller 4). Hvert emne er på 10 studiepoeng. Ett unntak er den avsluttende bacheloroppgaven i tredje studieår som er på 20 studiepoeng. En student må ha bestått minst 120 studiepoeng for å få starte på bacheloroppgaven. Unntak fra denne regelen kan innvilges etter søknad.</p>
<p>Studiet vil inneholde emner innenfor følgende emnegrupper i henhold til forskrift for rammeplan for ingeniørutdanning:</p>
<ul>
<li>Fellesemner (FE) - 30 studiepoeng</li>
<li>Programemner (PE) - 50 studiepoeng</li>
<li>Tekniske spesialiseringsemner (TSE) - 70 studiepoeng (inkluderer bacheloroppgaven på 20 studiepoeng)</li>
<li>Valgfrie emner (VE) - 30 studiepoeng</li>
</ul>
<p>I de to første årene ligger de matematisk-naturvitenskapelige grunnlagsemnene, samt mange grunnleggende IT-emner. I det tredje året ligger emner som muliggjør fordypning innen industriell IT og intelligente systemer. I fjerde, femte og sjette semester ligger et valgemne som skal bidra til spesialisering, enten i bredden eller dybden. Det er også i et av disse semestrene det vil være naturlig å ta et et internasjonalt semester.</p>
<p><strong>Obligatoriske emner og valgemner</strong><br>150 av totalt 180 studiepoeng er obligatorisk i utdanningen. Ingeniørfaglig systemtenkning skal etter rammeplanen inngå i studiet. Temaet (10 stp) dekkes av emnet industriell IT, samt av emnet integrerte IT-systemer <br><br>De obligatoriske emnene er:</p>
<ul>
<li>Innføring i programmering (PE)</li>
<li>Matematikk 1 (FE)</li>
<li>Ingeniørrollen og prosjektarbeid (FE)</li>
<li>Objektorientert programmering (PE)</li>
<li>Datateknikk (TSE)</li>
<li>Fysikk og kjemi (PE)</li>
<li>Operativsystemer (TSE)</li>
<li>Datakommunikasjon (TSE)</li>
<li>Matematikk for IT (PE)</li>
<li>Databaser (TSE)</li>
<li>Statistikk og økonomi (PE)</li>
<li>Industriell IT (FE - 5 stp/TSE - 5 stp)</li>
<li>Integrerte IT-systemer (FE - 5 stp/TSE - 5 stp)</li>
<li>Bacheloroppgave (TSE)</li>
</ul>
<p><br><strong>Valgemner<br></strong>Totalt 30 studiepoeng valgemner er lagt i fjerde, femte og sjette semester. Enkelte valgemner krever forkunnskaper. Dette er nærmere beskrevet i emnebeskrivelsene. Listen med valgemner vil kunne variere fra år til år. Et valgemne kan utgå hvis det er færre enn 10 studenter påmeldt. <br><br>De emnene som for øyeblikket tilbys er:</p>
<ul>
<li>Bildebehandling og mønstergjenkjenning</li>
<li>Algoritmer og datastrukturer</li>
<li>Androidprogrammering</li>
<li>Intelligente systemer</li>
<li>IKT-basert innovasjon</li>
<li>Servere og nettverksdrift</li>
<li>.NET</li>
<li>Bedriftspraksis</li>
<li>Matematikk 3. Kreves for å søke innpassing til masterstudiet i teknologi ved NTNU.</li>
<li>Sikkerhet og hacking (5 studiepoeng). Kan tas som et ekstra emne våren 2015. </li>
</ul>
<p>Etter søknad kan emner fra andre studieprogram ved høgskolen godkjennes som valgemner.</p>
<p><br><strong>Likestilling</strong><br>Høyskolen opplever i perioder å ha få kvinnelige studenter ved IT-studiene. Dette er etter høyskolens oppfatning ugunstig både for læringsmiljøet, det sosiale miljøet og for IT-industrien som ikke har god nok tilgang på kvinnelige IT-eksperter. Høyskolen forsøker derfor å rekruttere kvinnelige studenter spesielt, og gjør sitt ytterste for at studiene skal framstå som attraktive og relevante for kvinner. </p>
                    
                
                              
        <div class="study-model-wrapper">
              <div class="study-model">
                  <H3 id="KS016" class="studieinfoTitle H3style">
                  Studiemodell:</H3>
                          <script type="text/javascript" src="http://neted3.hiof.no/neted/js/overlib.js"></script><table style="border-width:0px" cellpadding="0" cellspacing="2" class="sp_table">
    <tr>
        <td width="1"></td>
        <td width="105"></td>
        <td width="105"></td>
        <td width="105"></td>
        <td width="105"></td>
        <td width="105"></td>
        <td width="105"></td>
    </tr>
    <tr>
        <td style="width:1px;"></td>
        <td width="105" class="sp_course_header">2013 Høst</td>

        <td width="105" class="sp_course_header">2014 Vår</td>

        <td width="105" class="sp_course_header">2014 Høst</td>

        <td width="105" class="sp_course_header">2015 Vår</td>

        <td width="105" class="sp_course_header">2015 Høst</td>

        <td width="105" class="sp_course_header">2016 Vår</td>
    </tr>
    <tr>
        <td style="width:1px; height:17px;font-size:1px">&nbsp;</td>

        <td class="sp_title_main" colspan="6" style="background-color:">Bachelor i ingeniørfag-data</td>
    </tr>
    <tr>
        <td style="width:1px; height:17px;font-size:1px">&nbsp;</td>

        <td colspan="6" class="sp_title" style="background-color:">Obligatoriske emner (150 studiepoeng)</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td class="sp_course" colspan="2" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Matematikk 1',CAPTION,'ITD15013 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5646&amp;module=studieinfo&amp;type=emne" target="_self">Matematikk 1</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5646&amp;module=studieinfo&amp;type=emne"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag2.gif"></a></td></tr></table></td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Operativsystemer og nettverk',CAPTION,'ITF22514 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer">Operativsystemer og nettverk</td><td class="sp_course_icon" style="width:12px;"><img src="http://neted3.hiof.no/neted/admin/img/studieinfo/info_none.gif"></td></tr></table></td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Databaser',CAPTION,'ITF10306 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5441&amp;module=studieinfo&amp;type=emne&amp;y=20151" target="_self">Databaser</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5441&amp;module=studieinfo&amp;type=emne&amp;y=20151"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Integrerte IT-systemer',CAPTION,'ITD31513 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5696&amp;module=studieinfo&amp;type=emne&amp;y=20153" target="_self">Integrerte IT-systemer</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5696&amp;module=studieinfo&amp;type=emne&amp;y=20153"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td class="sp_course" colspan="1" rowspan="2"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Bacheloroppgave',CAPTION,'ITF32012 (20)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5447&amp;module=studieinfo&amp;type=emne&amp;y=20161" target="_self">Bacheloroppgave</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5447&amp;module=studieinfo&amp;type=emne&amp;y=20161"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td class="sp_course" colspan="2" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Datateknikk',CAPTION,'ITD13012 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5436&amp;module=studieinfo&amp;type=emne" target="_self">Datateknikk</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5436&amp;module=studieinfo&amp;type=emne"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag2.gif"></a></td></tr></table></td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Datakommunikasjon',CAPTION,'ITF20205 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5427&amp;module=studieinfo&amp;type=emne&amp;y=20143" target="_self">Datakommunikasjon</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5427&amp;module=studieinfo&amp;type=emne&amp;y=20143"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Statistikk og økonomi',CAPTION,'ITD20106 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5439&amp;module=studieinfo&amp;type=emne&amp;y=20151" target="_self">Statistikk og økonomi</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5439&amp;module=studieinfo&amp;type=emne&amp;y=20151"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Industriell IT',CAPTION,'ITD30005 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5434&amp;module=studieinfo&amp;type=emne&amp;y=20153" target="_self">Industriell IT</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5434&amp;module=studieinfo&amp;type=emne&amp;y=20153"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Innføring i programmering',CAPTION,'ITF10213 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5598&amp;module=studieinfo&amp;type=emne" target="_self">Innføring i programmering</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5598&amp;module=studieinfo&amp;type=emne"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag2.gif"></a></td></tr></table></td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Objektorientert programmering',CAPTION,'ITF10611 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5442&amp;module=studieinfo&amp;type=emne" target="_self">Objektorientert programmering</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5442&amp;module=studieinfo&amp;type=emne"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag2.gif"></a></td></tr></table></td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Matematikk for IT',CAPTION,'ITF10705 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5429&amp;module=studieinfo&amp;type=emne&amp;y=20143" target="_self">Matematikk for IT</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5429&amp;module=studieinfo&amp;type=emne&amp;y=20143"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Ingeniørrollen og prosjektarbeid',CAPTION,'ITD10011 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5437&amp;module=studieinfo&amp;type=emne" target="_self">Ingeniørrollen og prosjektarbeid</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5437&amp;module=studieinfo&amp;type=emne"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag2.gif"></a></td></tr></table></td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Fysikk og kjemi',CAPTION,'ITD12011 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5438&amp;module=studieinfo&amp;type=emne" target="_self">Fysikk og kjemi</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5438&amp;module=studieinfo&amp;type=emne"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag2.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:17px;font-size:1px">&nbsp;</td>

        <td colspan="6" class="sp_title" style="background-color:">Valgfritt emne vår 2. året (10 studiepoeng)</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Informasjonsarkitektur',CAPTION,'ITM30210 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5458&amp;module=studieinfo&amp;type=emne&amp;y=20151" target="_self">Informasjonsarkitektur</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5458&amp;module=studieinfo&amp;type=emne&amp;y=20151"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Android-programmering',CAPTION,'ITF21013 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5657&amp;module=studieinfo&amp;type=emne&amp;y=20151" target="_self">Android-programmering</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5657&amp;module=studieinfo&amp;type=emne&amp;y=20151"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Algoritmer og datastrukturer',CAPTION,'ITF20006 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5445&amp;module=studieinfo&amp;type=emne&amp;y=20151" target="_self">Algoritmer og datastrukturer</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5445&amp;module=studieinfo&amp;type=emne&amp;y=20151"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('.NET',CAPTION,'ITF11012 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5443&amp;module=studieinfo&amp;type=emne&amp;y=20151" target="_self">.NET</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5443&amp;module=studieinfo&amp;type=emne&amp;y=20151"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Bildebehandling og mønstergjenkjenning',CAPTION,'ITD33514 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer">Bildebehandling og mønstergjenkjenning</td><td class="sp_course_icon" style="width:12px;"><img src="http://neted3.hiof.no/neted/admin/img/studieinfo/info_none.gif"></td></tr></table></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:17px;font-size:1px">&nbsp;</td>

        <td colspan="6" class="sp_title" style="background-color:">Valgfrie emner høst 3. året (10 studiepoeng)</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Fordypningsemne',CAPTION,'ITF30714 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer">Fordypningsemne</td><td class="sp_course_icon" style="width:12px;"><img src="http://neted3.hiof.no/neted/admin/img/studieinfo/info_none.gif"></td></tr></table></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Databaseadministrasjon og -systemer',CAPTION,'ITF30307 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5425&amp;module=studieinfo&amp;type=emne&amp;y=20153" target="_self">Databaseadministrasjon og -systemer</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5425&amp;module=studieinfo&amp;type=emne&amp;y=20153"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Bedriftspraksis',CAPTION,'ITD35014 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer">Bedriftspraksis</td><td class="sp_course_icon" style="width:12px;"><img src="http://neted3.hiof.no/neted/admin/img/studieinfo/info_none.gif"></td></tr></table></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Matematikk 3',CAPTION,'IRF30013 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5276&amp;module=studieinfo&amp;type=emne&amp;y=20153" target="_self">Matematikk 3</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5276&amp;module=studieinfo&amp;type=emne&amp;y=20153"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:17px;font-size:1px">&nbsp;</td>

        <td colspan="6" class="sp_title" style="background-color:">Valgfrie emner vår 3. året (10 studiepoeng)</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('IKT-basert innovasjon',CAPTION,'ITF31213 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5688&amp;module=studieinfo&amp;type=emne&amp;y=20161" target="_self">IKT-basert innovasjon</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5688&amp;module=studieinfo&amp;type=emne&amp;y=20161"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Informasjonsarkitektur',CAPTION,'ITM30210 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5458&amp;module=studieinfo&amp;type=emne&amp;y=20161" target="_self">Informasjonsarkitektur</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5458&amp;module=studieinfo&amp;type=emne&amp;y=20161"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Android-programmering',CAPTION,'ITF21013 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5657&amp;module=studieinfo&amp;type=emne&amp;y=20161" target="_self">Android-programmering</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5657&amp;module=studieinfo&amp;type=emne&amp;y=20161"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Algoritmer og datastrukturer',CAPTION,'ITF20006 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5445&amp;module=studieinfo&amp;type=emne&amp;y=20161" target="_self">Algoritmer og datastrukturer</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5445&amp;module=studieinfo&amp;type=emne&amp;y=20161"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('.NET',CAPTION,'ITF11012 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5443&amp;module=studieinfo&amp;type=emne&amp;y=20161" target="_self">.NET</a></td><td class="sp_course_icon" style="width:12px;"><a class="sp_link" href="/nor/studieinformasjon/studieplaner/?&amp;displayitem=5443&amp;module=studieinfo&amp;type=emne&amp;y=20161"><img border="0" src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"></a></td></tr></table></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="width:1px; height:40px;font-size:1px">&nbsp;</td>

        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="sp_course" colspan="1" rowspan="1"><table class="sp_course_table" cellpadding="0" cellspacing="0" style="width:100%; table-layout:fixed"><tr><td class="sp_course_name" onmouseover="return overlib('Bildebehandling og mønstergjenkjenning',CAPTION,'ITD33514 (10)', FGCOLOR, '#F7EFC6',BGCOLOR , '#336699', TEXTFONT, 'Verdana', AUTOSTATUS, '');" onmouseout="return nd();" style="cursor:pointer">Bildebehandling og mønstergjenkjenning</td><td class="sp_course_icon" style="width:12px;"><img src="http://neted3.hiof.no/neted/admin/img/studieinfo/info_none.gif"></td></tr></table></td>
        <td>&nbsp;</td>
    </tr>
</table>
<div class="studieinfoexplanationicons"> Ikonforklaring: <img src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag2.gif">Oppdatert beskrivelse, <img src="http://neted3.hiof.no/neted/admin/img/studieinfo/infotag.gif"> Ikke oppdatert beskrivelse, <img src="http://neted3.hiof.no/neted/admin/img/studieinfo/info_none.gif"> Ingen beskrivelse </div>
                  
              </div>
        </div>
        

                    
                
                              
    
        <H3 id="KS005" class="studieinfoTitle H3style">
                  Organisering og læringsformer:</H3>
                          <p>Studiet er oppdelt i seks semestre. De enkelte semester er satt sammen av emner på 10 studiepoeng. Emnene er plassert slik at studenten skal få en god og naturlig progresjon gjennom studietiden. De enkelte emner tilbys som et strukturert undervisningsopplegg med forelesninger, øvingsoppgaver og prosjekter. I mange emner benyttes også tilrettelagt veiledning i mindre grupper med faglærer eller erfarne studenter som hjelpelærere. Praktiske oppgaver og prosjekter benyttes i stor grad for å motivere studentene og anskueliggjøre fagstoffet. <br><br>Gjennom hele studiet vil den enkelte student kunne benytte datamaskiner og teknisk utstyr som høgskolen stiller til disposisjon. Det vil bli tilrettelagt for studenter som ønsker å benytte sitt private IT-utstyr i lokalene. Bruk av IKT inngår i de fleste emner og oppgaver. Det benyttes forskjellige IT-verktøy til utveksling av informasjon, innlevering av oppgaver, tester m.m mellom faglærer og student.</p>
<p>Et moderne bibliotek står til disposisjon for studentene. Biblioteket bidrar til å utvikle studentenes informasjonskompetanse, det vil si evnen til å søke etter, finne, evaluere og bruke relevant og faglig informasjon. I tillegg til personlig service, får studentene tilbud om bibliotekundervisning, der målet er at de skal kunne søke i norske informasjonskilder, ha kjennskap til internasjonale informasjonsdatabaser og kunne vurdere kvalitet på informasjon. Det vil også bli undervist i referanseteknikk.<br><br><strong>Arbeidskrav<br></strong>I emnene kan det stilles krav til tilstedeværelse, gjennomførte oppgaver, øvinger og prosjekter. Disse må være godkjent for at studenten skal kunne fremstille seg til eksamen. For mer informasjon, se emnebeskrivelsen for det enkelte emne. <br><br><strong>Undervisningsspråk</strong><br>Generelt er undervisningsspråket norsk. Enkelte forelesninger kan gis på engelsk. En stor del av pensumlitteraturen vil være på engelsk.</p>
<p><strong>Akademisk skriving</strong><br>Studentene skal gjennom studiet få trening i akademisk skriving. Dette gjøres ved at man i alle emner hvor det inngår utarbeidelse av skriftlige arbeider, legger vekt på innhold, struktur, etterrettelighet og referanseteknikk. I den foreliggende studieplanen blir dette vektlagt i følgende emner: <br>- Ingeniørrollen og prosjektarbeid<br>- Integrerte IT-systemer<br>- Bedriftspraksis<br>- Bacheloroppgave</p>
                    
                
                              
    
        <H3 id="KS043" class="studieinfoTitle H3style">
                  Forsknings- og utviklingsarbeid:</H3>
                          <p>Studiet gir en grunnleggende innføring i fagområdet og har mer fokus på utvikling enn forskning. Faglærere benytter erfaringer fra egen FoU i case og prosjektarbeid. Gjesteforelesere og næringsliv benyttes for å fremme temaer som har FoU-orientering i flere emner. Avdelingen har et Advisory Board som bidrar med faglige innspill.</p> <p>I bacheloroppgaven blir det foreslått oppgaver av våre fagansatte innen deres forskningsområder, og tilsvarende av eksterne bedrifter innen deres fokusområder.  </p>
                    
                
                              
    
        <H3 id="KS036" class="studieinfoTitle H3style">
                  Internasjonalisering:</H3>
                          <div id="KS036_view">
<p><strong>Studier i utlandet</strong> <br>Studenter som ønsker det kan ta ett semester av studiet ved et lærested i utlandet i sitt andre eller tredje studieår. Studielederne og internasjonalt kontor ved høgskolen vil være behjelpelige med å tilrettelegge dette. På høgskolens websider for internasjonalisering vil man finne mer detaljert informasjon om høgskoler og universiteter i utlandet som HIØ har utvekslingsavtaler med. <br>Se <a href="/nor/hogskolen-i-ostfold/internasjonalt-kontor/studier-i-utlandet">http://www.hiof.no/nor/hogskolen-i-ostfold/internasjonalt-kontor/studier-i-utlandet</a></p>
<p>Avdelingen har også en webside som gir detaljer om hvordan ett eller to semestre i utlandet kan innpasses i studiet.<br>Se <a href="http://www.it.hiof.no/utland">http://www.it.hiof.no/utland</a>.</p>
<p><strong>Emner tilrettelagt for utvekslingsstudenter<br></strong>Undervisningen foregår på norsk. Pensumlitteratur vil i mange av våre emner være engelskspråklig. I noen emner vil faglærer kunne veilede studenter på engelsk slik at disse emnene kan tilbys utenlandske studenter. Hvilke emner som tilbys til utenlandske studenter vil variere over tid, og vil bli publisert på høyskolens websider. Følgende emner er planlagt tilbudt for utvekslingsstudenter (alle emner er på 10 studiepoeng):</p>
<ul>
<li>Dokumenter og web</li>
<li>Agentsystemer</li>
<li>Bildebehandling og mønstergjenkjenning</li>
<li>Software engineering</li>
<li>Bacheloroppgave (20 studiepoeng)</li>
</ul>
<p><strong>Internasjonale aspekter i studiet</strong><br>Det internasjonale aspektet blir ivaretatt ved at det i stor grad benyttes internasjonal litteratur. Videre har flere av de fagansatte nære kontakter med utenlandske læresteder og forskningsmiljøer. Avdelingen har økende antall innkommende internasjonale studenter, og vil også satse mer på student- og lærerutveksling med utenlandske høgskoler/universiteter. </p>
</div>
                    
                
                            
    
        <H3 id="KS031" class="studieinfoTitle H3style">
                  Tilbakemelding underveis:</H3>
                          <p>I de fleste emner benyttes øvinger, oppgaver og prosjekter som løses i grupper eller individuelt. Det gis tilbakemeldinger på disse, slik at studenten får en oppfatning av hvordan han/hun ligger an.<br>I enkelte emner benyttes passeringstester og/eller prøver som et pedagogisk virkemiddel, og for at studentene skal bli kjent med nivået som forventes i emnet.</p>
                    
                
                              
    
        <H3 id="KS041" class="studieinfoTitle H3style">
                  Evaluering av studiet:</H3>
                          <p>For å kunne tilby en aktuell og relevant utdanning av god kvalitet er vi avhengig av studentenes tilbakemeldinger og at du deltar i evaluering av studiene. Dette<br>studieprogrammet blir jevnlig evaluert for å sikre og utvikle kvaliteten i programmet:</p> <ul> <li>HiØs studiekvalitetsutvalg gjennomfører årlig en evaluering av studiekvaliteten ved et utvalg av høgskolens studieprogrammer.</li> <li>Avdeling for informasjonsteknologi gjennomfører evaluering av hvert enkelt emne i form av midtsemesterevalueringer og sluttevalueringer.<br> </li> </ul>
                    
                
                              
    
        <H3 id="KS007" class="studieinfoTitle H3style">
                  Vurdering:</H3>
                          <p>Det er ulike former for sluttvurdering. De vanligste er skriftlig individuell eksamen, mappevurdering, prosjekt, muntlig eksamen eller en kombinasjon av disse.<br>I hovedsak benyttes bokstavkarakter (A - F), men i enkelte emner kan Bestått/Ikke bestått benyttes. <br><br>I alle emner som benytter andre vurderingsformer enn tradisjonell skriftlig eller muntlig eksamen, kan et tilfeldig utvalg av studentene også bli tatt ut til muntlig eksamen.<br>En mer detaljert beskrivelse av vurderingsformer finnes i emnebeskrivelsen for det enkelte emne.</p>
<p><strong>Plagiatkontroll/fusk:</strong><br>Bacheloroppgaver skal til elektronisk plagiatkontroll. Andre emner og arbeidskrav kan bli gjenstand for plagiatkontroll. Besvarelser som er helt eller delvis identiske vil ikke bli godkjent. Helt eller delvis identiske besvarelser er å anse som forsøk på fusk. Se for øvrig Forskrift om eksamen og studierett ved Høgskolen i Østfold.</p>
                    
                
                              
    
        <H3 id="KS034" class="studieinfoTitle H3style">
                  Litteratur:</H3>
                          <p>Litteraturliste finnes i emnebeskrivelsen for det enkelte emne.<br>Litteraturlistene i emnebeskrivelsene kan bli oppdatert fram til semesterstart (fristen for oppdatering er 15. juni for emner som går i høstsemesteret og 1. desember for emner som går i vårsemesteret). </p>
                    
                
    

  



</section>







<script type="text/javascript">
$(function() {
    $("html").addClass("cover ingenior quote");

});
</script>
