<section class="lo-full nav-page">
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#program-about">Generelt om studiet</a></li>
    <li><a href="#program-video">Video</a></li>
    <li><a href="#program-requirements">Opptakskrav</a></li>
    <li><a href="#program-further-education">Videre utdanning</a></li>
    <li><a href="#program-work-possibilities">Yrkesmuligheter</a></li>
    <li><a href="#program-facts">Kortfakta om studie</a></li>
    <li><a href="#program-application-deadline">Søknadsfrist</a></li>
    <li><a href="#program-details">Studieplan</a></li>
    <li><a href="#program-apply">Søk studie</a></li>
    <!--<li><a href="#">Vis kursmodell for studiet</a></li>-->
  </ul>
</section>