<section class="lo-full">



    <form action="/nor/hogskolen-i-ostfold/studiekatalog-_-rekrutteringssider/studietilbudet/?" id="studie" name="studie" method="GET" class="catalogForm lo-full">
        <div id="freetext" class="lo-full">
            <div class="input-group">
                <!--<label for="searchcontent" class="studieinfoSearchBold">Fritekstsøk</label>-->
                <input placeholder="Fritekstsøk" type="text" name="searchcontent" id="searchcontent" class=" form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Søk</button>
                </span>
            </div>
        </div>
                <div id="studtype" class="lo-full">
            <div class="studieinfoSearchBold studieinfoSearchHeader">
                <h3>Typer studier</h3>
            </div>
            <div class="checkbox studieinfoSearchBold">
                <label class="sttype" for="sttype_all">
                    <input class="studieinfoAllSelector" type="checkbox" name="sttype_all" id="sttype_all" checked="">Alle typer studier</label>
            </div>
            <div class="checkbox">
                <label class="sttype" for="sttype_firearrig">
                    <input class="studieinfoSingleSelector" type="checkbox" name="sttype_firearrig" id="sttype_firearrig" style="margin-right:8px;">4-årig lærerutdanning</label>
            </div>
            <div class="checkbox">
                <label class="sttype" for="sttype_bachelor">
                    <input class="studieinfoSingleSelector" type="checkbox" name="sttype_bachelor" id="sttype_bachelor">Bachelorprogram</label>
            </div>
            <div class="checkbox">
                <label class="sttype" for="sttype_aar">
                    <input class="studieinfoSingleSelector" type="checkbox" name="sttype_aar" id="sttype_aar">Årsstudier</label>
            </div>
            <div class="checkbox">
                <label class="sttype" for="sttype_lavere">
                    <input class="studieinfoSingleSelector" type="checkbox" name="sttype_lavere" id="sttype_lavere">Lavere grads studier</label>
            </div>
            <div class="checkbox">
                <label class="sttype" for="sttype_master">
                    <input class="studieinfoSingleSelector" type="checkbox" name="sttype_master" id="sttype_master">Masterprogram</label>
            </div>
            <div class="checkbox">
                <label class="sttype" for="sttype_master5">
                    <input class="studieinfoSingleSelector" type="checkbox" name="sttype_master5" id="sttype_master5">Studier på masternivå</label>
            </div>
            <div class="studieinfoSearchBold studieinfoSearchHeader">
                <h3>Øvrige studier/alternativer</h3>
            </div>
            <div class="checkbox">
                <label class="sttype" for="ovrig_79">
                    <input id="ovrig_79" class="studieinfoSingleSelector" type="checkbox" name="ovrig_79">Etter- og videreutdanning</label>
            </div>
            <div class="checkbox">
                <label class="sttype" for="ovrig_80">
                    <input id="ovrig_80" class="studieinfoSingleSelector" type="checkbox" name="ovrig_80">Nett- og /eller samlingsbasert</label>
            </div>
            <div class="checkbox">
                <label class="sttype" for="ovrig_81">
                    <input id="ovrig_81" class="studieinfoSingleSelector" type="checkbox" name="ovrig_81">Deltid</label>
            </div>


        </div>
        <div id="stprogDiv" class="lo-full">

            <div class="studieinfoSearchBold studieinfoSearchHeader">
                <h3>Fagområder</h3>
            </div>
            <div class="checkbox studieinfoSearchBold">
                <label class="kat" for="kat_all">
                    <input class="studieinfoAllSelector" type="checkbox" name="kat_all" id="kat_all" checked="">Alle fagområder</label>
            </div>
            <div class="checkbox">
                <label class="kat" for="kat_70">
                    <input class="studieinfoSingleSelector" type="checkbox" id="kat_70" name="kat_70">Forkurs og realfagskurs</label>
            </div>
            <div class="checkbox">
                <label class="kat" for="kat_71">
                    <input class="studieinfoSingleSelector" type="checkbox" id="kat_71" name="kat_71">Helse- og sosialfaglige utdanninger</label>
            </div>
            <div class="checkbox">
                <label class="kat" for="kat_72">
                    <input class="studieinfoSingleSelector" type="checkbox" id="kat_72" name="kat_72">Ingeniørutdanninger</label>
            </div>
            <div class="checkbox">
                <label class="kat" for="kat_73">
                    <input class="studieinfoSingleSelector" type="checkbox" id="kat_73" name="kat_73">IT-utdanninger</label>
            </div>
            <div class="checkbox">
                <label class="kat" for="kat_74">
                    <input class="studieinfoSingleSelector" type="checkbox" id="kat_74" name="kat_74">Lærer- og pedagogiske utdanninger</label>
            </div>
            <div class="checkbox">
                <label class="kat" for="kat_75">
                    <input class="studieinfoSingleSelector" type="checkbox" id="kat_75" name="kat_75">Samfunnsfag- og språkfagutdanninger</label>
            </div>
            <div class="checkbox">
                <label class="kat" for="kat_76">
                    <input class="studieinfoSingleSelector" type="checkbox" id="kat_76" name="kat_76">Økonomi, administrasjon og ledelsesutdanninger</label>
            </div>
            <div class="checkbox">
                <label class="kat" for="kat_77">
                    <input class="studieinfoSingleSelector" type="checkbox" id="kat_77" name="kat_77">Scenekunstutdanninger</label>
            </div>

        </div>

        <div id="campus" class="lo-full">
            <div class="studieinfoSearchBold studieinfoSearchHeader">
                <h3>Alle studiesteder</h3>
            </div>
            <div class="checkbox studieinfoSearchBold">
                <label class="camp" for="camp_all">
                    <input class="studieinfoAllSelector" type="checkbox" name="camp_all" id="camp_all" checked="">Alle studiesteder</label>
            </div>
            <div class="checkbox">
                <label for="camp_2" class="sttype">
                    <input type="checkbox" name="camp_2" class="studieinfoSingleSelector" id="camp_2">Studiested Halden</label>
            </div>
            <div class="checkbox">
                <label for="camp_1" class="sttype">
                    <input type="checkbox" name="camp_1" class="studieinfoSingleSelector" id="camp_1">Studiested Fredrikstad</label>
            </div>
            <div class="checkbox">
                <label for="camp_8" class="sttype">
                    <input type="checkbox" name="camp_8" class="studieinfoSingleSelector" id="camp_8">Andre studiesteder</label>
            </div>
        </div>
        <div id="study-alternativly" class="lo-full">

        </div>




    </form>


</section>
