<section id="content" class="lo-auron-2-3">

                                    

            <H2 id="program-KS001" class="studieinfoTitle H2style">
                                        Bachelorstudium i ingeniørfag - data
                                        </H2>
                        
                                

            <H3 id="program-KS019" class="studieinfoTitle H3style">
                                Generelt om studiet</H3>
                                        <p>Dataløsningene fra i går er sjelden egnet til å løse morgendagens behov. Som dataingeniør er du med på å utvikle systemene som skal prege framtiden. En ingeniør er lært opp til å se faget sitt i sammenheng med samfunnet rundt seg og forstå kompliserte strukturer. Med denne utdanningen kan du bidra på alle felt innenfor data- og IT-sektoren.</p>
<p>De første to årene vil du lære grunnleggende datafag som programmering, databaser, operativsystemer og datakommunikasjon. Realfag og samfunnsfag er også viktige i en ingeniørutdanning og undervises også de første to årene. I tredje studieår vil du lære om intelligente systemer og bruk av IT i virksomheter og industri. Her lager du programmer som håndterer både tekniske og administrative systemer i en bedrift. Det er praktisk vinkling på de fleste fag, og du vil jobbe med problemstillinger som er hentet fra industri, næringsliv og offentlig forvaltning. Særlig gjelder dette den avsluttende bacheloroppgaven i sjette semester.</p>
<p>Det er mulig å ta ett eller to semestre ved en av våre samarbeidsinstitusjoner i utlandet. Dette foregår eventuelt i andre eller tredje studieår.</p>
                                    
                                

            <H3 id="program-KS033" class="studieinfoTitle H3style">
                                Opptakskrav</H3>
                                        <div class="studieinfoAdmission">
  <p>Et av f&oslash;lgende:</p>
<ul>
<li>generell studiekompetanse/realkompetanse og matematikk (R1+R2) og fysikk (FYS1), eller</li>
<li>generell studiekompetanse og best&aring;tt realfagkurs, eller</li>
<li>2-&aring;rig teknisk fagskole etter rammeplan fastsatt av departementet 1998/99 og tidligere studieordninger, eller</li>
<li>nyere, godkjent teknisk fagskoleutdanning med dokumenterte kunnskaper i matematikk og fysikk tilsvarende matematikk (R1+R2) og fysikk (FYS1) eller</li>
<li>best&aring;tt 1-&aring;rig forkurs for ingeni&oslash;r- og maritim h&oslash;yskoleutdanning</li>
</ul>
  <div class="admissionUpdateTime">Sist oppdatert: 18.12.2014 11:01</div>
</div>
                                    
                                

            <H3 id="program-KS014" class="studieinfoTitle H3style">
                                Videre utdanning</H3>
                                        <p>Best&aring;tt&nbsp;studium kvalifiserer for opptak til v&aring;rt eget <a href="http://hiof.no/studier/studietilbudet/viser-aktuelle-beskrivelser?displayitem=959&amp;module=studieinfo&amp;type=katalog" title="Masterstudium i anvendt informatikk (120 studiepoeng)" target="_self">Masterstudium i anvendt informatikk</a>. Du vil ogs&aring; v&aelig;re kvalifisert til &aring; s&oslash;ke andre masterstudier ved universiteter og h&oslash;gskoler i inn- og utland.</p>
                                    
                                

            <H3 id="program-KS015" class="studieinfoTitle H3style">
                                Yrkesmuligheter</H3>
                                        <p>Det er stort behov for personer med gode IT-kunnskaper i alle deler av samfunnet. Kandidater med bachelorgrad i ingeniørfag - data er etterspurte til stillinger som dataingeniør, programmerer, systemutvikler, IT-konsulent, prosjektleder, driftsansvarlig eller til utvikling av smarte IT-løsninger innen industri-, energi-, helse- og miljøsektoren.</p>
                                    
        <div class="clearfix" style="padding-top:20px;"><h3 id="program-KS604" class="" style="padding-bottom: 10px;">Studieplan</h3>
      <div class="lo-half"><a href="/index.php?ID=30053&amp;displayitem=2008&amp;module=studieinfo&amp;type=studieue" class=" btn btn-primary btn-line lo-full">Se studieplan</a></div>
      <div class="lo-half"><a href="/index.php?ID=30053&amp;displayitem=2008&amp;module=studieinfo&amp;type=studieue#KS016" class=" btn btn-primary btn-line lo-full study-plan-model-link">Studiets oppbygning</a></div>

      </div><div class="clearfix"><div class="lo-half">




            


            <h3 id="program-KS601">Studieinfo</h3>

            <dl class="lo-full padding-l-off padding-r-off">
            
                <dt>Studiepoeng</dt> <dd>180</dd>
                <dt>Varighet</dt> <dd>Heltid, 3 år</dd>
                <dt>Semesterstart</dt> <dd>Høst 2015</dd>
                <dt>Språk</dt> <dd>Norsk</dd>
                <dt>Studiested</dt> <dd>Halden </dd>
                <dt>Studiekode</dt> <dd><code>224.004</code> </dd>
            </dl></div><div class="lo-half"> 
      <h3 id="program-KS603">Kontakt oss for mer informasjon</h3>
      <img class="profile-picture-study" alt="Studiets studieveileder er Annette Øyen" src="http://www2.hiof.no/uimg/1125039488.pjpeg">
      <h4><a href="?id=30001&displayitem=23&module=admin">Annette Øyen</a></h4>
      <dl>
        <dt>Tlf</dt>
          <dd>69215000 - Spør etter Annette.</dd>
        <dt>E-post</dt>
          <dd><a href="mailto:studier-halden@hiof.no">Studier i Halden</a></dd>
      </dl>
        
        <span id="study-catalog-cover-id" class="hidden" data-study-catalog-cover-id="22455"></span>
   
    </div></div><h3 id="program-KS602">Søk studiet</h3><div><a class="btn btn-primary" target="_blank" href="http://www.samordnaopptak.no/info/soke/logg-inn/velg-innlogging.html">Søk her før 15. april! <span class="ss-icon">right</span></a><br><br><br>Søking åpner 1.februar.

</section>







<script type="text/javascript">
$(function() {
    $("html").addClass("cover");

});
</script>
