<section id="content" class="lo-auron-2-3">
  <header class="lo-full">
      <h2 id="generelt">Universiell utforming ved Høgskolen i Østfold</h2>
  </header>
  <p>Universiell utforming er mer enn bare et krav fra myndighetene sin side for oss. Det handler om å legge til rette for alle, helt uavhengig av hvem de er, funksjonsevne eller plattform de bruker.</p>
  <section class="lo-half">
      <header>
          <h3 id="paa-nett">På nett</h3>
      </header>        
      <p>Har du forslag til hvordan vi kan gjøre sidene våre enda mer tilgjenglig tar vi gjerne i mot tips på <a href="mailto:uu@hiof.no">uu@hiof.no</a></p>
  </section>
  <section class="lo-half">
      <header>
          <h3 id="vaare-campus">Våre campus</h3>
      </header>
      <p>Vi trenger din hjelp til å bli bedre.</p>
  </section>
  <section class="lo-full">
    <header>
        <h3 id="hurtigtaster">Hurtigtaster</h3>
    </header>
    <p>Her på Høgskolen i Østfold sine sider har vi laget et sett med snarveier til ofte brukte sider som er tilgjenglig via tastaturkombinasjoner.</p>
    <dl>
        <dt>alt + A</dt>
        <dd>Hopp til hovedinnholdet</dd>
        <dt>alt + S</dt>
        <dd>Gå til studier</dd>
        <dt>alt + 0</dt>
        <dd>Snarvei til denne universiell utforming siden</dd>
        <dt>alt + 1</dt>
        <dd>Snarvei til hovedsiden</dd>
        <dt>alt + 2</dt>
        <dd>Snarvei til Studentsiden</dd>
        <dt>alt + 3</dt>
        <dd>Snarvei til Fronter innlogging</dd>
        <dt>alt + 4</dt>
        <dd>Snarvei til Ansatt siden</dd>
        <dt>alt + 5</dt>
        <dd>Søk</dd>
        <dt>alt + 6</dt>
        <dd>It-hjelp</dd>
        <dt>alt + 7</dt>
        <dd>Kontakt siden</dd>
        <dt>alt + 8</dt>
        <dd>Aktuelt (arrangementer, nyheter, forskning)</dd>
        <dt>alt + 9</dt>
        <dd></dd>
    </dl>
  </section>
</section>
<aside id="sidebar" class="lo-auron-1-3">
    <nav id="nav-page" class="nav-page">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#generelt">Generelt</a>
            </li>
            <li><a href="#paa-nett">Universiell utforming på nett</a>
            </li>
            <li><a href="#vaare-campus">Universiell utforming på campus</a>
            </li>
            <li><a href="#hurtigtaster">Hurtigtaster til bruk på våre nettsider</a>
            </li>
        </ul>
    </nav>
</aside>
