
.universal(){

  @import "../../vendor/bootstrap/less/buttons.less";
  @import "../../vendor/bootstrap/less/button-groups.less";

  .btn-line{
    background: none;
    color: rgb(53, 126, 189);
    &:hover{
      background: none;
      color: rgb(53, 126, 189);
    }
  }

}