.breadcrumb-horizontal(){
  #breadcrumb{
    &:before{
      content: "";
      height: 4.4rem;
      position: absolute;
      left: 0;
      width: 100%;
      background: @hiof-blue;
      z-index: -1;
    }
    ol{margin-bottom: 0;}
    li{
      display: inline-block;
      list-style: none;
      line-height: 4.4rem;
      position: relative;
      margin-left: -.4rem;
      a{
        color: @white;
        padding: 0 4.4rem;
        padding-right: 2.2rem;
      }
      &:first-child{
        a{
          padding-left: 2.2rem;
        }
        
      }
      &:before,
      &:after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 22px solid transparent;
        border-left: 22px solid @white;
        border-bottom: 22px solid transparent;
        top: 0;
        position: absolute;
        z-index: 1;
        right: -20px;
      }
      &:before{
        //right: 0;

      }
      &:after{
        right: -18px;
        border-left-color: @hiof-blue;
      }
      &:hover{
        background-color: lighten(@hiof-blue, 20%);
        &:after{
          border-left-color: lighten(@hiof-blue, 20%);
        }
      }
    }
  }
}
.breadcrumb-vertical(){
  
}


.nav-horizontal(){
  #nav{
    ul{
      ul{
        display: none;
        position: absolute;
        top: 100%;
        left: -2rem;
        li{
          display: block;
          width: 26rem;
          background: @white;
          //border-radius: @border-radius-standard;
          //color: @white;
          a{
            //color: @hiof-blue;
            border-bottom: .1rem solid @hiof-blue;
            display: block;
            padding: 0 2rem;
          }
          &:last-child{
            a{
              border-bottom: none;
            }
            border-bottom-left-radius: @border-radius-standard;
            border-bottom-right-radius: @border-radius-standard;
          }
        }

      }
      li{
        display: inline-block;
        list-style: none;
        position: relative; 
        cursor: pointer;
        &:hover{
          ul{
            display: block;
          }
        }
      }
    }
  }
  #nav-pages{
    //padding-left: 0;
  }
  //#universal-access{
  //  //color: @color-primary-action;
  //  #icon-universal-access{
  //  }
  //  .item{
  //    fill: @color-primary-action;
  //  }
  //}

  .light{
    .btn-line{
      color: @white;
      border-color: @white;
      &:hover{
        border-color: @color-primary-action;
      }
    }
    //#universal-access{
    //  color: @white;
    //  #icon-universal-access{
    //  }
    //  .item{
    //    fill: @white;
    //  }
    //}
  }
  .mobile-pages,
  .mobile-user,
  .mobile-internal{
    display: none;
  }
  #global-search{
    display:none;
  }
  #nav-pages{
    padding-left: 2rem;
  }
  #nav-internal{
    margin-right: 2rem;
  }
}





// Vertical navigation



.nav-vertical(){
  .slideout-navigation();
  #mobile-overlay{
    background: rgba(255,255,255,.4);
  }
  #nav{
    ul{
      ul{
        display: none;
      }
    }
    //position: absolute;
    //left: -100%;
  }
  #header{
    transition: left .3s ease;
    //transform: translate3d(0px,0px,0px);
  }
  #nav-pages{
    //top: 0rem;
    padding-top: .2rem;
    z-index: -1;
    // Override .btn styling
    box-shadow: 1px 0 1px rgba(0,0,0,.1);
    .btn-primary{
      background: none;
      color: @hiof-blue;
      border: none;
      text-align: left;
      display: block;
      padding: 0;
      padding-left: 1rem;
      line-height: 4.4rem;
      border-radius: 0;
      &:hover{
        background-color: #eee;
      }
    }
  }
  #nav-internal{
    //li{
    //  display: inline-block;
    //  list-style: none;
    //}
    //margin: 0 4rem;
    padding: 2rem;
    width: 100%;
    background: @white;
    position: absolute;
    top: -14rem;
    left: 0;
    transition: top .3s ease;
    transform: translate3d(0px,0px,0px);
    z-index: -9;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    li{
      list-style: none;
      margin-bottom: .5rem;
      a{
        display: block;
        text-align: left;
      }
    }
    &.show{
      top: 4.2rem;
    }
  }

  .mobile-pages,
  .mobile-user, 
  .mobile-internal{
    top: 0rem;
  }
  
  .mobile-pages,
  .mobile-user, 
  .mobile-internal{
    svg{
      width: 1.6rem;
      height: 1.6rem;
      float: left;
      margin-top: .8rem;
      margin-left: .8rem;
      .item{

        fill: #444;

      }

    }
  }
  .mobile-user{}
  .mobile-internal{
    position: absolute;
    top:.5rem;
    right: 6.5rem;
    float: right;
    border: 1px solid #eee;
    border-radius: @border-radius-standard;
    color: #aaa;
    line-height: 3.2rem;
    padding-right: .8rem;
    svg{
      margin-right: .5rem;
    }
  }
  #sidebar .nav{
    margin-bottom: 0;
  }
  .nav-page{
    padding-bottom: 0;
  }
  .mobile-pages{
    width: 8rem;
  }

  .push-right {
    #header{
      left: 240px;
    }
  }

  #logo-wrapper{
    //margin-left: 40px !important;
  }
  #global-search{display:none;}



  //.nav-page{
  //  position: fixed;
  //  height: 33px;
  //  bottom: 0;
  //  width: 100%;
  //  background: #000;
  //  left: 0;
  //}


  .nav-page{
    //li{
    //  display: inline-block;
    //  list-style: none;
    //}
    //margin: 0 4rem;
    padding: 2rem;
    width: 100%;
    background: @white;
    position: absolute;
    top: -14rem;
    left: 0;
    transition: top .3s ease;
    transform: translateZ(1);
    z-index: -9;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    li{
      list-style: none;
      margin-bottom: .5rem;
      a{
        display: block;
        text-align: left;
      }
    }
    &.show{
      top: 4.2rem;
    }
  }


  
  .nav-page{
    background-color: #fff;
    top: -100%;

    z-index: 997;
    position: fixed;
  }


}



.universal(){
  @import "../../vendor/bootstrap/less/navs.less";
  @import "../../vendor/filament-sticky/fixedsticky.css";
  // UI helper helper
  #nav-guide{
    background: fade(@black, 0%);
    transition: background .2s;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;
    margin-bottom: 0;
    //padding-top: 5px;
    padding-right: 2rem;
    //&:hover{
    //  background: @black;
    //}
    div{
      background: @black;
      padding: .5rem;
      border-top-left-radius: .4rem;
      border-top-right-radius: .4rem;
    }
  }




  .nav{
    li{
      margin-left: 0;
    }
  }
  #sidebar{
    .nav{
      margin-bottom: 4rem;
    }
  }
  //.nav{}
  #study{
    .nav{
      li{
        a{
          padding-right: 2.4rem;
          padding-top: 0;         
          padding-bottom: 0;   
          &.arrow-right{
            &:before,
            &:after{
              top: 1.6rem;
            }
          }
        }
      }
    }
  }
  //.nav-subpages{
  //  ul{
  //      //background: #eee;
  //      //padding: 2rem 0;
  //      border: 1px solid #eee;
  //  }
  //  li{
  //    list-style: none;
  //    a{
  //      display: block;
  //      padding:0 2rem;
  //      border-bottom: 1px solid #eee;
  //      line-height: 2.4;
  //    }
  //  }
  //}
  //.nav-page{
  //  li{
  //    list-style: none;
  //  }
  //}


  @media screen and (max-width: 769px){
    .breadcrumb-vertical();
    .nav-vertical();
  }  
  @media screen and (min-width: 770px){
    .breadcrumb-horizontal();
    .nav-horizontal()
  }


}
.small(){



  //.nav-page-show{
  //  .nav-page{
  //    top: 4.4rem;
  //  }
  //}





}
.medium(){




}
.large(){
  #nav-pages{
    padding-left: 0;
  }
}