.universal() {

  @import "../../vendor/bootstrap/less/buttons.less";
  @import "../../vendor/bootstrap/less/button-groups.less";

  .btn-line {
    background: none;
    &:hover {
      background: none;
    }
  }
  .btn-group .btn + .btn,
  .btn-group .btn + .btn-group,
  .btn-group .btn-group + .btn,
  .btn-group .btn-group + .btn-group{
    margin-left: -3px;
  }


  .input-group-btn:last-child>.btn,
  .input-group-btn:last-child>.btn-group{
    margin-top: 0;
  }
  .btn-default {
    //&.btn-line {
    //  color: rgb(53, 126, 189);
    //  &:hover {
    //    color: rgb(53, 126, 189);
    //  }
    //}
  }
  .btn-primary {
    &.btn-line {
      color: @btn-primary-bg;
      &:hover {
        background: @btn-primary-bg;
        color: @btn-primary-color;
      }
    }
  }
  .btn-success {
    &.btn-line {
      color: @btn-success-bg;
      &:hover {
        background: @btn-success-bg;
        color: @btn-success-color;
      }
    }
  }
  .btn-info {
    &.btn-line {
      color: @btn-info-bg;
      &:hover {
        background: @btn-info-bg;
        color: @btn-info-color;
      }
    }
  }
  .btn-warning {
    &.btn-line {
      color: @btn-warning-bg;
      &:hover {
        background: @btn-warning-bg;
        color: @btn-warning-color;
      }
    }
  }
  .btn-danger {
    &.btn-line {
      color: @btn-danger-bg;
      &:hover {
        background: @btn-danger-bg;
        color: @btn-danger-color;
      }
    }
  }


  .btn-icon{

    position: relative;
    svg{
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      top: .5rem;
      right: .6rem;
      //opacity: .7;
      //transition: opacity .3s;
    }
    .helper-text{
      padding-right: 3rem;
    }
    &:hover{
      #icon-print{
        .item{
          fill: @white;
        }
      }
    }
  }



  // KD: Temporary hack untill we fix the buttons
  .btn{
    &.green, &.blue{
      &:extend(.btn-primary);
    }
  }

  .ss-icon{
    display: none;
  }

}


.large(){

}
