



.universal(){

  // SVG icons
  //#icon-person, 
  #icon-universal-access{
    position: absolute;
    top: 0;
    right: .5rem;
    .item{
      fill: @white;
    }
  }
  #icon-universal-access{
    width: 2.6rem;
    height: 2.6rem;
    top: .2rem;
    .item{
      fill: @hiof-blue;
    }
  }
  #icon-facebook, 
  #icon-twitter,
  #icon-print{
    border-radius: @border-radius-standard;
  }
  
  .icon-calendar,
  .icon-people,
  .icon-research,
  .icon-news{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    top:1rem;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .icon-calendar{
    //margin-top: 1rem;
    //background: #f00;
    //line-height: 4.8rem;
    background-image: url("../images/analyse/calendar.svg");
  }

  .icon-people{
    background-image: url("../images/analyse/person.svg");
  }

  .icon-research{
    background-image: url("../images/analyse/research.svg");
  }

  .icon-news{
    background-image: url("../images/analyse/news.svg");
  }





  .arrow{
      position: relative;
    &:before, &:after{
      content: "";
      position: absolute;
      top: 1.1rem;
    }
    &:before{
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;

    }
    &:after{
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }



    &.btn-primary{
      &:before{

      border-left: 5px solid @color-primary-action;
      }
      &:after{

      border-left: 5px solid @white;
      }
    }

    &.btn-link{
      &:before{

      border-left: 5px solid @color-primary-action;
      }
      &:after{
        
      border-left: 5px solid @white;
      }
    }
  }
  #study{
    .arrow{
      &.btn-link{
        &:before{
          border-left: 5px solid @white;
        }
        &:after{
          border-left: 5px solid @color-primary-action;
        }
      }
    }
  }


  .arrow-right{
    padding-right: 2.4rem;
    &:before{
      right: 1.1rem;

    }
    &:after{

      right: 1.2rem;

    }
    //&:hover{
    //  &:before, &:after{
    //    -webkit-transform: rotate(-90deg);
    //  }
    //}
  }

  .arrow-left{

  }

  .arrow-up{

  }

  .arrow-down{

  }



  // Footable icons
  .footable-toggle{
    display: inline-block;
    background-image: url("../images/icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 3rem;
    margin: 0;
    margin-right: 1rem;

  }
  .footable-detail-show{
      .footable-toggle{
        background-image: url("../images/icons/arrow-down.svg");

        background-size: 60%;
      }
  }
}





.large(){
  .cover{
    #icon-print{
      .item{
        fill: @white;
      }
    }   
  }

}

