.universal(){


  .media-frame{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 3rem;
    height:0;
    overflow:hidden;
    img, iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }


  // Images
  img{
    margin-top: 3rem;
    max-width: 100%;
    border-radius: .4rem;
    //border: .1rem #999 solid;
  }
}