
.visuallyhidden(){
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.gfx-arrow-down(@color, @border-color, @position-offset){


    &:before,
    &:after{

      content: "";
      position: absolute;
      left: 50%;
      margin-left: -.8rem;
      border-left: .8rem solid transparent;
      border-right: .8rem solid transparent;
    }
    &:before{
      top: (@position-offset + .1);
      border-top: .8rem solid @border-color;
      
    }
    &:after{
      top: @position-offset;
      border-top: .8rem solid @color;

    }


}

.universal(){


  .clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
  }



  .ta-left{
    text-align: left;
  }
  .ta-center{
    text-align: center;
  }
  .ta-right{
    text-align: right;
  }


  .bg-divider{
    background: @hiof-blue;
    color: @white;
    a{
      color: @white;
      font-weight: bold;
    }
  }


  .padding-l-off{
    padding-left: 0 !important;
  }
  .padding-t-off{
    padding-top: 0 !important;
  }
  .padding-r-off{
    padding-right: 0 !important;
  }
  .padding-b-off{
    padding-bottom: 0 !important;
  }


  .margin-l-off{
    margin-left: 0 !important;
  }
  .margin-t-off{
    margin-top: 0 !important;
  }
  .margin-r-off{
    margin-right: 0 !important;
  }
  .margin-b-off{
    margin-bottom: 0 !important;
  }

  // Sticky helper
  .sticky{
    background: @white;
    top:6.2rem;
    //right: 0;
    width: 100%;
    max-width: 357px;
    z-index:99;
  }
  //.no-csssticky{
  //  .sticky{
  //    position:fixed;
  //  }
  //}
  .csssticky{
    .sticky{
      position: sticky;
      //top: 6.2rem;
    }  
  }



  .hidden {
      display: none !important;
      visibility: hidden;
  }
  .visuallyhidden {
    .visuallyhidden();
  }



  // From bootstrap Type:
  .bg-primary {
    // Given the contrast here, this is the only class to have its color inverted
    // automatically.
    color: #fff;
    .bg-variant(@brand-primary);
  }
  .bg-success {
    .bg-variant(@state-success-bg);
  }
  .bg-info {
    .bg-variant(@state-info-bg);
    padding: 0.5rem;
    border-radius: @border-radius-standard;
  }
  .bg-warning {
    .bg-variant(@state-warning-bg);
  }
  .bg-danger {
    .bg-variant(@state-danger-bg);
  }

}