


.universal(){
  html{
    background: @black;
  }
}

.small(){
  html{
    background: #0f0;
  }
  
}

.medium(){
  html{
    background: #f0f;
  }
  
}



.large(){
  html{
    background: #00f;
  }
  
}



.retina(){
  html{
    background: #f00;
  }
  
}



.print(){
  html{
    background: #000;
    &:before{
      content: 'print';
    }
  }
  
}