.universal(){


  .article{
    border: 1px solid #eee;
    border-radius: .4rem;
    img{
      margin-top: 0;
      margin-bottom: 1rem;
    }
    h3{
      padding: 1rem;
      padding-bottom: 0;
    }
    p{
      margin-bottom: 0;
      padding: 1rem;
      
    }
    
  }
  .article-archive{
    border:none;
    li{
      list-style: none;
      border-bottom: 1px solid #eee;
      line-height: 2.4;
      margin-left: 0;
      &[id~="article-archive"]{
        background: #000;
        a{
          color: pink;
        }        
      }
    }
  }

  .article-horizontal{

  }

  .article-vertical{

  }
  #news,
  #research{
    .article{
      a{
          h3{
            color: @color-primary-action;
          }
          .lead-paragraph{
            color: @text-color;
          }
        
      }
    }
  }
}

.small(){}
.medium(){}
.large(){
  .article-vertical,
  .article-horizontal{
    //width: 24.5rem;
    //margin-right: 2rem;
    //float: left;
    //height: 45rem;
    //&:last-child{
    //  margin-right: 0;
    //}
    img{
      width: 100%;
      //max-height: 163px;
      border: none;
      border-bottom-left-radius: 0rem;
      border-bottom-right-radius: 0rem;
    }
    header{
      h3{
        font-size: 1.4rem;
      }
    }
  }

  .article-horizontal{
    //idth: 51rem;    
    //argin-right: 2rem;
    //argin-bottom: 4rem;
    //verflow: hidden;
    //:nth-child(odd){
    // margin-right: 0;
    //
    //eight: 16.3rem;
    //img{
    //  float: left;
    //  margin-right: 2rem;
    //  border-bottom-left-radius: .4rem;
    //  border-top-right-radius: 0rem;
    //  border-bottom-right-radius: 0rem;
    //}
    //header{
    //  float: left;
    //  clear: none !important;
    //  min-width:  22rem;
    //  h3{
    //    float: left;
    //    clear: both;
    //    padding-left: 0;
    //  }
    //}
  }

}