// Import slideout navigation mixin
@import "../../vendor/slideout/slideout-navigation.less";

.cover() {
  .cover-inline{
    display: none;
  }
  html.cover {
    .cover-inline{
        display:block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        max-height:60rem;
        z-index: -10;
    }
    &.study {
      .cover-inline{
          background: url(../images/bg-study.jpg) fixed;
      }
    }
    &.index{
      .cover-inline{
          background: url(../images/bg-index.jpg) fixed;
          //max-height: 61.8rem;
      }      
    }
    &.page{
      .cover-inline{
          background: url(../images/bg-index.jpg) fixed;
          //max-height: 61.8rem;
      }      
    }
    &.ingenior{
      .cover-inline{
          background: url(../images/bg-ingenior.jpg) fixed;
          //max-height: 61.8rem;
      }      
    }
    &.no-sticky{
      .cover-inline{
        background-attachment: initial;
      }
    }
    #header{
      &.light{
        margin-top: 2rem;
        transition: margin-top 1s;
        box-shadow: 0 1px 1px rgba(0,0,0,0);
        &:before{
          //transition: background 1s;
          background: rgba(255,255,255,0);
        }
        #logo-alternative{
          //background-color: #fff;
          margin-top:-2rem;
          transition: margin-top 1s;
          .item{
            fill: #fff;
            //transition: fill 1s;
          }
          #text{
            display: block;
          }
        }
        a{
          transition: color 1s;
          //color: #fff;
        }
      }
      &.header-dark{

      }
    }
  }
}

.nav-horizontal(){
  #nav{
    ul{
      ul{
        display: none;
        position: absolute;
        top: 100%;
        left: -2rem;
        li{
          display: block;
          width: 26rem;
          background: @white;
          //border-radius: @border-radius-standard;
          //color: @white;
          a{
            //color: @hiof-blue;
            border-bottom: .1rem solid @hiof-blue;
            display: block;
            padding: 0 2rem;
          }
          &:last-child{
            a{
              border-bottom: none;
            }
            border-bottom-left-radius: @border-radius-standard;
            border-bottom-right-radius: @border-radius-standard;
          }
        }

      }
      li{
        display: inline-block;
        list-style: none;
        position: relative; 
        cursor: pointer;
        &:hover{
          ul{
            display: block;
          }
        }
      }
    }
  }


  #universal-access{
    color: @color-primary-action;
    #icon-universal-access{

    }
    .item{
      fill: @color-primary-action;
    }
  }

  .light{
  #universal-access{
    color: @white;
    #icon-universal-access{

    }
    .item{
      fill: @white;
    }
  }
  }
  .mobile-pages{display: none;}
  #global-search{display:none;}
}
.nav-vertical(){
  .slideout-navigation();
  #nav{
    ul{
      ul{
        display: none;
      }
    }
    //position: absolute;
    //left: -100%;
  }
  #header{
    transition: left .3s ease;
  }
  #nav-pages{
    //top: 0rem;
    padding-top: .2rem;
    z-index: -1;
    // Override .btn styling
    box-shadow: 1px 0 1px rgba(0,0,0,.1);
    .btn-primary{
      background: none;
      color: @hiof-blue;
      border: none;
      text-align: left;
      display: block;
      padding: 0;
      padding-left: 1rem;
      line-height: 4.4rem;
      border-radius: 0;
      &:hover{
        background-color: #eee;
      }
    }
  }

  .mobile-pages,
  .mobile-user{
    top: 0rem;
  }
  .mobile-pages{
    width: 8rem;
    svg{
      float: left;
      margin-top: .8rem;
      margin-left: .8rem;
    }
  }
  .push-right {
    #header{
      left: 240px;
    }
  }

  #logo-wrapper{
    //margin-left: 40px !important;
  }
  #global-search{display:none;}
}



.nav-search(){

  #global-search{
    width: 200px;
    height: 32px;
  }
}


.universal(){
  #body{
    > #header{
      //box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
  }
  #header{
    //display: none;
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    z-index: 999;
    margin-top: 0rem;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    &:before{
      width: 300%;
      height: 100%;
      content: "";
      background: rgba(255,255,255,.97);
      display: block;
      position: absolute;
      left: -20%;
      z-index: -1;
    }
    .icon{
      position: relative;
      padding-right: 4rem;
    }

    .inner{
      width: 100%;
      margin: 0 auto;
      position: relative;
    }
    #logo-wrapper{
      //text-indent: -999em;
      padding: 0;
      height: 44px;
      //position: absolute;
      //left: 0;
      z-index: 999;
   
    }
    #logo{
      width: 100%;
      .item{
        fill: #000;
      }
    }


    
    ul,h1{
      float: left;
      margin: 0;
    }

  }
      #logo-alternative{
      margin-top:-.4rem;
      width: 180px;
      margin-left: -90px;
      height: 100px;
      position: absolute;
      left: 50%;
      z-index: 999;
      border-radius: .4rem;
      #text{
        display: none;
      }
    }
    .light{
      #logo-alternative{
        margin-top:-14px;
      }
    }





  .cover();


  // Custom breakpoint for the navigation fold
  @media screen and (max-width: 769px){
    .nav-vertical();
  }  
  @media screen and (min-width: 770px){
    .nav-horizontal()
  }
}



.small(){
  //.nav-vertical();
  #header{
    height: 3rem;
    height: 4.4rem;
    #logo{
      height: 3rem;
      margin-top: .5rem;
      margin-left: 23%;
      #circle{
        padding-left: 4rem;
      }
      #text{
        display: none;
      }
    }

    li{

      line-height: 3rem;
      line-height: 4.4rem;
    }
    .nav{
      display: none;
    }
    .icon{
      text-indent: -999em;
      width: 4rem;
      line-height: 3rem;
      padding: 0;
    }
  }
    #logo-alternative{
      margin-top:-14px;
      width: 121px;
      margin-left: -60px;
      height: 100px;
      position: absolute;
      left: 50%;
      z-index: 999;
      border-radius: .4rem;
      #text{
        display: none;
      }
    }
}

.medium(){
  //.nav-horizontal();
  #header{
    height: 4.4rem;
    #logo{
      height: 10rem;
      #circle{
        position: absolute;
        top: 0;
        left: 4rem;
      }
      #text{
        position: absolute;
        top: 3rem;
        left: 0rem;
      }
    }

    li{

      line-height: 4.4rem;
      margin-left: 0;
      margin-right: 1rem;
    }

    button{
      margin-top: .8rem;
    }
  }

}


.large(){
  //.nav-horizontal();
  #header{
    height: 6rem;
    li{

      line-height: 6rem;
      margin-left: 0;
      margin-right: 1rem;
    }
    button{
      margin-top: 1.2rem;
    }
    .inner{
      max-width: 104rem;
    }
  }

}
.print(){
  #nav-pages,
  #nav-internal{
    display: none;
  }
}