.universal() {
  #toolbar {
    //background: #f00;
    li {
      list-style: none;
      display: inline-block;
    }
  }
}
.large() {
  //#toolbar {
  //  position: absolute;
  //  left: -4rem;
  //  top: 0;
  //  width: 3rem;
  //  li{
  //    display: block;
  //  }
  //}
  .cover{
    #toolbar{
      position: absolute;
      left: 100% + 6rem;
      top: 0;
      width: 3rem;
      li{
        display: block;
      }
      .btn-icon{
        opacity: 1;
      }
    }
  }

}
