.universal(){
  #footer{
    //margin-top: 4rem;
    //padding-top: 4rem;
    //border-top: 1px solid #eee;
    //width: 100%;
    //position:relative;
    //&:after{
    //  width: 300%;
    //  height: 100%;
    //  content: "";
    //  background: rgba(0,255,255,.97);
    //  display: block;
    //  position: absolute;
    //  left: -20%;
    //  z-index: 999;
    //}
    
    //position:relative;
    //&:before{
    //  content: "";
    //  width: 300%;
    //  height: 60rem;
    //  background: lighten(@hiof-blue, 70%);
    //  display: block;
    //  z-index: -1;
    //  left: -25%;
    //  //top: 0;
    //  position: absolute;
    //
    //}
    //position: relative;
    li{
        list-style: none;
        margin-left: 0;
    }
    .bg-map{
      height: 300px;
    }
  }
}





