


.universal(){


  #body{
    max-width: 104rem;
    margin: 0 auto;
  }
  #main{
    max-width: 60rem;
  }


  #footer{
    p{
    text-align: center;
      
    }
  }

}

.small(){

  
}

.medium(){

  
}



.large(){

  
}



.retina(){

  
}



.print(){

  
}
