.cover() {
  .cover-inline{
    display: none;
  }
  html.cover {
    .cover-inline{
        display:block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        max-height: 50rem;
        z-index: -10;
    }
    &.study {
      .cover-inline{
          background: url(../images/bg-study.jpg) fixed;
      }
    }
    &.index{
      .cover-inline{
          background: url(../images/bg-index.jpg) fixed;
          max-height: 61.8rem;
      }      
    }    
    &.page{
      .cover-inline{
          background: url(../images/bg-index.jpg) fixed;
          //max-height: 61.8rem;
      }      
    }
    &.no-sticky{
      .cover-inline{
        background-attachment: initial;
      }
    }
    #header{
          &.light{
      margin-top: 2rem;
      transition: margin-top 1s;
      box-shadow: 0 1px 1px rgba(0,0,0,0);
      &:before{
        //transition: background 1s;
        background: rgba(255,255,255,0);
      }
      #logo-aternative{
        //background-color: #fff;
        margin-top:-2rem;
        transition: margin-top 1s;
        .item{
          fill: #fff;
          //transition: fill 1s;
        }
        #text{
          display: block;
        }
      }
      a{
        transition: color 1s;
        color: #fff;
      }
    }
    }
  }
}




.universal(){
  #body{
    > #header{
      //box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
  }
  #header{
    display: none;
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    z-index: 999;
    margin-top: 0rem;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    &:before{
      width: 300%;
      height: 100%;
      content: "";
      background: rgba(255,255,255,.97);
      display: block;
      position: absolute;
      left: -20%;
      z-index: -1;
    }
    .icon{
      position: relative;
      padding-right: 4rem;
    }

    .inner{
      width: 104rem;
      margin: 0 auto;
      position: relative;
    }
    #logo-wrapper{
      //text-indent: -999em;
      padding: 0;
      height: 44px;
      //position: absolute;
      //left: 0;
      z-index: 999;
   
    }
    #logo{
      width: 100%;
      .item{
        fill: #000;
      }
    }
    #logo-aternative{
      margin-top:0;
      //width: 200px;
      height: 100px;
      position: absolute;
      left: 42%;
      z-index: 999;
      border-radius: .4rem;
      #text{
        display: none;
      }
    }
    li{
      display: inline-block;
      list-style: none;
    }
    a{
      color: #000;

    }
    
    ul,h1{
      float: left;
      margin: 0;
    }

  }
  #header.display{
    display: block;
    // This is stuff is related to the analyse 
    &.inline{
      position: relative;
      margin-top: 40rem;
      margin-bottom: 40rem;
      &.first-header{
        margin-top: 20rem;
      }
      &.logo-left{
        #logo-wrapper{
          position: absolute;
          left: 0;
          top: 0;
        }
        #nav-main{
          margin-left: 43rem;
        }
      }
    }
  }

  html.no-sticky-header, html.no-sticky{
    #header{
      position: absolute !important;
    }
  }
  .cover();
}



.small(){
  #header{
    height: 3rem;
    height: 4.4rem;
    #logo{
      height: 3rem;
      margin-top: .5rem;
      margin-left: 23%;
      #circle{
        padding-left: 4rem;
      }
      #text{
        display: none;
      }
    }

    li{

      line-height: 3rem;
      line-height: 4.4rem;
    }
    .nav{
      display: none;
    }
  }

}

.medium(){
  #header{
    height: 4.4rem;
    #logo{
      height: 10rem;
      #circle{
        position: absolute;
        top: 0;
        left: 4rem;
      }
      #text{
        position: absolute;
        top: 3rem;
        left: 0rem;
      }
    }

    li{

      line-height: 4.4rem;
      margin-left: 0;
      margin-right: 1rem;
    }

    button{
      margin-top: .8rem;
    }
  }

}


.large(){
  #header{
    height: 6rem;
    #logo{
      position: relative;
      height: 4.4rem;
      margin-top: .8rem;
      #circle{
        position: absolute;
        top: 0;
        left: 4rem;
      }
      #text{

   
        position: absolute;
        top: 3rem;
        left: 0rem;
      }
    }
    li{

      line-height: 6rem;
      margin-left: 0;
      margin-right: 1rem;
    }
    button{
      margin-top: 1.2rem;
    }
  }

}